[2022-10-07 18:51] psipherious commented on #1222
With regards to where to stick the console.log, you tried in the wrong block section (76->92). I needs to go in the line 47 -> 60 block which starts with `async request(args)` rather than the `sendBatch(batch)` block:

Like so:
[code]

When I place it here, I get the following output to console:
[code]

[2022-10-07 22:14] 0xHyoga opened #3256 "Error while forking Avalanche C-Chain"
As of recently I keep getting this error when forking the Avalanche C-Chain and interacting with any contract. I follow the same steps and it works with every other chain.

1. `npx hardhat node --fork https://api.avax.network/ext/bc/C/rpc`
2. `hh console` in another terminal

Then in the console i create an instance of say the DAI contract for example but then I keep getting this error on any simp

[2022-10-08 05:02] smartcontracts commented on #2472
Heyo! Just wanted to check in here again. We're removing programmatic verification for now, but would be great to add that back in soon.

[2022-10-08 05:13] daniellidg opened #3257 "is there any plan to support Arbitrum Goerli testnet?"

[2022-10-08 09:12] beauwilliams opened #3258 "MalformedAbiError: Not a valid ABI caused by ./artifacts/circom files"
I'm using hardhat with the circom plugin and I am having a problem compiling contracts resulting in the mentioned error.

If I run `rm -r ./artifacts/circom` this fixed the problem. I think hardhat is detecting those files as an ABI which they aren't.

Is there a way to prevent this from occuring? I will need the `public.json` and `proof.json` in `./artifacts/circom/` for my unit tests.

I am calc

[2022-10-08 09:39] beauwilliams commented on #3258
I've fixed this on my end by not placing json files in ./artifacts

[2022-10-08 09:39] #3258 closed

[2022-10-08 10:28] jovijovi commented on #3195
It works :+1:

[2022-10-08 15:39] fvictorio commented on #3241
Sure! Let me know if you need some pointers.

[2022-10-08 16:09] fvictorio commented on #3256
@0xHyoga I can't reproduce this. We fixed a similar issue recently, are you sure you are using the latest version of Hardhat?

[2022-10-08 16:11] fvictorio commented on #3257
Yes, we should do this. Thanks for the reminder.

[2022-10-09 00:59] fvictorio commented on #3249
@skosito any chance of creating an [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this problem? I know that these kinds of issues are hard to reduce to its minimal expression, so the second best thing would be to have access to the repo and to have clear reproduction steps.

[2022-10-09 01:19] fvictorio commented on #3245
Thanks. We are going to release a (beta) version that works with viaIR soon.

[2022-10-09 03:15] fastchain commented on #3254
@fvictorio  hi!  I have no permissions to see the bug in Linear

[2022-10-09 11:10] 0xHyoga commented on #3256
Hi @fvictorio I was using hardhat v2.11.0. I just upgraded to v2.11.2 and it seemed to fix the issue. Thank you!

[2022-10-09 17:40] fvictorio commented on #3256
Glad to hear that!

[2022-10-09 17:40] #3256 closed

[2022-10-09 17:46] fvictorio commented on #1585
@fastchain any chance you can open a new issue with reproduction steps?

[2022-10-09 18:00] fvictorio commented on #3254
Hi @fastchain, thanks for opening this, I will take a look as soon as I have some time.

That's our internal issue tracker, but I'll post here anything I find.

[2022-10-09 20:23] stephanepericat commented on #3154
I still have this issue, can someone please help ?

[2022-10-10 03:40] akkien commented on #1933
Just for anyone's needs, in my case, the hardhat's default account balance (10000 ETH) is not enough.

So I solved the issue by setting the default account balance to a higher value (1000000 ETH in my case). See: https://hardhat.org/hardhat-network/docs/reference#accounts

[2022-10-10 11:10] matthewlilley opened #3263 "bytecode recorded on deployment suddenly not matching bytecode of artifacts"
We have various commits, such as this one throughout the history of the repository. This is the first where deployments were extracted so we have a copy of the bytecode upon deployment.

https://github.com/sushiswap/trident/commit/f730debcec2d50cb92e4b0c0200b1d81f81bb9b4

If you were to clone this repostiory and checkout this commit, run hardhat build & compare bytecode from artifacts e.g. Constan

[2022-10-10 14:36] skosito commented on #3249
thanks for reply, access to repo is not possible unfortunately, i will try to create reproducible example

[2022-10-10 14:44] #3176 closed

[2022-10-10 15:06] fvictorio commented on #3263
Can you share a link to that contract in the Polygon explorer?

[2022-10-10 15:07] fvictorio commented on #3263
Nevermind, I just saw that that is saved in the deployments. I'll look into this as soon as I have some time.

[2022-10-10 15:10] baileynottingham commented on #3154
I'm seeing the same issue that just started last night. A couple of days ago I was able to deploy the same contract and verify on Goerli with no issues. Now the script just hangs on this line

`Waiting for verification result...`

[2022-10-10 18:49] daniyaniazi commented on #1246
What is http proxy address , username , password , port ?

[2022-10-10 19:11] bghughes commented on #3212
Looking forward to this as our team needs `chainID 420` support 🙌

[2022-10-10 21:39] sarangparikh22 commented on #3263
There has been more development on this, so, we re-deployed and the bytecode and deployedBytecode on the deployments folder match as that of older deployments, however they are different from the artifact.

[2022-10-10 22:16] TranslatorDlique commented on #3251
I'm having the same issue verifying on the Goerli testnet. It seems to hang on

`Nothing to compile
Successfully submitted source code for contract
contracts/name.sol:name at 0x...
for verification on the block explorer. Waiting for verification result...`

It's been sitting on that for 20 minutes.

[2022-10-10 23:34] matthewlilley commented on #3263
@fvictorio Yeah, this appears to be a regression. If we deploy we're getting the correct bytecode, but generated artifacts never match the deployed contract. I'll touch up our artifacts manually for now until you have a chance to dig into this more deeply.

[2022-10-11 08:10] drortirosh commented on #3157
Please try to adhere to the de-facto standard (e.g. geth), and add whatever
extra data on top of that.
reasoning: with the addition custom errors, protocols add more elaborate
reverts than the standard Error(string)
This requires the client side to perform this parsing, not the provider
(which is ok. hardhat provider does its best to populate the "message"
field, but it can only do so if it can fi

[2022-10-11 08:59] Rishabhraghwendra18 opened #3267 "Hardhat node is not able to fork network"
I am forking a node using `yarn hardhat node --fork https://astar-mainnet.g.alchemy.com/v2/<api_key>` but it's giving me this error:
[code]

The node is working correctly as I am able to query the node using the `curl` command.

Sometimes even the `yarn hardhat node` works and sometimes doesn't work.

This is very strange for me as I have used hardhat on my machine but I haven't run into such a pr

[2022-10-12 09:54] DanielAtKrypton commented on #957
It works, see: https://github.com/TachyonicFinance/faster-than-light

[2022-10-12 10:08] mihaic195 commented on #957
@David-Kneel it works because you're not using typescript

[2022-10-12 10:49] David-Kneel commented on #957
@mihaic195, depending on your project requirements and timelines, it may make sense to transpile your typescript tests to js for the time being until hardhat provides full support to typescript + ESM, then switch back to typescript afterwards.

[2022-10-12 12:08] fvictorio commented on #2724
For anyone interested in this: we just published a version under the `ir` npm tag with some basic support for viaIR. As explained before, this is experimental support, and things like stack traces and inferred errors won't work as well as with the normal compilation pipeline.

You can try it out with `npm install hardhat@ir`.

[2022-10-12 15:58] emretepedev commented on #2724
It works well for me. I didn't get this error anymore:

`TypeError: Cannot read properties of undefined (reading 'sourceName')`

Thanks!

[2022-10-12 21:06] kevincheng96 commented on #3237
I'm not actually sure if it's the same issue as #3091, since we have been able to test custom errors in the past when the error was recognized. e.g. `    await expect(contract.doSomething()).to.be.revertedWith("custom error 'Unauthorized()'");`

Though I agree with you that the problem seems specific to the chai matchers error message. Are those error messages generated from `solidity-errors.ts` i

[2022-10-13 10:33] saisixthblock opened #3270 "hardhat context creation failed"

[2022-10-13 10:39] saisixthblock opened #3271 "Hardhat context is not created"

[2022-10-13 11:38] diegomunozme commented on #2990
"You have to do something like **npx hardhat run scripts/my-script.js**."
This worked for me. Adding my deploy scripts

[2022-10-13 19:09] Archethect opened #3272 "RPC response crash for debug_traceTransaction due to stringify"
Context:

I am setting up a local hardhat node in combination with blockscout to do some local tests.
When blockscout starts fetching data through the RPC endpoint, the hardhat node fails with the following error:

[code]

In my case the calls that brake it are:
[code]

Hardhat version: v2.10.1
Node version: v14

I suppose the issue is related to https://github.com/NomicFoundation/hardhat/pull/251

[2022-10-14 01:16] hiroshi-yamamoto-dublr commented on #2755
@fvictorio the problem is solved with the optimizer switched off.

Updated example:

[code]

With optimizer switched on, stack trace has erroneous (superfluous) `someModifier` frame:

[code]

With no code changes, but optimizer switched off:

[code]

[2022-10-14 01:23] hiroshi-yamamoto-dublr opened #3273 "Hardhat is unable to extract stacktrace if tx reverts inside await(expect contract.f())"
Code:

[code]

I disabled the optimizer, due to #2755, and wrote some test code, where I instantiate the `Test` contract as `contract`.

If I call the code using `await contract.f()`, I correctly get:

[code]

However, if I call the code using `await expect(contract.f()).to.be.revertedWith("Some wrong revert message")`, then I don't see the `Test.f` frame in the stacktrace:

[code]

This renders t

[2022-10-14 14:00] gitpusha opened #3274 "Feature Request: native solidity test coverage with delegatecall support"
An absolute killer feature for `hardhat` would be a similar thing like `jest --coverage` :

`npx hardhat test --coverage`

I am aware of `hardhat-toolbox` and `npx hardhat coverage`.

However, unlike the `solidity-coverage` plugin this should support generating coverage reports for contracts that use `delegatecalls` to run their implementation's code (e.g. Upgradeably Proxy contracts or Diamonds).

[2022-10-14 19:35] gaultierlecaillon commented on #2306
In the meantime, you can rename the js file and it will be skipped
![image](https://user-images.githubusercontent.com/10097341/195927823-8eba49a0-6437-476b-9eb7-bf042e4a9abb.png)

[2022-10-14 23:35] WarTech9 commented on #3212
But ser, wen release?

[2022-10-15 11:16] SeungWookHan commented on #2672
I'm struggling with this, too.
<img width="963" alt="image" src="https://user-images.githubusercontent.com/22572874/195983615-279c2b41-1ff9-417a-a90c-0e7a77939a91.png">

[2022-10-15 13:30] deadex-ng commented on #2247
When submitting `npx hardhat verify` the application does not verify successfully. It then states `Error in plugin @nomiclabs/hardhat-etherscan: The Etherscan API responded with a failure status.`
When I generate a new key, it says `Error in plugin @nomiclabs/hardhat-etherscan: Invalid API Key`

[2022-10-15 17:45] theodale opened #3276 "Chain ID during forking"
When forking a network, the chain ID should automatically be set to the chain ID of the forked network, instead of 31337 (the hardhat default).

[2022-10-16 14:40] victorshevtsov commented on #1731
I confirm. I'm facing the same issue.
Absolutely reproducible.

[2022-10-16 15:32] victorshevtsov commented on #3089
Does anybody have a solution for that?
This issue has been reported already #1731 but not solved yet.

[2022-10-16 16:34] victorshevtsov commented on #1731
It looks like the issue is in MetaMask browser extension.

It works just fine with MetaMask for Android.
All the transactions to `hardhat node` goes well when performed from mobile wallet but not from a browser extension.

I tried Chrome and FireFox extensions.

[2022-10-16 16:34] victorshevtsov commented on #3089
It looks like the issue is in MetaMask browser extension.

It works just fine with MetaMask for Android.
All the transactions to `hardhat node` goes well when performed from mobile wallet but not from a browser extension.

I tried Chrome and FireFox extensions.

[2022-10-16 18:57] jemi2k commented on #2314
first delete the folder then create it again then use --force --legacy-peer-deps, it works!

[2022-10-16 19:23] victorshevtsov commented on #3089
Finally I got it!
It took almost whole day to figure out what is the cause.

The default `chainId` of Hardhat node is `31337` and this causes the issue.
I changed it to `1337` and everything works now.

[code]

I'm sure the root of the problem is out there.
I hope somebody will figure it out and get it fixed eventually.

[2022-10-16 19:23] victorshevtsov commented on #1731
Finally I got it!
It took almost whole day to figure out what is the cause.

The default `chainId` of Hardhat node is `31337` and this causes the issue.
I changed it to `1337` and everything works now.

[code]

I'm sure the root of the problem is out there.
I hope somebody will figure it out and get it fixed eventually.

[2022-10-17 01:41] backseats commented on #3154
This started for me this morning. I can't verify anything, from complex to contracts to a simple one

[2022-10-17 04:40] youngqqcn opened #3277 "Error HH603: Hardhat flatten doesn't support cyclic dependencies."
[code]

[2022-10-17 04:50] sschepis commented on #2391
@sebasgoldberg thank you this is a huge help!!

[2022-10-17 09:24] WarrenPanDDDD opened #3278 "[hardhat test]block.number become 0 after wrapped in a function"
versions:
solidity 0.5.16;
hardhat 2.10.2

I have this sol code:
[code]

When I run test, I get these logs:
`blockNumber:  0
  getBlockNumber():  0
  block.number:  23
`

As you can see, `block.number` is working in hardhat test. But after it is wrapped in `getBlockNumber() `, it become 0.

[2022-10-17 09:34] moderate3012 commented on #2247
[code]

[2022-10-17 12:45] grGred commented on #3171
I have the same problem while verifying contract in Kava network with this guide.
https://docs.kava.io/docs/ethereum/contract_verification

[2022-10-17 13:46] MikeMoldawsky commented on #1159
Any progress here?

I have the same use case with a `Trezor` wallet?

[2022-10-17 21:56] olehmisar opened #3279 "Global typecheck opt-in"
In hardhat 2.11 projects are not checked by typescript unless `--typecheck` flag is specified. Is there a way to enable typecheck globally, so I don't have to specify it for each command I run (I prefer correctness over speed). If not, could this be implemented?

[2022-10-18 09:50] fvictorio commented on #3267
The node seems to be returning a transaction object where `accessList` is null (for a legacy transaction). As far as I can tell, this is [not spec compliant](https://ethereum.github.io/execution-apis/api-documentation/). Legacy transactions shouldn't include the `accessList` property.

I'm going to keep the issue open for now, but it's not very likely that we'll adapt our code to this response. In

[2022-10-18 09:56] fvictorio commented on #3270
Closing for lack of description.

[2022-10-18 09:56] #3270 closed

[2022-10-18 10:02] fvictorio commented on #2755
Thanks. I'm going to close this one because, at the moment, it's super hard to give proper line numbers when the optimizer is disabled, given that solc gives way less information when the optimizer is enabled.

[2022-10-18 10:02] #2755 closed

[2022-10-18 10:04] fvictorio commented on #3273
This is interesting, thanks for reporting it. I'm not sure what's the best solution here, maybe we can include the original error as a parent error of the revert. It's not super straightforward though.

[2022-10-18 10:10] fvictorio commented on #3212
Sorry, I forgot to mention that we already [released this](https://github.com/NomicFoundation/hardhat/releases/tag/%40nomiclabs%2Fhardhat-etherscan%403.1.1).

[2022-10-18 10:10] #3212 closed

[2022-10-18 10:13] fvictorio commented on #3276
Hi @theodale, this is done on purpose to prevent possible replay attacks. You can explicitly set the `chainId` in the config to match the one in the forked network.

That being said, this seems to be a common point of frustration. So maybe we could include a flag (disabled by default) that makes the chain ids match. We should document that it's a somewhat insecure thing to do but that it's fine if

[2022-10-18 10:15] fvictorio commented on #3277
Duplicate of https://github.com/NomicFoundation/hardhat/issues/1486

[2022-10-18 10:15] #3277 closed

[2022-10-18 10:20] fvictorio commented on #3278
I can't reproduce this:

[code]

[2022-10-18 10:22] fvictorio commented on #3251
@Enigmatic331 is this a known issue?

[2022-10-18 11:01] seromenho opened #3281 "Hardhat instance from a config file and be able to have multiple instances"
Is there already some way to have multiple hardhat instances with different configurations?
If there is please 🙏 let me know and you can ignore what's next...

I think it could be beneficial if we could create a hardhat instance from a specific config file.
Some advantages I can see:
1. There are some plugins that are incompatible with each other, so you could have an instance with some plugins lo

[2022-10-18 11:44] WarrenPanDDDD commented on #3278
alright, thanks for taking a look

[2022-10-18 12:31] andabakus commented on #2622
Hi @fvictorio - the link you mention with more details about the feature "that lets you add any network in your config" is broken. Can you share an update about what is current way of work for new networks? Thank you!

[2022-10-18 14:39] fvictorio commented on #1988
I'm going to close this one because node 17 has already reached end of life and, as far as I know, this works well with node 18.

If someone has some problem around this, please open a new issue with reproduction steps.

[2022-10-18 14:39] #1988 closed

[2022-10-18 18:59] fvictorio commented on #2622
Sorry about that @andabakus, I fixed the link in my comment.

[2022-10-18 19:02] fvictorio commented on #3278
Tentatively closing this, but if you are still running into this problem and can give me precise reproduction steps, I will re-open it.

[2022-10-18 19:02] #3278 closed

[2022-10-18 19:11] fvictorio commented on #3157
Maybe it was a mistake to not do the same thing as geth here (I'm not really sure, I think some other nodes have a different format for example), but changing it now would be a significant breaking change. I don't want to be rude and close this as a wontfix but if I have to be honest it's unlikely we'll change it.

[2022-10-18 19:12] fvictorio commented on #3191
I'm closing this for bookkeeping reasons, but I'll re-open it if someone can provide an MRE.

[2022-10-18 19:13] fvictorio commented on #3213
Hey @iraklid, did you figure this out?

[2022-10-18 19:13] olehmisar commented on #3279
Ah, I see the problem. A "hacky" way to make the `typecheck` config variable would be to run `tsc --noEmit` after `hardhat.config.ts` is loaded and abort if type errors were found.

However, I am not sure whether it's worth doing that as my use case may be pretty rare.

Also, seeing this change as minor change might be confusing to some users(as it was for me). It looks more like a major(breaking)

[2022-10-18 19:14] fvictorio commented on #3216
Closing for lack of further details. We monitor closed issues though, so I'll re-open it if you can add more information.

[2022-10-18 19:14] #3216 closed

[2022-10-18 19:20] olehmisar commented on #3273
Are you using ethereum-waffle or hardhat-chai-matchers? I had the same issue with ethereum-waffle.

[2022-10-18 19:28] fvictorio commented on #3254
Hi @fastchain, can you give me more detailed reproduction steps? What would be an example of a factory address here? Is this meant to be run in a fork?

If you can give me a detailed list of steps so I don't have to figure out how the project works, that would be ideal.

[2022-10-18 19:33] fvictorio commented on #3279
I agree with this, this certainly can be considered a breaking change. In this case we considered that the potential benefit for users (way faster in the general case) was worth not waiting for the next major, since we don't do that often. It might've been the wrong call though :sweat_smile:

[2022-10-18 20:30] #3157 closed

[2022-10-19 06:14] amanusk commented on #3216
grr.. missed your first notification. apologies.
Yes, removing this from `tsconfig` fixed the issue, completion working fine now!
Thank you. This can indeed me closed.

[2022-10-19 10:12] santiac89 commented on #3158
I'm facing similar issue, in my case the structure is:

[code]

After a few times using one or another (A or B) it fails with the nested error code.

[2022-10-19 10:15] fvictorio commented on #3195
Thanks everyone, this help me find an extremely weird bug in Hardhat and made me realize I had a big hole in my mental model of how node works. Fun stuff.

We'll include a fix for this in our next release.

[2022-10-19 10:27] arijoon commented on #3226
I was unable to find a way of implementing my suggestion above, for the meantime added a skip env variable:
https://github.com/NomicFoundation/hardhat/pull/3283

as commented in the PR, I would highly suggest the check is completely removed, it serves little purpose to restrict the cli in case there'll be a plugin error (the check is too strict and implementation doesn't cover all cases of local i

[2022-10-19 15:20] cnohara commented on #957
I've been using this hardhat esm branch for the past week and noticed the same behavior described here [https://github.com/NomicFoundation/hardhat/issues/957#issuecomment-1257640807](url) .

Basically, although hardhat is installed, at some point, it seems to reset and any command to it shows the initial project generator screen.  The only "fix" is to do the npm install of the esm branch again.  A

[2022-10-20 08:15] Nathan-SL commented on #2496
+1 For this feature

[2022-10-20 08:21] fvictorio commented on #3281
I'm going to close this one as a duplicate of #3042. If someone feels strongly that this is a different issue, please let me know.

[2022-10-20 08:21] #3281 closed

[2022-10-20 08:31] #3188 closed

[2022-10-20 08:48] seromenho commented on #3281
Hi @fvictorio thank you. It seems to me that #3042 addresses this.

[2022-10-20 13:41] jasonthehung opened #3286 "The Hardhat Network tracing engine could not be initialized."

[2022-10-20 13:51] fvictorio opened #3287 "Don't accept async functions in extendConfig"
If an async function is passed to `extendConfig` and an error is thrown within it (for example, a config validation error), the process will finish successfully anyway.

There are two ways we can do this:

1. In runtime, just checking if the value returned by `extendConfig` is a thenable and throwing an error if it is
2. With typescript, by rejecting functions that return a promise (this is involv

[2022-10-20 13:53] fvictorio commented on #3287
Btw, for future reference, this is how you do this in typescript:

[code]

[2022-10-20 14:35] sashaaldrick commented on #1966
This is preventing us from deploying on Celo/Alfajores as we require local hardhat forking/ethers compatibility for testing and security checks. Any chance you know anyone over at celo who is working on this at the moment?

[2022-10-20 17:32] wei3erHase commented on #3212
still cannot achieve it, changed the order of the config declaration, updated it to v3.1.1, but still ignores the request.
detail, my network is not called `optimisticGoerli`, but called `receiver`, still points to 420. same setup works for goerli verifications, which network is called `sender`

[2022-10-20 19:12] Boyjerbz commented on #1890
didnt work

[2022-10-20 20:32] b-pmcg commented on #2995
any chance to get this working with `ignoreUnknownTxType: true` in the config?

[2022-10-20 22:18] CodeLarkin commented on #2995
@feuGeneA Quite a bit of continued interest in this good ser!

[2022-10-20 22:26] CodeLarkin commented on #2995
I couldn't get it to work with the 2.11.2 patch file provided so I modified it to use `true` in a bunch of places instead of that cli arg. Basically I hardcoded it to true. I am not sure how to create a github gist link like the others here, but here is my patch file: https://github.com/CodeLarkin/hardhat-patch-arbitrum/blob/main/hardhat%2B2.11.2.patch

My `package.json` deps include the following

[2022-10-21 02:45] vonhathanh commented on #2995
I'm testing smart contract on arbitrum now, this feature is really need to simulate test cases

[2022-10-21 10:44] WarTech9 opened #3288 "Contract verification on Optimism Goerli displays wrong URL"
After verifying a contract with hardhat-etherscan plugin, a message is displayed showing the successful status and the URL to the newly verified contract on Etherscan:

[code]

The URL displayed points to https://goerli-optimistic.etherscan.io

Opening this URL does not work because the block explorer URL for goerli is https://goerli-optimism.etherscan.io/ (optimism not optimistic).

While Ethersc

[2022-10-21 10:45] WarTech9 commented on #3212
Awesome! Great news. Works as expected but one cosmetic issue with the URL displayed to etherscan page being wrong. Opened an issue here: https://github.com/NomicFoundation/hardhat/issues/3288

[2022-10-21 10:59] piersy commented on #1966
@sashaaldrick I am currently working at Celo, this is on our radar but we are not currently working on resolving this.

[2022-10-21 15:23] fvictorio commented on #957
@cnohara does that happen after you install something?

[2022-10-21 15:23] fvictorio commented on #957
@cnohara does that happen after you install something?

[2022-10-21 15:55] fvictorio commented on #3288
Great catch, thanks a lot for reporting this @WarTech9!

[2022-10-22 01:15] H20119 commented on #3200
having the same issue, did you find a solution yet ?

[2022-10-22 01:16] H20119 commented on #3200
having the same issue, did you find a solution yet ?

[2022-10-22 01:17] H20119 commented on #3200
having the same issue, did you find a solution yet ?

[2022-10-22 02:16] cnohara commented on #957
@fvictorio I just tested and this definitely triggered hardhat to revert to its initial state.  Actually, this also occurred when just uninstalling a package as well.  I'm not sure if the install/uninstall are the only times this is triggered, but definitely true in my case.  Is this intended behavior or did I do something wrong on my side?

[2022-10-22 07:46] lity opened #3289 "Feature request: option to start Hardhat network from last saved status."
Now Hardhat alway start from scratch, but developers often need to set it to some status ( by deploying contract, setting account, sending transactions...) and then continue to work.

I think it'll be very helpful to start Hardhat from a checkpoint, so developers don't need to do repeated boring work to restore Hardhat status.

[2022-10-22 10:41] Rotemy commented on #1903
Any news about this?

[2022-10-22 17:52] shirotech opened #3290 "network specific code"
Hi there, I've been searching but have not found if this feature is possible.

Is there a decorator which allows if the specific block of code is only for a specific network?

E.g. we have some init code for unit test, but would like it removed when compiling for mainnet. What is the way to go about this not having to mess around with adding and removing code? Thank you.

[2022-10-22 19:12] cahlan commented on #3196
I'm having the same issue. Not sure why Cloudflare is blocking... does it have to do with the request payload size and some config on the polygon side that's causing it to view these incoming verification requests as malicious? I've deployed and verified contracts using the same process on Goerli, ETH Mainnet with no problem. Contracts deployed to Mumbai are unverifiable through this method curren

[2022-10-22 22:06] theodale commented on #3276
Thanks for the reply @fvictorio, seems like a sensible decision. Out of interest, how would the replay attack occur? Is the forked network not local?

[2022-10-23 00:40] SJ50 commented on #2265
With 1password8 you can retrieve password using CLI, and I use "@1password/op-js" package to retrieve private key stored in 1password.
sample code below will retrieve private key stored as item "Metamask" as type "password" with label "Deployer".

[code]

[2022-10-23 19:09] Bethanhelen opened #3292 "am having issues deploying my token to goerli testnet"

[2022-10-24 05:45] gzeoneth commented on #2995
Try to use the 2.10.2 patch in the original post.

[2022-10-24 05:46] gzeoneth commented on #2995
@fvictorio updates?

[2022-10-24 06:29] Cryptolibertarian-id opened #3293 "Hardhat Tutorial is Break"
Hello Teams, we just follow the tutorial from here :

https://hardhat.org/tutorial

After the step of installing Hardhat Toolbox we are going to make testing using chai,
but when we run :

`npx hardhat test`

the result is :

`ReferenceError: chai is not defined`

My Operating system is Windows 10,
My node js version is v 16.16.0
My npm version is 8.19.2

[2022-10-24 10:22] kostissss commented on #3196
Im having the same issue too!
I can verify my other contracts except of one that it says this block thing

[2022-10-24 10:35] fvictorio commented on #2995
Hi everyone. We just published a beta version of Hardhat that should fix this issue. I would appreciate it if you can give it a try:

[code]

(If you are using npm 7 or later, you might get some warnings about unsatisfied peer dependencies, but you can ignore those.)

If this seems to be working fine, we'll publish a stable version with this change as soon as possible.

Please try it out and let u

[2022-10-24 10:36] fvictorio commented on #3194
Hi, we just published a beta version of Hardhat that should fix the forking issue. I would appreciate it if you can give it a try:

[code]

(If you are using npm 7 or later, you might get some warnings about unsatisfied peer dependencies, but you can ignore those.)

If this seems to be working fine, we'll publish a stable version with this change as soon as possible.

Please try it out and let us

[2022-10-24 12:20] ZacxDev opened #3294 "User should be able to set solc compiler path to be used by hardhat"
I am a NixOS user and the binary that hardhat auto-downloads does not work on my system (I'm not actually sure why, dynamic deps all seem to be there but the compiler fails to run with 'ENOENT' so I'm guessing some dependency somewhere is missing)

I would like to be able to explicitly set a compiler path in the config file.

For now, I've hacked a solution via a symlink, but an official solution

[2022-10-24 16:12] r0qs opened #3295 "Error while loading custom solidity compiler"
### The Problem

When attempting to use a custom solidity compiler that was not released yet the hardhat-core tests fail with `HardhatError: HH11: An internal invariant was violated: Trying to get a compiler before it was downloaded` since the `_getCompilerBuild` function returns `undefined` because the compiler version does not exist in the `list.json`.

https://github.com/NomicFoundation/hardhat

[2022-10-24 16:57] vinniejames commented on #3136
Drafted some changes based on ticket description here https://github.com/NomicFoundation/hardhat/pull/3296/files

[2022-10-24 21:14] niconiahi commented on #2455
it would be a really nice feature to have. I would like to integrate with my already in use `vitest` package

[2022-10-25 13:56] calmacfadden commented on #1430
Assuming you already have the optimizer enabled then you need to add the allowUnlimitedContractSize: true config to the hardhat.config.js file, but start with enabling the optimizer first.

[code]

[2022-10-25 15:22] cameel commented on #3295
A bit more context: looks like it's not simply about `HARDHAT_TESTS_SOLC_VERSION`. The whole mechanism for supplying a custom binary seems broken. In cases where the version is one of the released versions, Hardhat tries to use a downloaded binary instead of the one specified in `HARDHAT_TESTS_SOLC_PATH`. And with 0.8.16 it was passing for us only due to cache. After removing cached compiler binar

[2022-10-25 22:51] b-pmcg commented on #2995
ty @fvictorio! the beta is working for me, I'm able to fork the goerli arbitrum network successfully using the hardhat config. Will keep testing with this package and let you know if I run into issues.

[2022-10-25 23:10] hadfieldn commented on #3272
Running into this issue as well.

[2022-10-25 23:12] hadfieldn commented on #2165
not stale

[2022-10-26 03:28] andy191x commented on #2995
Nice job! The beta is working for me as well.

Installing the beta alone seems to hiccup on the `hardhat-toolbox` requirement, but I was able to workaround by installing the latest hardhat stable first, then `hardhat-toolbox`, then finally the beta. For example:

[code]

[2022-10-26 05:33] rkdud007 opened #3298 "Cannot adjust EIP-1559 gas mechanism with hardhat deploy"
Hi, I am currently researching about how to set optimize gas with hardhat that can send my deployment more faster. I try to do this by hardhat.config.js file.

goerli: {
      url: `https://eth-goerli.g.alchemy.com/v2/${process.env.ALCHEMY_API_KEY}`,
      accounts: [process.env.PRI_KEY],
      gasPrice: 204369036266,
    },

I saw these 'gasPrice' [worked well ](https://goerli.etherscan.io/tx/0xb

[2022-10-26 06:14] TheRook commented on #3217
I go to crypto conferences, and the world needs to know how hardhat's terrible error messages eat up days of development time and how the "NomicFoundation" is passive aggressive and refuses to improve their software - even after they are informed of how to do so.

[2022-10-26 07:46] j6i commented on #1159
Can I upgrade a proxy contract with this?

[2022-10-26 08:09] rkdud007 commented on #3298
I did find a way to apply 1559 in a roundabout way. But it will be better if hardhat support this on hardhat.config.

`
  const FEE_DATA = {
    maxFeePerGas:         ethers.utils.parseUnits('100', 'gwei'),
    maxPriorityFeePerGas: ethers.utils.parseUnits('5',   'gwei'),
    baseFeePerGas : ethers.utils.parseUnits('20',   'gwei'),
};

  // Wrap the provider so we can override fee data.
  const pr

[2022-10-26 09:51] fvictorio commented on #2248
Hi everyone, I'm revisiting this issue after a long time, and this is what I found using the latest version of ethers:

1. If you make a call to a view function that reverts, you get the proper reason string in the error message. In some old versions this wasn't working, but it seems to work fine now.
2. When you make a gas estimation and the transaction reverts, you get the `UNPREDICTABLE_GAS_LIM

[2022-10-26 09:51] #2248 closed

[2022-10-26 10:06] fvictorio commented on #2995
@andy191x yes, that's an unfortunate side effect of the way npm 7+ handles peer dependencies combined with how semver handles prerelease versions :disappointed:

[2022-10-26 11:12] ShravanSunder commented on #586
@alcuadrado any plans for plug n play compatibility for hardhat?

[2022-10-26 14:04] ArtCube01 opened #3300 "Unrecognized task init"

[2022-10-26 21:34] skosito commented on #3249
@fvictorio i am sorry for delay, but here is repo  i put up with min reproduction https://github.com/skosito/hardhat-load-fixture-min-repro, to reproduce just run
[code]

[2022-10-26 23:24] albatros-github commented on #2547
this worked for me:

HARDHAT_NETWORK=mumbai ts-node utils/verify.ts 0xabDFaaaaae232abc3Ed...

* verify.ts script:
`
import { run } from "hardhat"

const verify = async (contractAddress: string, args: any[], contract?: string) => {
  console.log("Verifying contract...")
  try {
    if (typeof contract !== 'undefined') {
      await run("verify:verify", {
        address: contractAddress,
        co

[2022-10-26 23:37] albatros-github commented on #3196
same issue here with mumbai

[2022-10-26 23:41] LI-YONG-QI commented on #3196
I solved this problem by removing a library, but I don't know why it works

[2022-10-27 00:29] TheRook commented on #3217
I don't know why it doesn't report line numbers, or even how to get it to tell me where the error is or how to fix it.   If you are looking for an event and its missing - then show what events were emitted or what was returned.

The authors of this project must have never used this code, this is the most baffling and time wasting testing tool i have ever used in my entire 15 year carrier of softwa

[2022-10-27 00:31] TheRook commented on #3217
I was nice... we still have 20+ failing tests for the first time we opened the bug report for this issue.

I never want to work in QA for solidity ever again, i cry myself to sleep because of you.

[2022-10-27 00:42] albatros-github commented on #3196
@LI-YONG-QI do you remember the name? in my case it appears that cloudflare is blocking my requests

[2022-10-27 01:14] LI-YONG-QI commented on #3196
I removed "StringsUtil" library, the library is provided by ERC3664

This is StringsUtil source code
[code]

 I don't know why it was blocked, maybe you can try to verify on other networks
Hope this is useful to you

[2022-10-27 06:39] brougkr commented on #3298
Here is a solution for you:
`  const feeData = await hre.ethers.provider.getFeeData();
  const Contract = await hre.ethers.getContractFactory(CONTRACT_NAME)
  const contract = await Contract.deploy({
    maxPriorityFeePerGas: feeData.maxPriorityFeePerGas,
    maxFeePerGas: feeData.maxFeePerGas,
    type: 2
  })`

[2022-10-27 08:01] rkdud007 commented on #3298
thanks @brougkr:) I want to figure out if we can do this on hardhat.config.js!

[2022-10-27 08:45] #3288 closed

[2022-10-27 09:44] fvictorio commented on #3288
Fixed in [@nomiclabs/hardhat-etherscan@3.1.2](https://github.com/NomicFoundation/hardhat/releases/tag/%40nomiclabs%2Fhardhat-etherscan%403.1.2).

[2022-10-27 09:45] fvictorio commented on #3257
Released in [@nomiclabs/hardhat-etherscan@3.1.2](https://github.com/NomicFoundation/hardhat/releases/tag/%40nomiclabs%2Fhardhat-etherscan%403.1.2).

[2022-10-27 09:51] fvictorio commented on #3195
Fixed in [hardhat@2.12.1](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.12.1).

[2022-10-27 12:56] sashaaldrick commented on #2995
Worked perfectly for me! Forking now works with Arbitrum Goerli as usual. Thanks so much @fvictorio 👍

[2022-10-27 15:12] #2995 closed

[2022-10-27 15:30] Enigmatic331 commented on #3251
Haaaaah. 🥲  So for the past couple weeks (!) we had been trying to work with much higher demand than usual, which likely resulted in verification being delayed for everyone. All contracts should eventually be verified (unless there's a bytecode mismatch), albeit delayed.

Had been working on a couple things to scale, so hopefully now it's better for everyone! Feel free to ping if anything isn't wo

[2022-10-28 08:16] Skyge commented on #3194
@branzinho-nt  I think you use something from `@nomicfoundation/hardhat-network-helpers`, such as `time`.

[2022-10-28 12:31] fvictorio commented on #957
@cnohara can you share the `hardhat` entry in your package.json's dependencies?

[2022-10-28 12:32] fvictorio commented on #3286
@jasonthehung do you have reproduction steps?

[2022-10-28 12:38] fvictorio commented on #3289
Hi @lity, this is certainly on our roadmap and I agree it would be very useful. I can't give an ETA of when we'll land this feature though.

[2022-10-28 12:38] fvictorio commented on #3290
You mean adding and removing Solidity code for different networks?

[2022-10-28 12:40] fvictorio commented on #3293
@Cryptolibertarian-id can you share the output of `npm ls`?

[2022-10-28 12:43] fvictorio commented on #3276
If you are using an account that has funds in mainnet and sign a transaction in Hardhat for a forked network (or even local network) with chain id 1, and if that transaction is valid in mainnet (correct nonce, etc.), _and_ if someone has access to that signed transaction, then it can be just propagated and mined in mainnet.

It's a somewhat contrived example, but not impossible.

[2022-10-28 12:43] #3292 closed

[2022-10-28 12:50] fvictorio commented on #3300
Hardhat doesn't have an `init` task. I guess you copied and pasted a command from a tutorial or something similar; if that's the case, can you ping the author and ask them to fix that?

[2022-10-28 12:50] #3300 closed

[2022-10-28 12:51] fvictorio commented on #3249
Thank your for creating the repro @skosito, I'll take a look as soon as I have some time.

[2022-10-28 12:56] #3217 closed

[2022-10-28 13:00] fvictorio commented on #3298
Hi @rkdud007, thanks for opening this. I changed the title of the issue to better reflect what I understand you're asking, but let me know if I'm reading it wrong.

[2022-10-28 13:06] fvictorio commented on #3251
I'm going to tentatively close this issue then, thanks @Enigmatic331!

[2022-10-28 13:06] #3251 closed

[2022-10-28 13:12] fvictorio commented on #3294
Hi @ZacxDev, I think there are two things to respond here.

The `ENOENT` issue was fixed in the latest release, so could you upgrade Hardhat and try again? The reason that happens is (probably) that you are using a system that doesn't have the `ld` loader ([this](https://jvns.ca/blog/2021/11/17/debugging-a-weird--file-not-found--error/) is a good explanation of the issue). The fix will recognize t

[2022-10-28 13:13] fvictorio commented on #3108
I'm going to close this one for bookkeeping reasons. If someone can provide a reproduction example, I will re-open it.

[2022-10-28 13:13] #3108 closed

[2022-10-28 13:13] fvictorio commented on #3118
Closing this for lack of reproduction steps.

[2022-10-28 13:13] #3118 closed

[2022-10-28 13:14] fvictorio commented on #3171
Closing this because, as far as I understand, there's not much we can do on our side.

[2022-10-28 13:43] grGred commented on #3171
On kava network the problem might be in old microservices of Kava scanner.
Issue link: https://github.com/blockscout/blockscout/issues/6275#issuecomment-1291692298

[2022-10-28 14:05] qwerty199991 commented on #1566
I got the same error and after reading comments above I got it:
I deployed it without --network localhost so following actions even with --network localhost caused error.

[2022-10-28 17:53] 0xTimepunk opened #3307 "Time modification methods, such as evm_increaseTime not working - hardhat 2.12.1"
Create a function to increase time

[code]

run `await increaseTime(time)` with any time parameter. The evm_increaseTime runs, as it appears on the hardhat node, but the block.timestamp does not increase. It's weird because this used to work?

[2022-10-28 17:56] #3307 closed

[2022-10-28 22:51] frangio opened #3309 "Remove mention of "underflow" in error messages"
"Underflowed" should be removed from the error message below. The correct term for integer arithmetic is "overflow" even if the number goes below 0. [Underflow](https://en.wikipedia.org/wiki/Arithmetic_underflow) refers to a floating point number becoming too small.

https://github.com/NomicFoundation/hardhat/blob/dbf7c0b33001ebca01ac3737e8599ef251cf0de7/packages/hardhat-core/src/internal/hardhat-

[2022-10-29 00:07] webMing opened #3310 "Hardhat node: eth_sendRawTransaction:Nonce too high"
MetaMask connected to localhost with imported account, when sending ETHS getting something wrong.

[code]

[2022-10-29 00:13] shirotech commented on #3290
In a way, yes.

[2022-10-29 04:06] rkdud007 commented on #3298
@fvictorio yup thanks for better title!

[2022-10-30 03:04] rao261488647 commented on #2684
Thanks, is't cool~

[2022-10-30 03:04] rao261488647 commented on #2684
Thanks, it's cool~!

[2022-10-30 07:49] avenbreaks opened #3311 "ReferenceError: Cannot access 'Contract' before initialization"
[code]

`deploy.js`

[code]

[2022-10-31 10:37] slesolliec commented on #957
1) installed hardhat@esm
2) changed my hardhad.config.js filename to hardhat.config.cjs
3) changed my ugly require() in my scripts to beautiful imports
4) fixed a few glitches which are not related to hardhat, but to small differences between commonJS and ESM

Tadam !!!! I works like a breeze.

And now I can use HH with the rest of my ESM codebase, which is a real pleasure because I work with Svel

[2022-10-31 14:06] azerpas opened #3314 "Error in plugin @nomiclabs/hardhat-etherscan: Invalid API Key 2"
## Reproductible
[code]

## Error
[code]

I've tried with two different API keys from Etherscan.

[2022-10-31 16:51] fvictorio commented on #2967
Closing for lack of reproduction steps.

[2022-10-31 16:51] #2967 closed

[2022-10-31 17:26] fvictorio commented on #1667
Hey @0xdavinchee, I'm revisiting old issues and this one seems to me to no longer be happening. I believe this was a problem with ethers or hardhat-ethers that we fixed since then.

I'm going to close it now, but please let me know if it's still happening.

[2022-10-31 17:26] #1667 closed

[2022-10-31 17:35] fvictorio commented on #1685
Hi everyone. This seems to either not be happening anymore, or it's very infrequent and reproducing it is hard, or it's related to an issue related to timeouts that it's already reported in a different issue (#3136).

In any case, I'm going to close it for bookkeeping reasons, but feel free to comment or open a new one if you run into this and have reproduction steps (even if part of the reproduct

[2022-10-31 17:35] #1685 closed

[2022-10-31 17:39] fvictorio commented on #2516
Closing for lack of reproduction. If someone knows how to trigger this problem, please comment here or (preferably) open a new issue.

[2022-10-31 17:39] #2516 closed

[2022-10-31 17:39] #2983 closed

[2022-10-31 17:40] fvictorio commented on #3121
Closing for lack of reproduction example.

[2022-10-31 17:40] #3121 closed

[2022-10-31 17:46] fvictorio commented on #3097
Hi folks. In these cases, you should use a [BigInt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) value instead of a number. That is, instead of `10000000000000000000`, you should use `10000000000000000000n` (notice the trailing `n`).

That being said, we should show a better error in these scenarios. I'm going to open a new issue for that, and close this

[2022-10-31 17:47] fvictorio opened #3315 "[Chai Matchers] Better error message when non safe number is used"
See https://github.com/NomicFoundation/hardhat/issues/3097.

[2022-10-31 17:47] #3097 closed

[2022-10-31 18:02] fvictorio commented on #3187
Weird that it does work for solidity files. Thanks for reporting this @RomarQ.

[2022-10-31 18:04] fvictorio commented on #3201
Hi @ottodevs, do you think there's something we can do on our side?

[2022-10-31 18:05] fvictorio commented on #3208
This might be a wrong diagnostic, telling you that the problem is a "contract too large" when it's actually running out of gas. Can you try increasing the gas limit of the transaction?

[2022-10-31 18:30] Pafaul commented on #3097
Thanks for the information!

[2022-10-31 18:34] czelios opened #3316 "Testing for array of structs"
Hi!

There is a problem while creating an array of structs, it takes way too much time.
Look at the screenshots:

![image](https://user-images.githubusercontent.com/64157503/199083238-d6b71306-423f-4f17-b896-5a8ab397f2df.png)

![image](https://user-images.githubusercontent.com/64157503/199083403-481e7446-09b4-497c-8653-7a96fe2bf5fc.png)

![image](https://user-images.githubusercontent.com/64157503/

[2022-10-31 20:06] MasonTDaniel commented on #2165
experiencing this issue still

[2022-11-01 00:47] ottodevs commented on #3201
Maybe there is a potential solution to generate the correct executable permissions for symlinked executables, as there are so many libraries that work correctly that way, but at this moment I am not sure what would be the potential fix... right now the workaround is adding that `.npmrc` flag, but that is probably degrading pnpm experience, since preventing symlinked executables will use more disk

[2022-11-01 10:16] fvictorio opened #3318 "[Chai Matchers] Handle struct values in comparisons"
If you have a function that returns a struct, you cannot do this:

[code]

The reason is that the object returned by ethers is something like:

[code]

This means users have to either compare the result field by field, or convert the ethers value to something that can actually be compared.

Two ideas:
- Detect that an object like this is being compared, and ignore the properties that are "array-li

[2022-11-01 10:23] fvictorio commented on #3311
Typo:

[code]

[2022-11-01 10:23] #3311 closed

[2022-11-01 10:30] fvictorio commented on #3310
This normally means that you connected Metamask to a Hardhat node and then restarted the node, so the nonce is out of date. Try resetting the account (Settings -> Advanced -> Reset account).

[2022-11-01 10:30] #3310 closed

[2022-11-01 10:31] fvictorio commented on #3309
TIL. Thank you.

[2022-11-01 10:35] fvictorio commented on #3200
The project initialization tries to avoid overwriting files, and so it stops if there are existing files that clash with the ones that Hardhat would create. In this case, you can do something like this:

[code]

The project initialization could be smarter here though, but we already have an issue open about that, so I'm going to close this one.

[2022-11-01 10:35] #3200 closed

[2022-11-01 10:36] #3213 closed

[2022-11-01 10:47] fvictorio commented on #3230
Does this still happen if you change this line:

[code]

(Notice I removed the `loadFixture` call)

In general, `loadFixture` calls shouldn't be nested. A fixture can call another fixture, but it shouldn't use it with `loadFixture`. In fact, this should've caused an error, I'm not sure why it didn't happen.

[2022-11-01 10:55] itinance commented on #3230
Thanks for mentioning that fixtures should not call `loadFixture` itself when resolving dependencies amongst them!

I remove it accordingly, but the issue still persists.

[2022-11-01 11:23] fvictorio commented on #3230
Ok, I know what's going on here.

When you do this:

[code]

`boxV1.address` is the address of the upgradable proxy, not of the box implementation. If you want to use the box implementation, you can do this:

[code]

Of course, if you then upgrade the contract, the ones created by the factory won't get upgraded (because you are using the implementation directly). I'm not sure how you would accompl

[2022-11-01 11:24] fvictorio commented on #3230
I'm curious about this though:

You should get the same problem in live networks too :confused:

[2022-11-01 11:26] fvictorio commented on #3237
I'm going to assume that this problem is solved by using the `revertedWithCustomError` matcher. Please comment here if that's not the case.

[2022-11-01 11:26] #3237 closed

[2022-11-01 11:37] fvictorio commented on #3249
Ugh, I see what's going on now. This seems to be a bug of our current implementation.

Thanks a lot for the reproduction example, it was super useful.

[2022-11-01 12:11] fvictorio commented on #3254
Hi @fastchain, any chances of giving me detailed steps or, even better, creating a minimal reproduction example?

[2022-11-01 12:12] fvictorio commented on #3267
Closing because I don't think there's much we can do here.

[2022-11-01 12:12] #3267 closed

[2022-11-01 12:14] fvictorio commented on #3272
Thanks for reporting this @Archethect, I can confirm this is a bug.

[2022-11-01 12:16] fvictorio commented on #3290
No, there's no built-in way to do that, and it's unlikely we would add something like that to Hardhat core.

I'd suggest you take a look at https://github.com/wighawag/hardhat-preprocessor, since you could build something like this on top of that (by checking the value of `hre.network.name` in the preprocessing function or something like that). It's not easy, but it should be doable.

[2022-11-01 12:16] #3290 closed

[2022-11-01 12:17] fvictorio commented on #3293
Closing for lack of response.

[2022-11-01 12:17] #3293 closed

[2022-11-01 12:20] fvictorio commented on #3314
@azerpas can you share how your Hardhat config looks like (without sharing the actual API keys, of course, just replace the value with `xxxxx` )?

[2022-11-01 12:24] fvictorio commented on #3316
@czelios can you share a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? Trying to reproduce this from screenshots will be too time-consuming otherwise.

[2022-11-01 12:26] fvictorio commented on #3201
Thank you. I'm going to close it mainly for bookkeeping reasons but we do monitor closed issues. If you or anyone else has any idea of how to approach this, please leave a comment here.

[2022-11-01 12:26] #3201 closed

[2022-11-01 12:56] azerpas commented on #3314
Sure, sorry:
[code]

Note that the verify is working on Ethereum Goerli

[2022-11-01 12:59] azerpas commented on #3314
@fvictorio I've also tried with etherscan set to something like this:
[code]

[2022-11-01 13:20] itinance commented on #3230
@fvictorio Thank you very much! This explains and solves everything!

[code]

[2022-11-01 14:59] fvictorio commented on #3230
Glad to hear that! I'm going to close this issue then.

[2022-11-01 15:09] fvictorio opened #3319 "[hardhat-core] Add a mechanism to get a build info from a contract name"
The `Artifacts` interface has a `getBuildInfo` method, but this only accepts FQNs. If you want to get a build info from a contract name, you are on your own. We should either:

- Expand that function to also accept plain contract names
- Add some way to get an FQN from a contract name (that throws the proper error if there's an ambiguity)

I prefer the second option.

[2022-11-01 15:58] ZumZoom commented on #3158
Facing the same issue with exact same setup. When loading fixtures in order B -> A -> B, second B load always fails.

[2022-11-01 16:48] unparalleled-js commented on #2971
This would be really helpful! :)

[2022-11-01 17:12] skosito commented on #3249
@fvictorio thank you for checking it out, let me know if there is a way to help more, happy to contribute if possible

[2022-11-01 19:42] fvictorio commented on #2995
This fix is now included in the [latest release](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.12.2).

[2022-11-01 19:42] fvictorio commented on #3194
This fix is now included in the [latest release](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.12.2).

[2022-11-01 20:28] azerpas commented on #3314
@fvictorio I've just printed it inside `hardhat.config.ts` just above the config definition and the `ETHERSCAN_API_KEY` env is set correctly. Note that the verify is working on Ethereum Goerli

[2022-11-01 21:39] itinance commented on #3158
Came across this having the same setup facing the same issue.

[2022-11-01 22:43] skosito commented on #3249
@fvictorio sorry for another ping, but i just looked at the code and it seems the issue is that i revert from snapshot 2 to previous snapshot 1 (which is fine), but then try to revert to snapshot 2 which is future state, but blockchain is back to previous state - is that the issue or something else?

is solution to this problem to have better documentation and let developers take care of this when

[2022-11-01 23:53] czelios commented on #3316
Sure:
Test.sol
[code]

Test.js
[code]

[2022-11-02 09:43] fvictorio commented on #3314
Oh wait, I don't think you can use the same API key for both the mainnet/goerli explorer and for the optimism/optimism goerli explorers. Maybe that's the problem. Check [this](https://hardhat.org/hardhat-runner/plugins/nomiclabs-hardhat-etherscan#multiple-api-keys-and-alternative-block-explorers) to learn how to set different api keys for different networks.

That being said, the error you get see

[2022-11-02 09:46] fvictorio commented on #3249
I agree, I think something like this is the solution. It seems like a lot of people are running into this, which sucks, so we'll try to prioritize it.

[2022-11-02 09:52] fvictorio commented on #3316
Oh wow, interesting. Thanks for reporting.

[2022-11-02 09:53] czelios commented on #3316
No problem, let me know if you ll find a solution :)

[2022-11-02 10:09] AliNawaz-777 commented on #2489
Insufficient balance
Is any help when I try to run the testcase then get the error Insufficient balance'

[2022-11-02 11:49] skosito commented on #3249
@fvictorio i tried this fix in project i am working on and it fixed the issues (project has 130 tests and execution time is the same, previously it was failing for some tests because of issue we are discussing here): https://github.com/skosito/hardhat/commit/82a8f327ff0d333cbd99a7a7680db6bd50af5b40

The only hardhat test failing after the change is this one:

[code]

But to me it looks like that i

[2022-11-02 14:20] viczhangge opened #3322 "extremly slow when I run the "yarn hardhat test""
when I run the command line in the terminal
[code]
It lasts  about 6 mintes,
but it's very quickly when  I type
[code]

I retype  the command-line

[code]
And the line will pause on the line for 5 minutes.
[code]
and the following line is :
[code]

My Package.json file is
[code]

My computer Configuration
MacBook Pro  i5 , 16G DDR
MacOS catalina  10.15.7
Node version : v16.13.1

[2022-11-02 15:53] fvictorio opened #3323 "[hardhat-core] Validate network URLs after config resolution"
Our config validation uses the user config, and one of the validations is that all non-Hardhat networks have a URL.

This means that a plugin cannot add its own URL, because by the time the `extendConfig`s are executed, the user config has been already validated (see for example [this](https://github.com/NomicFoundation/hardhat/issues/3221#issuecomment-1265098424))

The resolved config type will s

[2022-11-02 15:54] fvictorio commented on #3221
Hi @Nathan-SL, sorry for not responding before. We decided to go on with that approach. I opened #3323 to track that effort, so I'm going to close this one in favor of that.

[2022-11-02 15:54] #3221 closed

[2022-11-02 16:41] #3295 closed

[2022-11-02 18:04] jochem-brouwer commented on #3316
How much gas are those tests using?

[2022-11-02 19:09] czelios commented on #3316
I havent checked. It should pass if you will set 600 instead of 6000

[2022-11-02 21:47] azerpas commented on #3314
That was indeed the issue. I didn't notice that Etherscan accounts were different for the mainnet and Optimism. Thanks a lot, closing. 😃

[2022-11-02 21:47] #3314 closed

[2022-11-03 03:06] RevolutionWind commented on #2562
same problem + 1.
I saw u closed this issue, have u solved this forever? I can reproduce this situation which costed me 100 seconds every time

[2022-11-03 09:07] fvictorio commented on #2562
@RevolutionWind can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-11-03 09:17] RevolutionWind commented on #2562
Thx🥰. `https://github.com/RevolutionWind/hardhat-fund-me-js`

[2022-11-03 09:29] RevolutionWind commented on #2562
U can just run with ` yarn hardhat test`

[2022-11-03 12:22] GoofyMoose commented on #2672
I had the same issue (Headers Timeout Error) and it disappeared after I turned off my firewall.

[2022-11-03 13:55] viczhangge commented on #3322
Just check the code and find the slow execution comes from  gasReporter, when set false , it runs like a racer car

[2022-11-03 13:55] #3322 closed

[2022-11-03 15:00] fvictorio commented on #3322
Do you mind opening an issue in the hardhat-gas-reporter repo?

[2022-11-03 15:55] kf106 opened #3325 "Docs claim accounts in hardhat.config.js can take an array of objects, but it takes an array of strings"
https://hardhat.org/hardhat-network/docs/reference#hd-wallet-config states that accounts can be

"An array of the initial accounts that the Hardhat Network will create. Each of them must be an object with privateKey and balance fields."

But if I supply such an array, then I receive the error, "Invalid account: #0 for network: coverage - Expected string, received object"
[code]

An array of string

[2022-11-03 18:59] Programmer001-JS commented on #3089
Now l have this msg:

eth_sendRawTransaction

  Trying to send a raw transaction with an invalid chainId. The expected chainId is 31337

[2022-11-03 20:13] Programmer001-JS opened #3326 "Hardhat bug"
Pease help me!!

When l try to send some eth between teo accounts via metamask, i have this message in my terminal.

eth_estimateGas

  If you think this is a bug in Hardhat, please report it here: https://hardhat.org/reportbug

[2022-11-03 22:28] paOol commented on #2621
confirming that this is still an issue on fuji.

[2022-11-04 18:58] alcuadrado commented on #782
Hi,

I'm closing this issue as it has been a long time without activity, and it's unlikely it's still relevant/present.

Thanks for reporting it anyway, and please open a new one if you think it's needed.

[2022-11-04 18:58] #782 closed

[2022-11-04 18:58] alcuadrado commented on #785
Hi,

I'm closing this issue as it has been a long time without activity, and it's unlikely it's still relevant/present.

Thanks for reporting it anyway, and please open a new one if you think it's needed.

[2022-11-04 18:58] #785 closed

[2022-11-04 18:58] alcuadrado commented on #788
Hi,

I'm closing this issue as it has been a long time without activity, and it's unlikely it's still relevant/present.

Thanks for reporting it anyway, and please open a new one if you think it's needed. I believe this has been addressed.

[2022-11-04 18:58] #788 closed

[2022-11-04 18:59] alcuadrado commented on #980
Hi,

I'm closing this issue as it has been a long time without activity, and it's unlikely it's still relevant/present.

Thanks for reporting it anyway, and please open a new one if you think it's needed.

[2022-11-04 18:59] #980 closed

[2022-11-04 19:00] alcuadrado commented on #1093
Hi,

I'm closing this issue as it has been a long time without activity, and it's unlikely it's still relevant/present.

Thanks for reporting it anyway, and please open a new one if you think it's needed.

[2022-11-04 19:00] #1093 closed

[2022-11-04 19:28] jochem-brouwer commented on #3316
I have tested this case with `3333` as argument, the test took `13347` ms when using hardhat.

Here is the script;

[code]

  If I run this, it takes `1358` ms. It spends `1758892` (about 1.8M) gas. This is still slow, but with hardhat it seems 10 times slower. (My guess is that memory is copied internally since this view operation does a lot of changes to memory).

  Please note, the VM is still

[2022-11-07 17:12] fvictorio commented on #3325
Hi @kf106, that only applies to the `hardhat` network, which is the only case where we have control over the balances of the accounts.

Other networks have a different configuration, you can check it [here](https://hardhat.org/hardhat-runner/docs/config#json-rpc-based-networks).

[2022-11-07 17:12] #3325 closed

[2022-11-07 17:24] fvictorio commented on #2562
@RevolutionWind do you have Rosetta installed?

[2022-11-07 17:27] fvictorio commented on #3326
Try [resetting](https://metamask.zendesk.com/hc/en-us/articles/360015488891-How-to-reset-an-account) your MetaMask accounts.

Closing this because I believe we already have an issue tracking this problem.

[2022-11-07 17:27] #3326 closed

[2022-11-07 18:35] sunsweet733 opened #3329 "Incorrect imitation of buying/selling scam tokens on pancakeswap"
0x3394d23668af65BBE2DFD99bdAAd8975b8C4FDF5

My network fork made a successful purchase/sale, while in reality the token can be bought, but cannot be sold

Thank you

[2022-11-08 03:02] RevolutionWind commented on #2562
Yes.

[2022-11-08 13:12] NicoAtScopely opened #3332 "Error HH303: Unrecognized task e2e/runner.ts"
Hi there,

I'm having an issue running a simple script from package.json. Here's my script:
`"e2e": "SHARDHAT_BIN=./node_modules/.bin/ts-node npx shardhat e2e/runner.ts"`

And here's my runner.ts file:
[code]

For some reasons, When running `npm run e2e`, I get the following error message:
[code]

Any idea where this issue comes from ? My file is well located under "e2e/runner.ts". It is not mispe

[2022-11-08 13:37] alcuadrado commented on #3332
What's shardhat? 0.o

[2022-11-08 14:02] NicoAtScopely commented on #3332
It's a wrapper we created but the issue does not come from there. I tried changing it into
`"e2e": "SHARDHAT_BIN=./node_modules/.bin/ts-node npx shardhat e2e/runner.ts"`
and the output is exactly the same :(

[2022-11-08 15:53] saurabh-lodha-16 commented on #2070
I am facing the same issues.
I am using hardhat 2.12.2 and I can't see the prompt for creating an advanced hardhat project.

[2022-11-08 19:16] vivostar commented on #2684
Only in china we will come across such network problems. Thanks!

[2022-11-08 20:43] fvictorio commented on #2070
@saurabh-lodha-16 check this https://hackmd.io/@fvictorio/a-hardhat-faq#npx-hardhat-doesn%E2%80%99t-initialize-a-project

[2022-11-08 20:46] fvictorio opened #3334 "Detect that user forgot to use the `run` task"
Some users try to run a script by doing `npx hardhat scripts/script.js` instead of `npx hardhat run scripts/script.js`. We should try to detect when this happens, and show a proper suggestion.

[2022-11-08 20:47] fvictorio commented on #3332
You are doing `npx hardhat e2e/runner.ts` instead of `npx hardhat run e2e/runner.ts`. You need to use the `run` task to run scripts.

This is not the first thing something like this happens. We should detect that the "task" name that we received happens to match a path to a file, and show a proper suggestion. I opened https://github.com/NomicFoundation/hardhat/issues/3334 for that.

[2022-11-08 20:47] #3332 closed

[2022-11-08 20:49] fvictorio commented on #3329
@sunsweet733 can you ellaborate?

For the record: when you fork a network, you are forking from a certain block (say, N). The real network will continue to have activity, so it can happen that something that you can do in block N cannot be done in the real network in block N+1 (or some other later block).

[2022-11-09 00:47] islishude opened #3335 "I have to install both `ethereum-waffle` and `@nomicfoundation/hardhat-chai-matchers`"
I'm using yarn v3 and nodejs 18.

ethereum-waffle is an peer package in @nomicfoundation/hardhat-chai-matchers package.

If I uninstall ethereum-waffle, i will get a module not found error.

[code]

[2022-11-09 07:14] scuwmm commented on #2684
I got this error：
Error in plugin @nomiclabs/hardhat-etherscan: Failed to obtain list of solc versions. Reason: 4408526208:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:ssl/record/ssl3_record.c:332:

anybody can help?

[2022-11-09 07:53] sumer-meso commented on #3056
any updates on this?

[2022-11-09 21:53] ESNJS commented on #1448
What about using custom networks? How can I verify in multiple custom networks at the same time?

[2022-11-09 23:40] islishude commented on #3335
I'm using yarn v3, it works for npm, because npm installs peer packages.

My hardhat.config.ts

[code]

yarn doesn't install peer packages, and `@nomicfoundation/hardhat-chai-matchers` has a peer package `ethereum-waffle`, so I have to install the peer package manually.

If i install `ethereum-waffle`, I will get a warning.

[code]

[2022-11-10 07:34] fastchain commented on #3254
Hi! Sorry for delay,I was on vacation. I'll back with details in 2-3 days.

[2022-11-10 07:42] RohitKS7 commented on #3209
@Gizmolala Try adding gasPrice manually like this

[code]

[2022-11-10 17:02] clemsos commented on #2115
I am getting a similar error but the `viaIR` isnt enabled in my hardhat config. Any idea how to debug the root cause?
Many thanks !

[code]

[2022-11-10 20:47] marcelomorgado commented on #2681
For whom that may facing this issue just use `import type { ... } from "../typechain-types"`

[2022-11-10 20:47] marcelomorgado commented on #2739
For whom that may facing this issue just use `import type { ... } from "../typechain-types"`

[2022-11-10 22:19] alcuadrado opened #3338 "`changeEtherBalance` doesn't work with contracts."
As reported here, this helper, and possibly others, doesn't work when using contracts instead of signers. I think this should be supported, or clearly forbidden.

![telegram-cloud-photo-size-2-5436084856544150878-y](https://user-images.githubusercontent.com/176499/201218019-37999fca-aa8e-4ac9-83f5-96465e39be4a.jpg)

[2022-11-10 22:28] sunsweet733 commented on #3329
http://joxi.ru/LmGBJDOtZxj6Or
On the fork of the current block ([22946707](https://bscscan.com/blocks)) the token can be bought and sold

Trying to sell a token on pancakeswap: http://joxi.ru/E2pyKg7sjn0gLA

[2022-11-11 14:51] alcuadrado commented on #2115
Hey @clemsos, are you using the latest version? I believe @fvictorio fixed that.

[2022-11-11 14:52] TangMonk opened #3339 "Swap in uniswap with error "UniswapV2: TRANSFER_FAILED" in hardhat network fork"
I am trying to swap token in hardhat network fork in ethereum

[code]
This above code will success at first time, But will failed in second time, why?thanks

And there is a another weird problem, If I change the default wallet with a new wallet with `web3.eth.defaultAccount = newWallet;`(Wallet provide by hardhat), it will success, it is ok.  it is as expected.

But I switch back to the before wal

[2022-11-11 14:53] alcuadrado commented on #3335
I see! You should migrate to our fixture loader instead. Take a look at this: https://hardhat.org/hardhat-network-helpers/docs/reference#fixtures

Also, we are working with waffle on making it more compatible with our chai matchers.

[2022-11-11 14:53] #3335 closed

[2022-11-11 21:35] marcosmartinez7 opened #3341 "Is Node 19 supported?"
Is node 19 supported on latest version of hardhat?

Im getting the following warning when `nom install` into a new hardhat project.

[code]

Also, when using [slither-actions](https://github.com/marketplace/actions/slither-action) the pipeline fail when installing hardhat 2.12.2 for the same reason

<img width="983" alt="image" src="https://user-images.githubusercontent.com/14795944/201434092-31de

[2022-11-12 04:32] T1murKO commented on #1685
me the same

[2022-11-14 01:11] winor30 commented on #3223
@fvictorio
I created PR to fix this issue
If you have time, could you please review it?
https://github.com/NomicFoundation/hardhat/pull/3246

[2022-11-14 08:53] wong2 commented on #3152
Any progress?

[2022-11-14 13:02] sunsweet733 commented on #3329
http://joxi.ru/LmGBJDOtZxj6Or
On the fork of the current block ([22946707](https://bscscan.com/blocks)) the token can be bought and sold

Trying to sell a token on pancakeswap: http://joxi.ru/E2pyKg7sjn0gLA

[2022-11-14 13:40] fvictorio commented on #3329
Let me see if I understand:

1. You start a `npx hardhat node` that forks BSC.
2. You go to the PancakeSwap frontend, connect your wallet to `localhost:8545`, and make a trade. This succeeds.
3. You then connect your wallet to BSC, perform the same trade, and it doesn't succeed. Also, you are 100% sure that no changes in liquidity occurred between the block where you performed the simulation and t

[2022-11-14 13:45] fvictorio commented on #3152
Not yet. We are unlikely to stop using our fork for a while, to be honest.

Can you tell us why you need this? That would help us prioritize the effort on dropping our fork.

[2022-11-14 13:46] fvictorio commented on #3223
Hey @winor30, sorry for not reviewing your PR. This is in my to-do list, but I haven't managed to do it yet.

[2022-11-14 14:00] fvictorio commented on #3341
Hi @marcosmartinez7, we only (officially) support node's LTS versions, as you can read [here](https://hardhat.org/hardhat-runner/docs/reference/stability-guarantees#node.js-versions-support).

That being said, maybe having that in the engines section is too restrictive, since things are likely to work in non-LTS versions too (maybe).

@alcuadrado should we drop the `engines` from the `package.json

[2022-11-14 14:23] magnetto90 opened #3344 "Feature request: Verify contract in multiple networks at the same time."
I would like to have the option to verify a contract that is deployed in multiple chains at the same time with the same address. For example a bridge contract. Using the etherscan API.

The idea was taken from [this](https://github.com/NomicFoundation/hardhat/issues/1448#issuecomment-1313759045) issue.

[2022-11-14 14:33] sunsweet733 commented on #3329
1. Yes it is
2. Yes, it is, I send a transaction to localhost:8545 using web3, which I previously specified in hardhat.config.js http://joxi.ru/VrwvXlGigllbGA
3. There is a difference that when trading with hardhat I use a smart contract, and when trading on pancake I use a wallet address, but this should not be the cause of the error

Apart from this, there is no difference between transactions

[2022-11-15 02:40] wong2 commented on #3152
Never mind, it's not a big issue. Just want to keep things cleaner 😄

[2022-11-15 05:06] yehted opened #3345 "Support `eth_getProof`"
Hi, I would like eth_getProof to be part of the supported JSON-RPC methods (https://hardhat.org/hardhat-network/docs/reference#json-rpc-methods-support). I am doing something where I am using merkle proofs, which can be found via that endpoint. FWIW, ganache supports this method (https://github.com/trufflesuite/ganache/issues/382).

[2022-11-15 10:48] ranaahmed-ali commented on #2195
Is Binance smart chain ( bsc mainnet) forkable or not?

[2022-11-15 11:09] CypElf commented on #2175
Any news about this? This issue doesn't seem solved at all at the moment. The only workaround I found is to use `// @ts-ignore`, but it's dirty.

[2022-11-15 11:45] alcuadrado commented on #3345
First of all, respect for whatever you are doing! First time someone actually asks for this.

Would you be ok if we have `eth_getProof` for non-forked networks only?

[2022-11-15 15:35] jlcs-es opened #3346 "Hardhat node OOM when build-info file is big"
## Description

When the file in `build-info/` is too big (in our case ~263M) hardhat node crashes after a few seconds without output. Even with a heap size of 12GB [1]. This actually happened during `hardhat test`, **without any logs indicating this is a hardhat node's issue**.

Deleting the file inside `build-info/` allows `npx hardhat node` to run.

Another project has a `build-info` file aroun

[2022-11-15 19:00] yehted commented on #3345
Yup, that's totally fine

[2022-11-15 22:13] discoteq-cmd commented on #1927
Faced exactly same problem when trying to deploy a contract via create2 by `hardhat run deploy.js` (forked mainnet). Resolved by setting gas limit to the transaction `create2.deploy(bytecode, salt, {gasLimit: 9000000}) `.

[2022-11-16 10:56] fvictorio commented on #2562
@RevolutionWind hey, sorry for not responding before. I don't know what could be the reason here.

Can you open a new issue about this? Please include:

1) The repo that reproduces the problem. If possible, try to remove all the code and plugins you can until you have the smaller possible code that reproduces the problem. I know this is a bit involved, but it would help us immensely.
2) All the de

[2022-11-16 10:58] fvictorio commented on #2684
Locking this because there are a lot of unrelated comments.

If someone has a problem and you think it's a bug in Hardhat and not a problem with your network, a firewall or whatever, please open a new issue.

[2022-11-16 11:17] fvictorio commented on #3056
I can't reproduce this using the latest versions of Hardhat and Ethers. If someone has this problem, then please:

1) Open a new issue with a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)
2) Include the versions of Hardhat,ethers.js and hardhat-ethers that you are using.

[2022-11-16 11:17] #3056 closed

[2022-11-16 11:33] fvictorio commented on #957
@cnohara I t hink the problem is that npm 7+ has a new behavior when using peer dependencies that, while super useful most of the time, makes it a pain in the ass when using pre-releases. There isn't much we can do about that afaik.

[2022-11-16 11:40] fvictorio commented on #2472
@GopherJ I'll try to get this done next week.

[2022-11-16 12:01] fvictorio commented on #3339
I don't think this is related to Hardhat. That token seems to have some constraint that doesn't let you send it to the same address in to consecutive blocks, or something like that. Notice that if you mine an empty block after making the swap, you can do it again from the same account.

That's all the help I can give you. For the record, we don't give support for app-specific issues like this. I j

[2022-11-16 12:01] #3339 closed

[2022-11-16 12:06] fvictorio commented on #3346
Hardhat uses the compilation output to generate stack traces and infer the cause of reverted transactions. You can delete them and run `npx hardhat test --no-compile` and your tests should work fine, but if something fails you'll get less information.

Thanks for reporting this, it seems important.

[2022-11-16 12:40] migoldfinger commented on #1529
You are calling the functions like it where an non changing Function. Functions called this way do not consume gas.
My understanding is that if you use callStatic the function is handled like a view(pure function.
Therefore this function can not have insufficient funds. Just remove the callStatic and you will get the error.
See: https://docs.ethers.io/v5/api/contract/contract/#contract-callStatic

[2022-11-16 13:09] anders-torbjornsen commented on #1159
Yep I use frame + ledger with Hardhat and it works beautifully

[2022-11-16 17:57] #1500 closed

[2022-11-16 18:18] nfts2me commented on #3089
Same error here using hardhat tests.
Using node I get this information

[code]

[2022-11-16 18:21] nfts2me commented on #1731
As described here:
https://github.com/NomicFoundation/hardhat/issues/3089#issuecomment-1317460141
I'm getting this error as well.
But changing the chainId didn't fix the issue.

[2022-11-16 18:24] #3223 closed

[2022-11-16 19:07] sunsweet733 commented on #3329
Спасибо за ответ! Я попробую имитировать транзакцию точно так же как и в реальной сети, позже дам ответ о роезультатах, если вам это интересно

[2022-11-17 10:18] srinjoychakravarty commented on #3272
Running into this exact same issue as of yesterday:

<img width="964" alt="Screenshot 2022-11-17 at 5 09 36 AM" src="https://user-images.githubusercontent.com/1481037/202420121-646952c1-b594-4b28-a64c-e37384171f53.png">

package.json

[2022-11-17 12:00] kohasummons opened #3352 "Typo in Testing contracts docs"
There is a typo in the Testing contracts page. I would like to attach a PR to fix it.
![image](https://user-images.githubusercontent.com/66284362/202440859-98889647-78b8-4f60-8a47-46ec369a7ae1.png)

[2022-11-17 15:01] #3352 closed

[2022-11-17 15:16] robercano commented on #2287
Bumping this. Got same issue. Any chance that this could be fixed?

[2022-11-17 19:19] ItsNickBarry opened #3355 "`deployContract` missing from `hardhat-ethers` readme"
I would PR, but the function appears to be overloaded and I'm not sure to document it.

[2022-11-18 21:07] fvictorio opened #3360 "Revamp hardhat-ethers readme"
The readme is not great, especially the list of function signatures as a way of reference.

It would be nice to also include examples and a section explaining better the difference between "plain" ethers and the ethers imported from the HRE.

[2022-11-18 21:07] fvictorio commented on #3355
Thank you @ItsNickBarry. That readme is not great tbh. I opened https://github.com/NomicFoundation/hardhat/pull/3359 to improve it.

[2022-11-18 21:10] #3355 closed

[2022-11-18 21:11] fvictorio commented on #3355
You probably have one already, but just in case:

@gitpoap-bot @ItsNickBarry deserves a gitpoap

[2022-11-19 14:43] Rahimjackass commented on #1566
Sir, Do you mean it will deploy our project on a completely different network if we use `"npx hardhat run scripts/sample.js"` rather `"npx hardhat run scripts/sample.js --network localhost"`?? So where is the network that the first deployment command points to?

localhost is different from the default network of the Hardhat?

I guess localhost refers to the network we see on the terminal by typing

[2022-11-19 17:41] fvictorio commented on #1566
When you don't specify a network, the execution will be done in a temporary, in-process Hardhat Network that is created and destroyed with your command.

This is useful, for example, when you are running your tests. Otherwise you would have to do something like "start a node in one terminal, run `hh test --network localhost` in another terminal, then kill the node in the first one". You can think

[2022-11-20 03:28] scotthconner commented on #2724
I dont know what hardhat@ir does, but it fixed my issues. I ended up on this adventure:

1) Create a solidity smart contract method with enough arguments that it produced a stack too deep error.
2) Do research on optimizer and viaIR. Enable it.
3) Realize that tests fail with viaIR on?
4) Find this thread.
5) run npm install hardhat@ir
6) re-run npx hardhat compile; npx hardhat test
7) Profit?

[2022-11-20 03:29] scotthconner commented on #2724
However, I get this when running "npx hardhat coverage":

YulException: Variable var__921 is 3 slot(s) too deep inside the stack. Stack too deep. Try compiling with `--via-ir` (cli) or the equivalent `viaIR: true` (standard JSON) while enabling the optimizer. Otherwise, try removing local variables.

[2022-11-20 14:41] archerkeyboard commented on #1566
This is an interesting issue that I'm facing currently. What I'm doing is forking BSC like this
`npx hardhat node --fork https://bsc-dataseed2.binance.org`
running a command via `npx hardhat run --network localhost final\ganache.js`

It's weird - the code in ganache.js does not change. Sometimes the script passes without any issues and sometimes the node gives out the warnings which fails the scri

[2022-11-21 03:17] GopherJ opened #3363 "@nomiclabs/hardhat-etherscan: Source code exceeds max accepted (500k chars) length"
ref: https://github.com/NomicFoundation/hardhat/issues/2475

[2022-11-21 03:30] naddison36 commented on #3078
I've hit this error in a fork test that sets the balance of an ERC20 token. The Keccak256 of the account and slot gave a slot index of `0x0c366de881fd9bce507eb22745daf5d962e71b66355fed5e4b8582588bfcd00b`.

Calling `setStorageAt` with this index fails with `InvalidArgumentsError: Errors encountered in param 1: Invalid value "0x0c366de881fd9bce507eb22745daf5d962e71b66355fed5e4b8582588bfcd00b" suppli

[2022-11-21 03:35] naddison36 commented on #3078
I just saw the network helpers comment. I can confirm replacing my `setStorageAt` function below with the version from `@nomicfoundation/hardhat-network-helpers` resolved the problem.

[code]

[2022-11-21 03:38] GopherJ commented on #3363
FYI, I dont have hardhat-deploy, the contract doesn't have any constructor parameters  and we use hardhat factory for the deployment. I've gone through all the issues but didn't find a solution

[2022-11-21 03:39] GopherJ commented on #3363
Many unresolved issues are closed. Not sure if it's a good practice.

[2022-11-21 05:26] webMing commented on #3310
Thank you for your advice

[2022-11-21 05:26] webMing commented on #3310
Thank you for your advice

[2022-11-21 09:29] 0xdavinchee opened #3364 "[Chai Matchers] Error when chai-matchers are used with `chai`, `chai-ethers` and `@types/chai`"
Versions:
[code]

Note that I think that there are issues with types as a result of having both of these and they interfere with each other. The solution for me was to simply remove:

[code]

[2022-11-21 12:21] fvictorio commented on #3364
Hi @0xdavinchee, thanks for letting us know.

From what I can tell, chai-ethers is a kind of fork of waffle so it won't be compatible with our matchers. Plus, it doesn't seem to be maintained anymore.

I'm going to close this because I don't think there's much we can do here.

[2022-11-21 12:21] #3364 closed

[2022-11-21 15:39] clemsos commented on #2115
yes it seems fixed now

[2022-11-21 16:17] fvictorio opened #3365 "Support for IR"
This is the tracking issue for having full support for [solc's IR-based code generation](https://docs.soliditylang.org/en/latest/ir-breaking-changes.html#).

We have already released a beta version with some basic support under the `ir` npm tag. This version can be installed with `npm install hardhat@ir`.

There are some pending things before we can release this in a stable version of Hardhat:

-

[2022-11-21 16:19] fvictorio commented on #2724
Thank you for the feedback @scotthconner.

I'm going to close this issue now in favor of #3365, so we can have all the information related to the IR support in a single issue. Please leave any feedback about the `hardhat@ir` version there.

[2022-11-21 16:21] #3245 closed

[2022-11-21 16:23] fvictorio commented on #2453
Hey @cameel, sorry for not responding before. I haven't been able to work on this during the last weeks, but this is something we want to get fixed and released.

I opened #3365 to have a single issue tracking this effort, so I'm going to close this one in favor of that.

[2022-11-21 16:23] #2453 closed

[2022-11-21 16:25] fvictorio commented on #2115
Closing this in favor of #3365.

[2022-11-21 16:25] #2115 closed

[2022-11-21 16:34] fvictorio commented on #1566
@archerkeyboard please open a new issue if you can provide a
[minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2022-11-21 16:38] fvictorio commented on #3363
@GopherJ can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)? I guess I can just deploy a huge contract and try to verify it, but having an MRE would be ideal.

We experimented for a whle with auto-closing old issues, which probably resulted in some valid issues being closed. It was a mistake and we are not doing it anymore.

[2022-11-21 16:41] scotthconner commented on #3365
The issue I'm having is my tests are now failing with viaIR: true, specifically the ones that check the revertedWith message. Which is a lot of them.

For now, I'm having to turn viaIR off. Help me help us get to the bottom of it!

[2022-11-21 16:50] scotthconner commented on #3365
Also, turns out that hardhat@ir doesn't work with my version of solidity-coverage:

pm ERR! While resolving: @nomicfoundation/hardhat-toolbox@1.0.2
npm ERR! Found: solidity-coverage@0.8.2
npm ERR! node_modules/solidity-coverage
npm ERR!   dev solidity-coverage@"^0.8.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer solidity-coverage@"^0.7.21" from @nomicfoundat

[2022-11-21 17:04] fvictorio commented on #3365
That's the first item in the checklist.

That's a llimitation of npm when a peer dependency and a pre-release version are mixed. You might need to use `npm install --force` when installing the `hardhat@ir` beta version.

[2022-11-21 17:10] 0xFloyd commented on #3212
@fvictorio  Followed your info above, seems I am still running into this same issue
running `yarn verify --network optimisticGoerli`
`Network with chainId: 420 not supported. You can specify the url manually via --api-url <url>.`

running `npx hardhat verify --list-networks` shows `optimisticGoerli` as  chain id `420`

yarn script:
[code]

version in package.json:
` "@nomiclabs/hardhat-etherscan":

[2022-11-21 17:39] scotthconner commented on #3365
Yup, thanks. I did --force and that worked.

It also works when running npm hardhat test. But when running coverage I get stack too deep.

[2022-11-21 19:15] alcuadrado commented on #3341
Yes, I like this idea!

Even more so, I think we should have a very lean entry to the CLI that just checks that, print a warning if suitable, and then `require("./cli")`.

[2022-11-21 21:11] roadbuilder commented on #1966
so can't use ethersjs?

[2022-11-22 04:27] matilareo commented on #3089
Any workaround for this? iam facing the same issue

[2022-11-22 12:10] sunsweet733 commented on #3329
I checked transactions with a regular address, everything works as it should! Probably the problem is somewhere in the code of the smart contract, or the token somehow knows how to distinguish the address from the smart contract. The question is closed :)

Thanks for your hard work!

[2022-11-22 14:31] izcoser opened #3366 "Hardhat test environment uses wrong chainId"
Hi everyone.
I am forking Arbitrum mainnet through Alchemy and in my hardhat config I set the chainId accordingly.
However when running hardhat test and impersonating someone, technique shown in the docs, the provider associated with that signer is still on chainId 31337, despite the fact that I set chainId 42161.
This causes bugs when dealing with contracts that check for signatures, as they use

[2022-11-23 12:46] fvictorio opened #3370 "Relax node engines requirement"
While oficcially [we only support LTS versions of node.js](https://hardhat.org/hardhat-runner/docs/reference/stability-guarantees#node.js-versions-support), non-LTS versions are likely to work. But sometimes users can't use some of these versions (see #3341) because we have a strict list of engines in our `package.json`.

We should:
- [x] Drop the engines field from the `package.json`, or change i

[2022-11-23 12:46] fvictorio commented on #3341
Closing in favor of https://github.com/NomicFoundation/hardhat/issues/3370.

[2022-11-23 12:46] #3341 closed

[2022-11-23 12:48] fvictorio commented on #3366
@izcoser can you share the relevant parts of your Hardhat config? (Don't include private information like API keys or private keys)

[2022-11-23 12:50] fvictorio commented on #3212
@0xFloyd The `etherscan-verify` is a task added by [hardhat-deploy](https://github.com/wighawag/hardhat-deploy). To verify using `hardhat-etherscan`, you have to use the plain `verify` task. [Docs](https://hardhat.org/hardhat-runner/plugins/nomiclabs-hardhat-etherscan).

[2022-11-23 20:16] fvictorio commented on #3366
I think chainId should be under `networks.hardhat`, not under `networks.hardhat.forking`. Can you try that?

[2022-11-24 14:53] viktorcortess opened #3374 "Forking mainnet and getBlockNumber"
Hello. Last days I'm trying to check how my project would work with block from the past. And I decided to check the blocknumber that I have forking mainnet in Hardhat. As I see in docs hardhat forks the latest block : "Hardhat Network will by default fork from the latest mainnet block". But what I received:

[code]
16034315 from provider.getBlockNumber //current block from provider

`block = await

[2022-11-24 16:30] fvictorio commented on #3374
Good question, that part of the docs is a bit misleading. We actually fork the latest block minus [some value](https://github.com/NomicFoundation/hardhat/blob/421898ea284ef323bc0d9d00c73d0c750051b810/packages/hardhat-core/src/internal/hardhat-network/provider/utils/reorgs-protection.ts#L8) (that depends on the network) to avoid reorg issues.

Do you think that sentence would be more accurate if it

[2022-11-24 16:41] viktorcortess commented on #3374
Thanks for your answer. I asked the same question in discord yesterday, but nobody knew for sure why does this difference exist. Yes recent would be better, I'm sure that many people think that latest means current block.

[2022-11-24 17:21] #3374 closed

[2022-11-24 17:21] fvictorio commented on #3374
Thank you!

[2022-11-24 17:23] fvictorio commented on #3249
Closed by #3327, this will be included in the next release.

[2022-11-24 17:23] #3249 closed

[2022-11-26 03:09] 15802841343 commented on #3240
+1 I got the same problem

[2022-11-27 14:17] archerkeyboard opened #3379 "Hardhat throws a strange error when trying to call smart contract functions while using local hardhat forked network"
Here's the code used: https://github.com/archerkeyboard/hhStuff/tree/master

Instructions to reproduce:

1. In a cmd run `npx hardhat node --fork https://bsc-dataseed2.binance.org`
2. In another terminal run `npx hardhat run .\scripts\test.js --network localhost`

### Scenario 1 (works)
If we run command 2) right after the accounts show up from 1) It works and we deposit bnb and get wrapped bnb
![

[2022-11-27 14:18] archerkeyboard commented on #1566
https://github.com/NomicFoundation/hardhat/issues/3379

[2022-11-27 17:47] pcaversaccio commented on #2306
For anyone that wants a simple solution, for my [Hardhat template](https://github.com/pcaversaccio/hardhat-project-template-ts) that integrates Foundry as well, I have the following folder structure:

[code]

- `lib` => foundry submodules like `forge-std`
- `src` => the main contracts of the project
- `test` => forge test files

Now, you can make the following simple configuration in the [`hardhat

[2022-11-28 05:54] RedHeadphone commented on #3089
@matilareo checkout this https://github.com/NomicFoundation/hardhat/issues/3089#issuecomment-1280036283

[2022-11-28 10:19] GopherJ commented on #2516
[code]
same error here @fvictorio does the above help you? if we turn off mining then this happens less

[2022-11-28 11:44] fvictorio commented on #2516
@GopherJ not really, sorry. We need some way to reproduce the problem to be able to look into it.

[2022-11-28 16:29] RedHeadphone opened #3380 "Can't send ETH to contract in Hardhat node using Metamask"
The solidity code of contract

[code]

Created network using command `npx hardhat node`, deployed above contract in that network. After that when I try to send ETH to the contract, by loading one of the hardhat node Accounts into the Metamask it gives me "Error: Transaction reverted: function selector was not recognized and there's no fallback function"

![image](https://user-images.githubusercont

[2022-11-28 18:33] RedHeadphone commented on #3380
I changed contract to following
[code]

and started getting this new error "TransactionExecutionError: Transaction ran out of gas"
![image](https://user-images.githubusercontent.com/55500003/204353734-8fffee73-8ea7-4c80-9df8-b32db506a18c.png)

@fvictorio

[2022-11-28 20:47] fvictorio commented on #3379
Thanks a lot for the clear reproduction steps, @archerkeyboard, that was very useful.

I believe I've found the issue: apparently, after a while, the BSC node misbehaves when you send batched RPC calls. This seems to be a bug in the BSC node.

Here is what I did, in case you want to report this to them (I don't know which channel to use for that).

Given this two calls:

[code]

The difference her

[2022-11-28 20:47] #3379 closed

[2022-11-29 07:25] #3380 closed

[2022-11-29 09:45] RedHeadphone commented on #3380
No chainId in Metamask is same as configured in hardhat, Also transfer between wallet works @fvictorio
Try recreating the setup.

[2022-11-29 13:09] RedHeadphone commented on #3380
Can you send send your metamask and hardhat version

[2022-11-29 13:58] fvictorio commented on #3380
Metamask: 10.22.1
Hardhat: 2.12.2
Solc: 0.8.13

[2022-11-29 15:53] RedHeadphone commented on #3380
@fvictorio I have same configuration and version, still I am getting error. Can you share exact step by step how you recreated my scenario

[2022-11-29 16:11] fvictorio commented on #3380
Ugh, sorry, I forgot to mention that Metamask for some reason is not estimating the gas correctly, so I also had to modify the gas limit to be higher (30_000 is enough IIRC).

This seems to be a bug in Metamask, because no `eth_estimateGas` are received by the node.

[2022-11-30 05:48] RedHeadphone commented on #3380
But the error I received was this
![image](https://user-images.githubusercontent.com/55500003/204717538-2afb7782-906b-4d3e-8478-d88b36efd8ba.png)
I didn't get different chainID error or low gas error.
When you tried this first did you get this error?

[2022-11-30 13:39] fvictorio opened #3385 "Support for ESM in TypeScript projects"
Please comment and/or upvote this issue if you need support for ESM in TypeScript projects. If possible, tell us more about your use case and why you need this and cannot just transpile to cjs.