[2022-08-07 19:32] #2926 closed

[2022-08-08 08:49] fvictorio commented on #3011
@JimLynchCodes this works for me. Can you tell me more about your setup? Are you on Windows? Which version of Hardhat are you using?

Also, just in case: can you try doing `npx hardhat test test/Foo.test.js` (that is, without the `./`)?

[2022-08-08 08:50] fvictorio commented on #3012
@JimLynchCodes can you provide reproduction steps? This works for me.

[2022-08-08 08:57] fvictorio commented on #3013
Hy @fibo. In Mocha, when you want to compare things like arrays or objects, you have to use `.deep.equal`, because otherwise Mocha will just compare the values by reference.

I agree that we should mention this somewhere in the docs. Where do you think would be a good place to do it?

[2022-08-08 09:32] fvictorio commented on #3020
Hi @migoldfinger. You can do this with `overrides`. Check [this guide](https://hardhat.org/hardhat-runner/docs/advanced/multiple-solidity-versions) (even if you are not using multiple versions of solidity). Let me know if that works or if you need more help.

[2022-08-08 09:32] #3020 closed

[2022-08-08 09:45] fvictorio commented on #1227
@jflatow do you have the optimizer enabled? In general, the error detection mechanism works much better when the optimizer is disabled.

[2022-08-08 09:46] fvictorio commented on #1846
It is indeed, thank you.

[2022-08-08 09:49] fvictorio commented on #1800
@aspiers I think this is no longer relevant because we no longer show third-party plugins under `hardhat.org` (we just redirect to the npm page). Can you confirm if this is the case?

(The reason we did this change is to prevent users from thinking that these are official plugins.)

[2022-08-08 09:51] fvictorio commented on #1786
I think this is no longer relevant because now we try to only use our [network helpers](https://hardhat.org/hardhat-network-helpers/docs/overview) in the docs. Please comment if you disagree.

[2022-08-08 09:51] #1786 closed

[2022-08-08 09:53] fvictorio commented on #180
@alcuadrado is this one still relevant?

[2022-08-08 09:55] fvictorio commented on #2945
@phated thank you for the tip. We are currently on the fence about using ts-node or swc and this might be the tie-breaker we needed.

[2022-08-08 11:53] fibo commented on #3013
thanks @fvictorio I was looking for some `deepEqual` function using completion but I could not find it at first.

I do not know if it is worth to add it here https://hardhat.org/hardhat-runner/docs/guides/test-contracts
since it is a specific use case.

If you have some examples/ folder some where it could be an examples/testMultipleReturnFunction/

[2022-08-08 11:53] #3013 closed

[2022-08-08 12:39] #2936 closed

[2022-08-08 12:42] #2942 closed

[2022-08-08 12:48] feuGeneA commented on #2952
Thank you for using Hardhat.

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

Can you provide us with a minimal reproducible example?

[2022-08-08 12:49] feuGeneA commented on #2954
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

[2022-08-08 12:49] #2954 closed

[2022-08-08 12:55] feuGeneA commented on #2963
Thank you for using Hardhat, and for sharing your suggestions.

Please note that in @nomiclabs/hardhat-ethers v2.1.0 we "added new helper getImpersonatedSigner(), a shorthand for invoking the hardhat_impersonateAccount JSON-RPC method followed immediately by ethers.getSigner()."

I do not foresee us adding an _additional_ helper that also sets the balance, but if it's important to you and others w

[2022-08-08 12:55] #2963 closed

[2022-08-08 13:19] feuGeneA commented on #2965
Thank you for using Hardhat.

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

You have provide some examples here, but they do not correlate well enough to make them reproducible. For example, contract `Testing` vs `Foo`; what is `upgrades`?; etc.

Can you provide

[2022-08-08 13:54] feuGeneA commented on #2967
Thank you for reporting this. The more information you can provide, the better. Did you double-check that you followed all the instructions in the tutorial? If you found your mistake in following the tutorial, and you've gotten it working now, it may be helpful to report here on what you did, so that we might improve that error message. Thanks again.

[2022-08-08 15:17] arr00 commented on #2167
@fvictorio can you please expand on the way to set chainId from commandline? Also, is it possible to set a new chainId in the middle of a test suite? What is the recommended way to run test on multiple chainIds?

[2022-08-08 15:38] #1803 closed

[2022-08-08 15:54] lukehutch commented on #2754
Correct, I'm using Ethers for tests, Hardhat for execution. The first stackrace I showed was a Hardhat stacktrace, the second was an ethers stacktrace, both showing the same problem of not including the js line that made the Solidity method invocation.

Ethers 6 is a major revamp, so maybe the situation will improve?

[2022-08-08 16:12] feuGeneA commented on #2995
Hi @gzeoneth . Thank you for the thoughtful and complete submission. I've just solicited more input from the team. We'll follow up soon.

[2022-08-08 16:14] feuGeneA commented on #2996
Thank you for using Hardhat.

GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

In general, if there is a problem in Hardhat, we will need a

[2022-08-08 16:31] feuGeneA commented on #3009
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

Two applications (even two instances of the same application)

[2022-08-08 16:31] #3009 closed

[2022-08-08 16:41] FrozenKiwi opened #3021 "Receiving ECONNRESET error on deploy script to localhost"
Repro steps:

1) check out https://github.com/thecointech/thecoin
2) yarn && yarn build
3) cd ./libs/contract-tools && yarn emulator
4) cd ./libs/contract-core && yarn dev:live

This should take about 5 mins to get up and running, which is a lot less than it'll take me to build a minimal repro: but if you run into any issues I'll try and do the legwork to make something smaller.

This starts a loc

[2022-08-08 16:44] fubhy commented on #2945
@fvictorio Have you considered stuff like esbuild / esbuild-kit (https://github.com/esbuild-kit)? We leverage that toolchain to enable `vitest` to work with hardhat. And I'm also happily using `tsx` and `tsup` elsewhere.

[2022-08-08 16:51] FrozenKiwi commented on #3021
I tried tweaking a few things in the script to demonstrate the issue clearer, and the issue just... went away.

Rather frustrating as that was a lot of debugging time.

[2022-08-08 16:51] #3021 closed

[2022-08-08 16:54] rokso commented on #2963
I am aware of `getImpersonatedSigner`.
FYI I was not asking to add another helper. What I was asking is to set ETH balance by default when someone calls `getImpersonatedSigner` or `hardhat_impersonateAccount`. But I get it that it is not looking useful/promising to you. I have my workaround in place so I am fine anyway. Thanks for your response.

[2022-08-08 18:15] fvictorio commented on #2980
Hey @m1cm1c, thanks for opening this. I'm a bit confused though. The way I would think about composing fixtures is that you would have something like:

[code]

And then in some tests you do `loadFixture(deployTokenFixture)` and in others you do `loadFixture(deployWrappedTokenFixture)`, but you don't use `loadFixture` inside a fixture function. Does that make sense? And if this doesn't work for you

[2022-08-08 18:18] fvictorio commented on #1701
I'm going to close this one. We have the `HARDHAT_CREATE_JAVASCRIPT_PROJECT_WITH_DEFAULTS` and `HARDHAT_CREATE_TYPESCRIPT_PROJECT_WITH_DEFAULTS` environment variables now, and no one (that I remember) has asked for this feature, so that should be enough.

[2022-08-08 18:18] #1701 closed

[2022-08-08 18:23] fvictorio commented on #3013
Thanks, those are good points.

Hmm, there are some cases where you _do_ want to do the comparison-by-reference thing, so a PR changing that would probably be rejected.

[2022-08-08 18:24] grapevinegizmos opened #3022 "unintelligible error: Internal exception in StandardCompiler::compile:"
The last time I compiled, I got this error.  I have 15 or so contracts in my project, and the error message is no help telling me where the error might be happening, or why, So pretty much impossible to provide minimal reproducible.

Any ideas?

[code]

[2022-08-08 18:41] fvictorio commented on #2167
Sure. In your Hardhat config you do something like this:

[code]

And then you run your command like this: `HARDHAT_CHAIN_ID=123 npx hardhat test`

Uhm, I don't think that's possible, at least not in an easy way.

I guess it depends on your use case. First thing that comes to mind (although far from ideal): have two separate directories in your tests and then do:

[code]

(I haven't tested this, b

[2022-08-08 18:42] fvictorio commented on #3022
This seems a `solc` problem. @cameel do you recognize this problem?

[2022-08-08 18:51] cameel commented on #3022
Yeah, this is a failed assert so you hit some bug in the compiler. This does not seem to be the latest compiler (otherwise the message would not be empty) so it could have already been fixed. Check out these [already fixed bugs that were triggering an assert in `nativeMembers()`](https://github.com/ethereum/solidity/issues?q=is%3Aissue+nativemembers+is%3Aclosed).

I'd suggest trying the latest com

[2022-08-08 19:17] douglasqian commented on #1040
+1 running into this as well

[2022-08-08 19:29] fubhy commented on #2945
Maybe this is the time to re-evaluate full ESM compatibility? <3 :-)

[2022-08-08 20:01] phated commented on #2945
"Full ESM compat" is impossible in hardhat before the next major. Hardhat's task system relies entirely on the order which tasks are imported and ESM is **always** async.

Franco and I are looking into smaller changes that will allow hardhat to continue operating in CJS mode inside `type: module` projects.

[2022-08-08 20:46] FrozenKiwi commented on #3021
in case anyone else runs into this, the problem seems to only occur when stepping through code (ie, no breakpoints, no issues).  Replacing the provider fixed it in either case.

[2022-08-08 23:05] fubhy commented on #2945
It's not impossible. Hard, to refactor without breaking changes, yes maybe ... But not impossible! I've discussed this before and looked into it for a few hours. It can be accomplished by separating and isolating all the internal components from the CLI and the "task runner" parts. For more tightly integrating with testrunners like vitest, jest, et. al this is arguably even a requirement anyways b

[2022-08-08 23:10] phated commented on #2945
It's not about the hardhat implementation itself. It would be an ecosystem level breaking change. Everyone's hardhat.config file would be broken because task order cannot be guaranteed.

Again, we are discussing workarounds that will allow hardhat to exist alongside a `type: module` project.

[2022-08-08 23:33] fubhy commented on #2945
What I'm saying is: Let's modularize the core components of hardhat and expose some of the underlying bits that are also useful outside of the task runner mode of operation (hardhat evm, etc.) programmatically.

First of all, this would make customization and recomposability much easier: It's currently rather fiddly to access underlying functionality, bypassing the task runner / script / cli layer

[2022-08-09 00:44] excalq commented on #2292
Since scripts are much more portable than tasks, it would be great to have the option of using arguments.

One such use case would be a Hardhat user and a JS client sharing a script. Having Hardhat automatically interpret Typescript is a nice feature as well, versus standalone scripting.

[2022-08-09 06:23] ningfeiyo commented on #1280
thank you

[2022-08-09 06:23] ningfeiyo commented on #1280
thank you

[2022-08-09 07:46] m1cm1c commented on #2980
@fvictorio This is exactly what my proposed fix boils down to, except it has the advantage that if true nested fixture support were to ever be implemented (i.e. not executing `deployTokenFixture()` again when `deployWrappedTokenFixture()` gets executed), tests would already be implemented in the way that can take advantage of that future performance improvement.

However, documenting how to do it

[2022-08-09 14:01] alcuadrado commented on #2945
Thanks for the chiming in here, @phated and @fubhy! 💖

This is still something we want to do, as we discussed some time ago. We haven't had enough bandwidth yet, but we will soon. We've put a ton of work into growing the team lately.

Once we have a clear timeline to when this can happen I'll reach out. We may do it when we switch Hardhat Network's backend to rust, as now we use some ethereumjs' a

[2022-08-09 14:11] fubhy commented on #2945
Thanks @alcuadrado. Just to be clear I definitely don't want to derail this effort or distract you from your roadmap. I am just really eager to delete as much of the workarounds that are currently needed for our use-case as possible. I love deleting code :-). So apologies if I pushed this a bit off-topic.

[2022-08-09 14:37] feuGeneA commented on #2645
Please consider using https://www.npmjs.com/package/hardhat-exposed

[2022-08-09 14:51] FrozenKiwi opened #3023 "HH5: HardhatContext is not created (possible cause & solution)"
This isn't really a bug report, it just seemed the best place to put the info that might help someone.

I got this error when creating my typescript ESM deploy script.  The cause is the specific order of imports.

In my `scripts/deploy.ts` file, I had the following includes:
[code]
(psuedo) package.json:
[code]
This throws because the ethers & hardhat plugins are trying to access `hre` before it i

[2022-08-09 14:55] alcuadrado commented on #3023
Thanks for opening this issue! It sheds some light on why some users import the plugins like that.

Related to the discussion happening here: https://github.com/NomicFoundation/hardhat/issues/2945

[2022-08-09 16:37] RomeDomeYome opened #3024 "Hardhat Still Saying "Nothing to compile""
I followed an earlier thread where several people were having issues when following the tutorial for hardhat on their website. Even after I did what the user recommended in this thread comment--:
"Hi everyone, we just released [`hardhat@2.9.6`](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.9.6), which fixes this issue. Please try it out and let us know if you are still gettin

[2022-08-09 16:45] TsigelnikovNikita commented on #1618
Hello! In what hardhat version can I find these changes?

[2022-08-09 18:43] RvanAmsterdam opened #3025 "'blockConfirmations' does not exist in type 'NetworkUserConfig'."
I got the following error in my `hardhat.config.ts` file:
[code]

The `hardhat.config.ts` file:
[code]

The code itself works as soon as I remove the type, but I guess `blockConfirmations` is not typed correctly(?). I got a related error in the `deploy` file, see:
[code]

[2022-08-09 19:50] feuGeneA commented on #3024
Thank you for using Hardhat.

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

Can you provide us with a minimal reproducible example? If so, feel free to re-open this Issue.

Also, please be aware that "Nothing to compile" is an expected message in the case where y

[2022-08-09 19:50] #3024 closed

[2022-08-09 19:53] feuGeneA commented on #3024
Please know that this message, "Nothing to compile" is expected and normal in the case where your contract has already been compiled (its compiler output is already present in your `artifacts` folder).

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

Can you provid

[2022-08-09 20:02] nolanjacobson commented on #2247
Took me ~15 mins after creating the API key for this error to stop being thrown.

[2022-08-09 21:07] alcuadrado commented on #3025
Hey! Thanks for opening this issue.

Can you share a repository to reproduce this?

[2022-08-10 03:11] THRUSTDeltaV commented on #1569
Thank you. Had the same problem. deleting hardhat.config.js from global user is the solution.

[2022-08-10 08:41] calmacfadden opened #3027 "Hardhat cannot be installed by NPM or YARN due to now invalid references to TornadoCash github"
**'yarn add -dev hardhat'** results in this error

error Command failed.
Exit code: 128
Command: git
Arguments: ls-remote --tags --heads https://github.com/tornadocash/circomlib.git
Directory: C:\Users\CathalMacfadden\development\multi-ledger-token-system
Output:
remote: Repository not found.
fatal: repository 'https://github.com/tornadocash/circomlib.git/' not found
info Visit https://yarnpkg.com

[2022-08-10 08:50] calmacfadden commented on #3027
Non issue. Mistake.

[2022-08-10 08:50] #3027 closed

[2022-08-10 09:27] hcheng826 commented on #3011
Same issue here!
But for me even that `npx hardhat test` (not specifying the file) couldn't catch any tests at all.

[2022-08-10 10:39] RvanAmsterdam commented on #3025
Sure! You can find the repo [here](https://github.com/RvanAmsterdam/sandbox--hardhat). See file `hardhat.config.ts` and `01-deploy-fund-me.ts`.

See file:
`hardhat.config.ts` and `hardhat.config.ts

[2022-08-10 11:18] migoldfinger commented on #3020
@fvictorio Well...
Technically it is working and it is exactly the settings I was looking for.
Practically there are to many complex dependencies between my contracts with address precalculation and so on. That it is way to much effort to compile the contracts with different settings and get them to work together.
For short my Test shows as long as I compile everything with fore example runs: 100

[2022-08-10 13:41] fvictorio commented on #3022
I'm closing this since it's not related to Hardhat. Thanks a lot @cameel for chiming in!

[2022-08-10 13:41] #3022 closed

[2022-08-10 13:44] fvictorio commented on #2980
This is very useful feedback, thank you

[2022-08-10 13:54] fvictorio commented on #3025
We don't have a configuration property like that ([docs](https://hardhat.org/hardhat-runner/docs/config#json-rpc-based-networks)). Did you see that option in our docs or in some other resource?

[2022-08-10 13:59] fvictorio commented on #1618
@TsigelnikovNikita I don't remember exactly which version of Hardhat added it, but it should be available in the latest versions.

[2022-08-10 15:21] RvanAmsterdam commented on #3025
I found it during a freeCodeCamp course, you can find it here: [video](https://www.youtube.com/watch?v=gyMwXuJrbJQ&t=40425s&ab_channel=freeCodeCamp.org)

At 11:57:10 he demonstrates it.

In the meantime I removed the type in the `hardhat.config.ts` and added a `ts-ignore` in the test file. The code itself runs fine, but it's just a type issue so far.

[2022-08-10 16:10] degoev commented on #1731
have this issue too

[2022-08-10 16:52] wei3erHase opened #3028 "setNextBlockBaseFeePerGas doesn't work on views and callStatic methods"
[code]

When calling such contract after:
[code]

- `Example.aView()`
- `Example.callStatic.aMethod()`
- `Example.aMethod()`

It will print both 0 for `aView()` and `callStatic.aMethod()` and will print 100e9 for `aMethod()`

Such behaviour doesn't allow to perform tests that require a view that depends on the `block.basefee`

[2022-08-10 17:13] alcuadrado commented on #3028
Hey @wei3erHase !

Have you tried running using blocktag "pending"? eth_calls are run using the latest block by default.

[2022-08-10 17:17] wei3erHase commented on #3028
ey @alcuadrado, have tried now both `pending`, and trying advancing one block and using blocktag `latest`, same results :(

[2022-08-10 18:08] fvictorio opened #3029 "Don't fail if the `web3_clientVersion` method doesn't exist"
See discussion on https://github.com/NomicFoundation/hardhat/pull/1954

[2022-08-10 20:34] alcuadrado commented on #3028
Thanks for confirming. This has to be a bug then

[2022-08-10 22:07] based64god commented on #3029
This is currently breaking our deployments when using hardhat to deploy to infura. Let me know if I can help get this resolved.

[2022-08-11 08:39] fvictorio commented on #2980
I've already captured this in our documentation backlog, so I'm going to close this issue now. Thanks again.

[2022-08-11 08:39] #2980 closed

[2022-08-11 09:58] jaysongforever commented on #1280
thx

[2022-08-11 14:50] ackvf commented on #1627
This is enough:

[code]

[2022-08-11 17:49] lzalvin commented on #2995
Would really like to be able to fork chains like arbitrum with the introduction of arbitrum nitro.

[2022-08-11 19:27] PatrickAlphaC commented on #3025
Hello! Looks like this was a bit of an overstep by me, using tools for not what they were designed for. You can see I have a typescript edition of my code here: https://github.com/PatrickAlphaC/hardhat-fund-me-fcc/blob/84271e7002e55d86c90b26466ff27bc067f25de0/deploy/01-deploy-fund-me.ts#L29

So `hardhat-deploy` has the [waitConfirmations](https://github.com/PatrickAlphaC/hardhat-fund-me-fcc/blob/8

[2022-08-11 20:06] RvanAmsterdam commented on #3025
Thank you for the response, that makes a lot of sense! As requested I opened an issue in your repo, see [issue#1707](https://github.com/smartcontractkit/full-blockchain-solidity-course-js/issues/1707). Will take a look tomorrow to create a PR.

Thanks all for thinking along and the help!

[2022-08-11 20:06] #3025 closed

[2022-08-11 20:45] feuGeneA commented on #2995
This issue has been added to our internal backlog. I can't say when we'll be able to prioritize it. But I can say that the more interest is shown here, the more likely we are to work on it sooner rather than later :)

[2022-08-12 08:08] rafinskipg commented on #2995
Hey, i assumed it was supported to fork arbitrum rinkeby for testing... I am surprised it does not work :( (i based my entire work on this working)

[2022-08-12 08:21] gzeoneth commented on #2995
just fyi you can use this as a workaround for now
[code]

[2022-08-12 15:10] gionn opened #3035 "Long list of security issues after installing hardhat-waffle"
Hello,

after installing hardhat-waffle latest package as per [docs](https://hardhat.org/hardhat-runner/plugins/nomiclabs-hardhat-waffle):

[code]

I get 51 (!!) security vulnerability reports in npm:

[code]

[2022-08-12 18:41] lzalvin commented on #1794
Would still love to see this fixed : )

[2022-08-12 20:03] nvk0x opened #3036 "Security Vulnerability in hardhat"
Hi,

I am an Security Researcher and found some security vulnerability in Hardhat. Does @NomicFoundation have bugbounty program ?
Where can i report about it ?

[2022-08-12 20:10] alanhamid commented on #1713
I found a way to avoid this issue by typing the commands in the following sequence.  I think it has something to do with when you install your Hardhat in the folder.
I am creating my project in the directory called JACKPOT, and then I type the commands in the following order.  So far so good.
Frist create your project folder and then switch to it:
PS C:\Users\alanh> mkdir jackpot
PS C:\Users\alanh

[2022-08-12 20:16] fvictorio commented on #3035
Hi @gionn, we recently released an alternative to `hardhat-waffle` that has way fewer dependencies. If you are interested, you can learn how to migrate [here](https://hardhat.org/hardhat-runner/docs/guides/migrating-from-hardhat-waffle).

Anyway, more generally, the result of `npm audit` tends to be misleading. You can read [this](https://overreacted.io/npm-audit-broken-by-design/) to learn why.

[2022-08-12 21:32] sebasgoldberg commented on #2391
Hi all,

Here is a plugin that adds the getProvider function to hre.

In case that you use a network that it is configured to works with web sockets, returns an instance of `WebSocketProvider`, in other cases, returns hre.ethers.provider.

Here is the npm package:

https://www.npmjs.com/package/@sebasgoldberg/hardhat-wsprovider

[2022-08-12 22:41] caoyifeng007 opened #3037 "Install dependencies with pnpm seems not working"
![image](https://user-images.githubusercontent.com/8067217/184453529-ee74e173-3190-4edb-8462-24166d30f656.png)

When I changed to npm install, this error won't comes out.

[2022-08-13 07:55] gionn commented on #3035
That looks cool, I will give a try, thanks for the pointer!

Thanks again, I am a casual npm user and I know that vulnerabilities has different impacts depending on where they are run, but I was more concerned that was a sign of an unmaintained project rather than a critical security risk (even that working on crypto projects made me A LOT more paranoid than before).

[2022-08-13 07:55] #3035 closed

[2022-08-13 20:00] JEflyer opened #3038 "Parser Error: Expected pragma... Receving this error in HH but not on Remix"
I'm editing uniswap v2 to work with solidity 0.8.15.
The edited code shows no error in Remix on compile but on compile in Hardhat the error appears.

Error:
ParserError: Expected pragma, import directive or contract/interface/library/struct/enum/constant/function/error definition.

[FlatFactory.txt](https://github.com/NomicFoundation/hardhat/files/9332092/FlatFactory.txt)

Any help on this would b

[2022-08-14 01:41] devinaconley commented on #1873
Hey folks, any additional info on this one? I'm running into the same issue while converting an existing test suite over to hardhat

We are checking for expected reverts from the library methods, but instead seeing `Transaction reverted: library was called directly`

All valid calls (to the same methods) are working fine.

For example intentionally triggering this revert
[code]

yields the followi

[2022-08-15 03:53] kevupton commented on #2472
This would definitely speed things up for us. We run a compile anyway before doing the verification, and need to go through and verify many contracts.

[2022-08-15 11:52] shinjiikari256 opened #3041 "what does the new '@nomicfoundation/hardhat-toolbox' do?"
![image](https://user-images.githubusercontent.com/39000784/184629306-94c4248f-fbb1-4e6d-beac-a89285638fd1.png)

Does this mean that the new '@nomicfoundation/hardhat-toolbox' does not install these packages?
Why is it needed?

When hardhat proposed to install all the necessary dependencies during initialization, it was objectively better

[2022-08-15 14:45] #2948 closed

[2022-08-15 16:12] feuGeneA commented on #3041
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

To make an initial attempt to answer your question, I'll excer

[2022-08-15 16:12] #3041 closed

[2022-08-15 16:25] feuGeneA commented on #2927
This issue has been added to our internal backlog, meaning that we intend to work on it, but that it has not yet been scheduled.

[2022-08-15 16:26] feuGeneA commented on #3036
I understand that you've been in touch with the team via e-mail, so I'm closing this issue.

[2022-08-15 16:26] #3036 closed

[2022-08-15 16:39] feuGeneA commented on #3005
This issue has been added to our internal backlog, meaning that we intend to work on it, but that it has not yet been scheduled.

[2022-08-15 20:26] fvictorio opened #3042 "Separate Hardhat Runner and Hardhat Network"
This is the main tracking issue for splitting Hardhat Runner and Network into separate packages. This needs research and design, but tentatively we should:

- Have a different package for the Hardhat Network, that can be used for programmatically creating instances. This would be a big step towards having better support for working with multiple networks at the same time.
- Define the interface of

[2022-08-15 20:28] fvictorio commented on #2797
Hi folks. We know this is very important for a lot of teams. The main thing we need to get done to enable this is to separate the Hardhat Network logic into a separate package, which has a high priority on our roadmap. I don't know when that will be done, but I opened #3042 so that people interested in this can subscribe to that issue.

[2022-08-15 20:39] fvictorio commented on #1111
This is blocked by #3042. See my comment [here](https://github.com/NomicFoundation/hardhat/issues/2797#issuecomment-1215757465) for extra context.

[2022-08-15 20:45] fvictorio opened #3043 "Initial support for ES Modules"
We are working on adding some support for using ES Modules in Hardhat projects. We can't provide **full** support yet because Hardhat's plugin system relies on plugins being loaded synchronously, in the CommonJS model, and ESM works in a different way.

We'll only support ESM in javascript projects, because we rely on `ts-node` for typescript projects and their support for ESM is not quite ready.

[2022-08-15 20:46] fvictorio commented on #957
Hi everyone. We are working on having some initial support for ES Modules that doesn't require a new major version of Hardhat. The way this will work is that the config and anything required from it (plugins, files defining modules, etc.) will have to be in CJS, but you'll be able to use ESM for scripts and tests.

The main issue tracking this effort is #3043.

[2022-08-15 20:53] fvictorio commented on #2994
Hi @Andriy-Kulak. This is a good point, especially considering how hard it's to configure eslint with typescript. We are going to create a GitHub template repo for this. I can't promise a date, but we'll let you know here when it's ready.

[2022-08-15 21:02] fvictorio commented on #2472
This is high on our to-do list. I can't promise a date, but I hope we'll be able to work on this soon:tm:

[2022-08-15 21:20] fvictorio commented on #3038
This file compiles fine for me in a Hardhat project (with `solidity: "0.8.15"` configured). Please comment if you can provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) that triggers your issue and I'll re-open the issue.

[2022-08-15 21:20] #3038 closed

[2022-08-16 07:03] sunwrobert commented on #2672
+1, still would like to get this solved

[2022-08-16 07:19] #2956 closed

[2022-08-16 07:21] fvictorio commented on #2956
For anyone landing here: we are going to create some GitHub templates to cover this need. We'll comment here when they are ready.

[2022-08-16 07:31] fvictorio commented on #3037
@caoyifeng007 are you talking about the project initialization with `npx hardhat`? In that case, that assumes you are using either npm or yarn.

But you should be able to use `pnpm` anyway. Check the instructions [here](https://hardhat.org/hardhat-runner/plugins/nomicfoundation-hardhat-toolbox) and use the command for older versions of npm or yarn, replacing the command with `pnpm install --save-d

[2022-08-16 07:31] #3037 closed

[2022-08-16 08:18] fvictorio opened #3045 "Add support for blocks with the same timestamp"
There are many reasons to support this, even if it's not consensus-valid. See for example the discussion in #2504.

The way we'll approach this is by adding a new option in the Hardhat network configuration (name TBD) that defaults to false to preserve the current behavior. When this option is enabled:

- Two (or more) blocks mined within the same second will have the same timestamp. That is, we w

[2022-08-16 08:21] fvictorio commented on #2504
Hey @cruzdanilo, we've decided that we'll implement this, although I can't give an estimate of when. I created #3045 to track the effort, so I'm going to close this issue in favor of that one.

Anyone interested in this: please leave a :+1: on that new issue to signal support for it. That will help us properly prioritize it.

[2022-08-16 08:21] #2504 closed

[2022-08-16 09:48] fvictorio commented on #2721
Fixed in [Hardhat v2.10.2](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.10.2). Thank you @icepaq for reporting this.

[2022-08-16 09:49] fvictorio commented on #2170
Fixed in [hardhat-ethers v2.1.1](https://github.com/NomicFoundation/hardhat/releases/tag/%40nomiclabs%2Fhardhat-ethers%402.1.1)

[2022-08-16 12:10] Sceat commented on #957
Heavily following this, `commonJs` is a fossil of the past and should never be used. Web3 is leading the future so i would suggest to mark this issue as **priority:high**

[2022-08-16 20:51] #2514 closed

[2022-08-16 23:12] feuGeneA commented on #2672
On our internal backlog, I've bumped this up to the highest priority, so that if nothing else it will be discussed by the team. I can't make any promises about whether it'll stay at that priority, much less about when we might add it to our schedule, but once we've discussed it and made such some decision then I'll report back here.

[2022-08-17 10:36] vladikopl01 commented on #2906
I had the same problem while running tests. Every test with expected equals for `latest()` and the computer's timestamp causes test failure and has a difference in time of 1 sec. I make data struct on contract based on computer's timestamp and then get back this struct to expect creating process was performed without issues, but get the difference in time.

[2022-08-17 15:50] lightrao commented on #2468
proxychains4 npx hardhat verify ......
but have this error:
Error in plugin @nomiclabs/hardhat-etherscan: Failed to obtain list of solc versions. Reason: Body Timeout Error

[2022-08-17 20:29] OxMarco opened #3054 "Add support to deploying contracts on a submodule"
I currently have a hardhat project with deployment and verification scripts and a submodule containing the contracts code and tests.
I'd like to deploy and verify such contracts with the _hardhat-etherscan_ plugin but I get the following error:
`Error in plugin @nomiclabs/hardhat-etherscan: The contract ../v1/contracts/mocks/MockERC20.sol: MockERC20 is not present in your project.`

Dir structure:

[2022-08-17 22:41] BKopyIo opened #3055 "hardhat test ignores reason string when running on localhost"
I get the following message running hh test --network localhost:

[code]

But on the termnal when hardhat node is running, the revert string is displayed.
[code]

It's already pretty tough to debug errors within the solidity conracts -- would be good that whatevererror info is available is passed back to to the terminal where tests are running.

[2022-08-17 23:38] BKopyIo commented on #1981
is there some reason why signMessage works in tests on the transient node, but fails with "personal_sign - Method not supported" when run on a localhost persistent node?

In my tests I use `let sig = await signer.signMessage(ethers.utils.arrayify(hashSource));`

which works fine when I run it a spec with hh test;
but when I use the same thing with `run script/test.ts --network localhost` I get all

[2022-08-17 23:50] BKopyIo opened #3056 "signer.signMessage message fails when run on hardhat node."
From looking at the history here, it seems liked this problem was solved, but when I run this test:
[code]
using just `hh test` it works fine, but if a I start a hardhat node on localhost and then run it using `hh test --network localhost` it fails with
[code]

[2022-08-18 10:12] PhilBrk8 commented on #2531
I had the same problem with hardhat. - luckily on rinkeby.
The error only got thrown for 1 of 2 contracts.

Did not change a single thing, but I tried to re-deploy and re-verify - it reused the already verified contract, deployed the other one again and verification than worked. Don´t ask me why, but maybe it helps if you just try again.

[2022-08-18 10:22] fvictorio commented on #3054
Is that correct? Before that you said that the directory is `v1-core`, not `v1`.

If you used the correct directory, then... I'm not sure. That should work IMO, but maybe having an inner Hardhat config is causing some issue. If that's the case, I think I would consider it a bug.

[2022-08-18 10:27] fvictorio commented on #1981
@BKopyIo I started a `npx hardhat node` and then connected to it with `--network localhost` and the method is present. Maybe you are connecting to a different node?

[2022-08-18 14:12] feuGeneA commented on #3056
Thank you for using Hardhat.

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

Can you provide us with a minimal reproducible example?

[2022-08-18 14:15] feuGeneA commented on #3055
Thank you for using Hardhat. We do have existing tests that exercise reverts with reason strings while using Hardhat Node. I'm wondering what's different about your situation.

In general, if there is a problem in Hardhat, we will need a minimal reproducible example in order to investigate it. See https://stackoverflow.com/help/minimal-reproducible-example

Can you provide us with a minimal reprod

[2022-08-18 15:57] #1996 closed

[2022-08-18 15:58] feuGeneA commented on #1864
Fixed via #2218

[2022-08-18 15:58] #1864 closed

[2022-08-18 16:32] jiaochangyang opened #3059 "Hardhat Support for eth_signTransaction"
Hardhat node does not currently have support for [eth_signTransaction](https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_signtransaction), which is defined in the Ethereum JSON-RPC specifications. It would be good to have this particular feature for dApp development purposes as it would allow for simpler unit-testing through unlocked accounts, while still handling raw transaction submissi

[2022-08-18 23:43] BKopyIo commented on #3056
Sure, here is the test:

[code]

And here is the output in the VS Code Console:
[code]

And here is the terminal output which is running `npx hardhat node`
[code]

And hereis the NPM version info
[code]

[2022-08-19 00:18] BKopyIo commented on #3055
Unfortunately I am a bit too busy sorting out the bugs in my code to spend  a considerable amount of time constructing a MRE to demonstrate that the bugs in your code are real.  I've reproduced the actual output I received, and while I get it may not be easy to troubleshoot without somebody having done the work of producing an MRE, that doesn't mean the problem doesn't exist and isn't worth at lea

[2022-08-19 00:27] BKopyIo commented on #1981
Hm. Puzzling.  I started a new npx node on my terminal, as well, and just wrote a single test using signer.signMessage(string) using hh test –network localhost and got the same failure.

From: Franco Victorio ***@***.***>
Reply-To: NomicFoundation/hardhat ***@***.***>
Date: Thursday, August 18, 2022 at 3:28 AM
To: NomicFoundation/hardhat ***@***.***>
Cc: Josh Kramer ***@***.***>, Mention ***@***.*

[2022-08-19 06:14] penguin4238 commented on #1731
have this issue too with apple m1  and node v18.4.0, hardhat 2.10.2

[2022-08-19 10:21] vladikopl01 commented on #2906
I realized that `latest()` function returns the latest block timestamp and my custom error returns `block.timestamp` of the possible next block, so there is a difference in 1 sec between them.

It will be great to have such a function to get the next possible timestamp of the block, which is proceeded by the current transaction, if it is possible at all. Anyways, I will be glad to hear any ideas o

[2022-08-19 11:24] Archethect opened #3062 "Verification failures"
Suddenly getting verification problems on both Arbitrum One and Arbitrum Rinkeby since 2 days.
Nothing changed on the code side and I immediately run the verification after deploy.

Error message I'm getting:

`
NomicLabsHardhatPluginError: The contract verification failed.
Reason: Fail - Unable to verify
`

[2022-08-19 14:34] najimc opened #3063 "Add Support for Dogechain"
Much wow such good boi needs support for Dogechain

[2022-08-19 15:55] lut1k commented on #2672
+1, still would like to get this solved

[2022-08-19 16:32] Enigmatic331 commented on #3062
Hey @Archethect - Could you try rerunning for Arbitrum One again please? One of our verification nodes for the API endpoint went down without notice, and am currently having it routed to a backup.

As for Arbitrum Rinkeby, all looks fine so far and I can see new contracts being verified via API. Perhaps you can share some details and I could help take a look.

Cheers.

[2022-08-19 20:15] frontier159 commented on #1696
This can be closed now

[2022-08-20 00:14] nslee333 commented on #2159
This is just a workaround for any developers running into this issue.

I ran into this error while performing tests with HRE. If you add the following into your hardhat config file it works around the issue.

[code]

[2022-08-20 03:39] psych2go commented on #2348
How did you solve it?

[2022-08-20 03:40] psych2go commented on #2348
How did you solve it?

[2022-08-20 14:51] sebastianst commented on #2980
I am a bit confused @fvictorio - is calling `loadFixture` inside another fixture function to apply chain mutations on top of the first fixture's snapshot now supported or ever will be? This could definitely lead to some potentially large performance improvements.

[2022-08-20 15:42] sebastianst opened #3067 "chai-matchers: Support chaining of assertions with `.and`"
Currently, when I want to perform multiple hardhat-chai assertions on the same transaction, I have to save the transaction to a variable and then perform each assertion separately:
[code]
It would be great to instead be able to chain them with `.and` like
[code]

Or is this somehow already possible?

[2022-08-20 19:15] sebastianst commented on #3067
Why has this been closed without comment @fvictorio ?

[2022-08-20 22:22] fvictorio commented on #3067
Sorry @sebastianst, one of our integrations is misbehaving. This is not the first thing that is automatically closed without a clear reason.

[2022-08-20 22:32] fvictorio commented on #3012
Closing for lack of reproduction steps.

[2022-08-20 22:32] #3012 closed

[2022-08-20 22:54] fvictorio commented on #2980
It's not supported yet. Maybe it could be supported in the future, but it feels like an anti-pattern to me. IMO each fixture should be about deploying contracts and sending transactions. Executing a fixture with `loadFixture` should be orthogonal to that (in my mind at least, I'm open to being wrong here).

I'm not sure if supporting this would lead to *large* performance improvements. Take my exa

[2022-08-21 18:44] EmreYavuzalp commented on #2967
I will try on another pc some time later. I've been too busy with another projects. Can you not close this just yet?

[2022-08-21 19:12] mhusnainee commented on #2913
Thanks @alcuadrado Installing ```@nomicfoundation/hardhat-toolbox@1.0.2``` worked for me

[2022-08-22 06:54] karooolis commented on #2136
Is anyone working on it? I'd like to give a shot at it.

[2022-08-22 09:12] sebastianst commented on #2980
Yes that makes sense and in the scenario you described (10 tests for each fixture) the performance improvements are indeed marginal.

I just encountered a different scenario where the first fixture is large and the additional steps in the second fixture are small but still worthwhile putting into a fixture. Also, the second fixture would only be called 2-3 times. In this scenario, the cost of runn

[2022-08-22 09:56] fvictorio commented on #3011
Closing for lack of more information.

[2022-08-22 09:56] #3011 closed

[2022-08-22 10:02] fvictorio commented on #3067
Thanks for reporting this @sebastianst.

Note for ourselves: it seems like you can chain `.to.changeEtherBalance` and `.to.emit` (in that order) and it works, but if you put `.to.emit` first then that assertion is ignored. The first scenario is probably working just by coincidence.

[2022-08-22 10:09] fvictorio commented on #2894
Closing for lack of reproduction steps.

[2022-08-22 10:09] #2894 closed

[2022-08-22 14:29] feuGeneA commented on #3055
Our own resources are limited as well, so we need to ask users for help when possible/practical. Thanks for understanding, and thanks again for using Hardhat. I'm re-opening this in the hope that it might bubble up through our prioritization process.

[2022-08-22 15:14] feuGeneA commented on #2136
No one is working on it yet. Feel free to dive in. However, please be aware that the initial work will be "product work" rather than "technical work," which means discussion with the team to figure out what exactly should be done and how it should be approached. Any facilitation of that discussion would be welcome here on this Issue.

[2022-08-22 15:53] rodrigoherrerai commented on #2136
@karooolis Would love to work on it as well

[2022-08-23 14:06] Ayuilos opened #3070 "The `gas` field in `hardhat.config.js` not work"
I've set the `gas` to `300_000` and `gasPrice` to `1e11` in `localhost` - `networks`:

[code]

After this config set, I `deploy` a contract which will not cost more than 300_000 gas on hardhat network.
The fact was the `gasPrice` works, it's `100Gwei` in transaction info, but the gas limit is still estimated gas, not `300_000`.
This prevents me from simply creating a data-perfect, replayable contr

[2022-08-23 14:11] Ayuilos commented on #3070
More information:
I just use this gas config when `contractA.deploy`, so I don't know if `deploy` is a special situation which will not use `gas` config.

[2022-08-23 14:29] Ayuilos commented on #3070
Have checked other issues, seems like this operation can not work.
I'll try to deploy it by `sendTransaction`.

[2022-08-23 19:53] bitwiseguy opened #3071 "HardhatError: HH1006: The file /full/path/to/file is treated as local but is inside a node_modules directory"
I am trying to import a node.js package into my `node_modules` directory, and then point the hardhat `paths.sources` field to  that package so that hardhat will compile those contracts. Here is my full `hardhat.config.js`:
[code]

However, I get the following error when hardhat tries to compile the contracts:
[code]

Is it possible to point `paths.sources` to a `node_modules` directory? Note that

[2022-08-24 08:08] Ayuilos commented on #3070
`sendTransaction` works well, I think it don't give me new pressure on developing.
What's more, to disable EIP-155, will have to set chainId to 0.

[2022-08-24 08:09] #3070 closed

[2022-08-24 08:48] fvictorio commented on #2986
Closing this for lack of reproduction steps.

[2022-08-24 08:48] #2986 closed

[2022-08-24 11:46] sharp2448 commented on #1040
+1 me too.
It's a pity, can't use hardhat toolbox like that...
Hardhat-deploy is more important for me rn...

[2022-08-24 13:30] shinjiikari256 commented on #3041
Oh, sorry, I found that it occurred when using hardhat with yarn.
But npm is too slow.
But the [bun](https://github.com/oven-sh/bun.git) seems to work fast and doesn't break anything.

[2022-08-24 14:25] fvictorio commented on #1040
@sharp2448 you can use hardhat toolbox and hardhat-deploy (or any plugin not included in the toolbox) together

[2022-08-24 15:03] wighawag commented on #1040
@fvictorio the issue is that hardhat toolbox hardcode dependencies to hardhat-ethers and this prevent `hardhat-deploy-ethers` to be used.

`hardhat-deploy-ethers` could be used if that issue (1040) was solved though

[2022-08-24 15:48] grapevinegizmos opened #3072 "hardhat-etherscan reporting Invalid API Key"
From the discord traffic seems like a lot of people are getting random errors `Error in plugin @nomiclabs/hardhat-etherscan: Invalid API Key` that have apparently nothing to do with invalid API keys.  (Myself included).  Several people have been reporting the problem over the last few days.  For some it works occasionally.  Any idea what is going on here, if there is any fix, or at least a COE?

[2022-08-24 16:56] Diego-c22 commented on #849
You can create different functions to call a fixture with different arguments and use that functions with loadFixture()

[2022-08-24 17:47] devinaconley commented on #1873
Hi @fvictorio @alcuadrado @ivanzhelyazkov has anyone found a solution for this? Currently my workaround is to just expect a generic revert

[2022-08-24 17:48] grapevinegizmos commented on #3072
just upgraded from 3.03 to 3.10 but no help.  I also tried a different API key.

[2022-08-24 18:21] feuGeneA commented on #2869
Thank you for your patience. This is high on our team's list of items to triage.

[2022-08-24 18:41] alcuadrado opened #3074 "Implement `hardhat_setChainId`"
We should implement this method, as it's useful for testing things like EIP-712 related functionality

[2022-08-24 18:42] alcuadrado commented on #3074
This comes from a conversation with Ryan about https://github.com/NomicFoundation/hardhat/pull/3060 — I think `hardhat_setChainId` would be a better alternative to #3060

[2022-08-24 19:21] wuya666 opened #3075 "Hardhat refuse to include two transactions in one block even when possible"
Currently I need to test a use case where two transactions are mined in the same block, while I can make that happen with "real" networks like Ethereum testnets and such, the hardhat network somehow refuses to mine them in the same block which makes the test extremely tedious and harder to debug.

I use something like the following code

[code]

And the output is like this:

[code]

As you can see

[2022-08-25 07:18] N00000b commented on #2995
Yes I also need this. I am trying to test on a fork of Wanchain and am having the same issue. Thanks!

[2022-08-25 08:08] SomeJoker commented on #1117
Nice. fix my problem

[2022-08-25 10:51] vladyan18 commented on #3075
I ran into a similar issue. Transactions were not included in the block until I explicitly set a gasLimit for them

[2022-08-25 12:14] FloUz-ai opened #3077 "Failed to send contract verification request."
Hi , here the error I get when I try to verify my SC deployed on ropsten :

[code]

[2022-08-25 12:51] Enigmatic331 commented on #3018
Hi @WarTech9 - Could you give it another shot please? We've recently fixed up a couple bugs with OP-Kovan's contract verification endpoint which also solve issues with intermittent invalid api keys - Feel free to reach out if it might still be persisting, and will take a look as well.

[2022-08-25 14:37] fvictorio commented on #3077
@FloUz-ai this might be related to the fact that Ropsten will be deprecated soon (check the banner in https://ropsten.etherscan.io/). I recommend you use the Goerli testnet instead.

[2022-08-25 14:39] fvictorio commented on #3077
@Enigmatic331 can you confirm if this is the case?

[2022-08-25 16:07] Enigmatic331 commented on #3077
Ah for this case I was able to push a verification across to Ropsten though, just did one (i.e. https://ropsten.etherscan.io/address/0xc42e49505fa0e4957ba1954919a492dc8f61874e#code, a little trick, license is optional via the API, might plug that one day). So might be a different issue here....

@FloUz-ai - Are you still getting the same error if you retry now? Was wondering if it's a temporary th

[2022-08-25 20:19] hoytech opened #3078 "setStorageAt uses rpcQuantity instead of rpcStorageSlot"
Hi!

In commit 13b5cd2f19dd0ca69f89b2d04eb7d00e9c45898d, the validator for the slot param in `getStorageAt` was changed from `rpcQuantity` to `rpcStorageSlot`. The main difference is that the first disallows hex 0 padding and the second requires it.

However, the `setStorageAt` method continues to use `rpcQuantity` for this field: https://github.com/NomicFoundation/hardhat/blob/f23d106048c2cd5d98b

[2022-08-26 02:32] frontier159 opened #3080 "hardhat-chai-matchers - false positive for withArgs(array)"
The `withArgs` matcher on events incorrectly passes if the arg is an array of unequal size

eg in:
https://github.com/NomicFoundation/hardhat/blob/master/packages/hardhat-chai-matchers/test/events.ts#L317

I would expect this new test case to fail `[1,2] != [1]`:
[code]
But it succeeds.

[2022-08-26 02:36] frontier159 commented on #3080
Note: This case does fail:
[code]

So only an issue when the expected array size < actual array size

[2022-08-26 08:58] fvictorio commented on #3078
Hi @hoytech, thanks for opening this issue. This makes sense to me, although in this case I'd rather have a more permissive type that doesn't care if there are or there aren't leading zeros.

The reason for this is that `hardhat_setStorage` is not a standard method, so we don't have to follow the [spec](https://github.com/ethereum/execution-apis). What do you think?

Btw, have you checked out our

[2022-08-26 09:00] fvictorio commented on #3077
Oh, sorry for being misleading, I just assumed you would nuke the ropsten explorer :sweat_smile:

[2022-08-26 10:14] scytalelabs opened #3083 "Depandabot alert: @nomicfoundation/hardhat-toolbox@1.0.2 needs update to use got >=11.8.5"
Dependabot cannot update got to a non-vulnerable version

The latest possible version that can be installed is 7.1.0 because of the following conflicting dependencies:

@nomicfoundation/hardhat-toolbox@1.0.2 requires got@9.6.0 via a transitive dependency on web3-bzz@1.7.4
solidity-coverage@0.7.21 requires got@^7.1.0 via a transitive dependency on swarm-js@0.1.40
@nomicfoundation/hardhat-toolbox@1.

[2022-08-26 12:39] hoytech commented on #3078
I think making it more permissive and not care about leading 0s is even better, good idea! Is there currently a validator that you would recommend that has that behaviour?

Nope, I haven't seen the network helpers before. I'm checking them out right now, thanks for the tip!

[2022-08-26 12:59] FloUz-ai commented on #3077
No worries at all :)

[2022-08-26 13:00] FloUz-ai commented on #3077
@Enigmatic331 @fvictorio , I just retried and I have the same result with the reason " other side closed"

[2022-08-26 13:38] Enigmatic331 commented on #3077
Interesting.... Could you try a small sample directly pinging our API endpoint? You can use Postman and do a POST call, feel free to amend the sample below.

`https://api-ropsten.etherscan.io/api?apikey=<yourapikey>&module=contract&action=verifysourcecode&contractaddress=0xC42e49505fa0E4957Ba1954919a492Dc8F61874E&sourceCode=%2F**%0A+*Submitted+for+verification+at+Etherscan.io+on+2022-08-25%0A*%2F%

[2022-08-26 13:54] FloUz-ai commented on #3077
Here the return :
![image](https://user-images.githubusercontent.com/83022872/186919526-46f94f4d-5cab-4d86-b21d-03f6d5523447.png)

[2022-08-26 14:00] fvictorio commented on #3078
What do you mean? If some node has that behaviour? Because a method like `hardhat_setStorage` only makes sense in a development node.

[2022-08-26 14:02] Enigmatic331 commented on #3077
Ah you'd want to switch over to use POST:

![image](https://user-images.githubusercontent.com/28551011/186921288-904a409e-1ab1-4cd9-ab8e-b003c238bdaf.png)

[2022-08-26 14:03] FloUz-ai commented on #3077
oh sorry :

![image](https://user-images.githubusercontent.com/83022872/186921432-8b02e973-3f79-479a-bccd-edae975cb516.png)

[2022-08-26 14:13] FloUz-ai commented on #3077
yeah it works without trouble..  that's very strange, why would not I be able to do it from the command

[code]

[2022-08-26 14:14] Enigmatic331 commented on #3077
Hmmm....... Haaaaalp @fvictorio 🙇

[2022-08-26 15:06] hoytech commented on #3078
Ah sorry, probably I'm not using the correct terminology. I mean if we were going to change the `rpcQuantity` line I linked above to something permissive, what should it be? It shouldn't be `rpcStorageSlot` because that *requires* 0 padding. Maybe `rpcData`?

[2022-08-26 22:12] grapevinegizmos commented on #3072
I am trying to verify on PolygonScan for a contract deployed to Mumbai.

[2022-08-26 22:16] grapevinegizmos commented on #3072
I just tried again and its working now.

[2022-08-26 22:16] #3072 closed

[2022-08-26 23:05] aaronbuchwald opened #3084 "abi.decode results in an error that HardHat cannot decode the reason for"
<img width="957" alt="Screen Shot 2022-08-26 at 18 59 42" src="https://user-images.githubusercontent.com/24684335/187000977-fb877c92-20f2-421d-8720-f28ce1740f0b.png">

Hey guys, I'm testing some error handling within HardHat and have found that the function `abi.decode(...)` has an unexpected behavior that results in an error message saying that I should report it to HardHat.

The code that's caus

[2022-08-27 00:28] lzalvin commented on #2995
looks great. works with hardhat_reset.
[code]

[2022-08-27 00:42] TheRook opened #3085 "Hardhat Exceptions generated from an emit of a custom error will be missing line numbers for and error details."
The test code is trying to capture a custom error in javascript:
[code]

This is a custom error with a single param in solidity:
[code]

The problem is that every time a custom error is generated via a `revert` hardhat looses track of what line number in the test case that generated the fault, and also looses track of what was returned and only lists what it was expecting to see.   When a revert i

[2022-08-27 03:56] gzeoneth commented on #2995
I have upload a patch file here if you don't want to install my package, this is also compatible with a few more hardhat version e.g. `2.9.9`, `2.10.2`
https://gist.github.com/gzeoneth/195cb16f00eaa32fa868e6c0192616c1

You can install it using [patch-package](https://www.npmjs.com/package/patch-package#why-use-postinstall-postinstall-with-yarn), just follow the step there and put [hardhat+2.10.1.p

[2022-08-27 06:20] daocore commented on #2684
You can add youself proxy config in the "hardhat.config.js" file:
[code]

[2022-08-27 09:23] woojiq commented on #3085
From the [hardhat docs](https://hardhat.org/hardhat-chai-matchers/docs/overview#why-would-i-want-to-use-it?):

So, try this:
[code]
(add _await_ before _expect_   And  remove _await_ before _this.token_)

[2022-08-27 14:53] TheRook commented on #3085
Changing the await order has no effect on hardhat's error message.

The bug is that hardhat's assertion error is missing information, such as the line number of the unit test and the expectation mismatch.   People on stack overflow are experiencing the same problem as I am:
https://stackoverflow.com/questions/72240239/i-am-getting-assertionerror-expected-transaction-to-be-reverted-with-username

E

[2022-08-27 15:01] TheRook commented on #3085
Also await is required inside of the expect() if you are expecting to capture an emit. Changing this order shouldn't make the error message less useful, that still means this bug is annoying.

`     TypeError: Cannot read property 'waitForTransaction' of undefined
      at Object.waitForPendingTransaction (node_modules/@ethereum-waffle/chai/dist/cjs/matchers/misc/transaction.js:18:21)
      at pro

[2022-08-27 16:36] fvictorio commented on #3085
@TheRook which version of `hardhat-chai-matchers` are you using? We recently improved the async stack traces, but maybe there's more room for improvement.

[2022-08-27 18:16] jacob0123456 commented on #2287
I have got a same issue. Thank you.

[2022-08-27 18:21] jacob0123456 commented on #1117
I used npx hardhat clean, but I hadn't solved the problem.
Please help me.

[2022-08-27 18:57] fvictorio commented on #3077
Thank you folks, I'll take a deepr look as soon as we finish our support for the merge.

[2022-08-27 22:06] TheRook commented on #3085
I am using the one that comes with "hardhat": "^2.9.3", I'm not sure how to
be more specific.

On Sat, Aug 27, 2022 at 9:36 AM Franco Victorio ***@***.***>
wrote:

[2022-08-27 22:17] TheRook commented on #3085
I found the bug in master:
https://github.com/NomicFoundation/hardhat/blob/master/packages/hardhat-chai-matchers/src/internal/emit.ts#L66-L77

          `Expected event "${eventName}" to be emitted, but it wasn't`,
          `Expected event "${eventName}" NOT to be emitted, but it was`

It looks like when the value type is a custom error, it doesn't print the error.  "but it wasn't" is the bug - i

[2022-08-28 09:18] Programmer001-JS opened #3089 "eth_estimateGas - error , l can't connect my Dapp with my"
eth_estimateGas

  If you think this is a bug in Hardhat, please report it here: https://hardhat.org/reportbug

*** l can't connect and approve transactions with my wallet metamask.
l run - npx hardhat  test - in terminal , and l had 7 passing successfullytest, but in my npx hardhat node terminal i have this error.

[2022-08-28 11:21] fvictorio commented on #3085
Check the version with `npm ls @nomicfoundation/hardhat-chai-matchers`

I don't understand what you mean here. What that message is saying is that you were expecting some event (say, `Foo`) to be emitted, but that event was not emitted in that transaction. Maybe it would be clearer if we said "but it wasn't _emitted_"? Also, maybe we could show the list of emitted events?

But this issue is about

[2022-08-28 12:52] OxMarco commented on #3054
I tried without success, the plugin still complains about the project files being in a subfolder

[2022-08-28 13:48] ouoabcde opened #3090 "Built-in hardhat node's block number increases when it's expected to revert"
When the function is expected to revert in test code, the built-in hardhat node still increases it's block number. But if I use the local hardhat node which is ran by `npx hardhat node`, it's revert check passes well and not increases it's block number. Here is the test code format I used.

[code]

And here's the package versions I used.

[code]

[2022-08-28 13:52] alcuadrado commented on #3090
Thanks for reporting this. I changed the title to it's more descriptive.

[2022-08-28 13:53] alcuadrado commented on #3090
The ideal scenario should be that in both situations a block is created.

[2022-08-28 14:01] ouoabcde commented on #3090
@alcuadrado Yes the title seems correct. And the ideal scenario should be that in both situations, a block should not be created, because it's reverting transaction.

[2022-08-28 16:16] TheRook commented on #3085
This bug is real **bad** my friend, I think I have wasted probably 8-10 hours on this one bug because it occurred maybe 10 times or more, it happens every time the script issues a `revert CustomEvent(args)` which is a new feature of Solidity that causes hardhat to behave poorly.   This issue is two fold, on one had when this type of issue occurs the line number of the test is completely and totall

[2022-08-28 16:54] fvictorio commented on #3085
@TheRook I'm not sure I'm following what you're saying. The original issue is about custom errors but you are then talking about `.to.emit`, which is related to events?

Anyway, re-reading the original issue, I see at least one problem:

[code]

That's not the way to assert that a custom error was thrown. `.revertedWith` is for reverts with reason strings (that is, things like `require(false, "my

[2022-08-28 16:54] fvictorio opened #3091 "Show custom error selector in chai matchers"
In error messages like `Expected transaction to be reverted with reason 'some reason', but it reverted with a custom error`, we should include the selector of the custom error.

[2022-08-28 17:02] fvictorio opened #3092 "Unhandled promise rejection when custom error doesn't exist in contract"
If you write this assertion:

[code]

And `foo.f` reverts but "NonExistent" is not a custom error in that contract, you get the correct error message:

[code]

But you also get an `UnhandledPromiseRejectionWarning`:

[code]

My guess is that we are throwing before we await the promise. If the custom error doesn't exist, we should probably await and discard the promise. Or even better: we should st

[2022-08-29 01:18] 0xYomari opened #3095 "on both the Linux and Mac hh doesn't seem to work..."
OS: Linux 21.10 and Mac Monterey
command: yarn global add hardhat-shorthand

[2022-08-29 06:01] DanyalKhawaja opened #3096 "I am having the following errors when running testing contracts with the --parallel option. It actually tries to re-acquire the lock on openzappelin manifest file and fails. I have no clue at all what to do!"
I am having the following errors when testing contracts with the --parallel option. It actually tries to re-acquire the lock on openzappelin manifest file and fails. I have no clue at all what is happening!

![image](https://user-images.githubusercontent.com/42298472/187088395-530ec0b1-53db-4fab-b35c-c15a60abbb2b.png)
![image](https://user-images.githubusercontent.com/42298472/187088440-615a2fb1-4

[2022-08-29 09:53] fvictorio commented on #3084
Hi @aaronbuchwald, thanks for reporting this. We should be showing a better error in this case (assuming you have the optimizer disabled, can you confirm that's the case?)

With respect to your question:

That won't work. Check [this comment](https://github.com/ethereum/solidity/issues/9439#issuecomment-660039240) for an explanation.

If `data` is `bytes calldata`, you can do this instead:

[code]

[2022-08-29 10:23] fvictorio commented on #3089
@Programmer001-JS can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-08-29 10:27] fvictorio commented on #3054
Thanks. I'll add this to our backlog. To clarify, a minimal reproduction would be:

1. Create two hardhat projects with some contracts
2. Make one of those projects a submodule of the other
3. Try to change Hardhat's paths to use the submodule's contracts, and compile
4. This should work but it doesn't.

Can you confirm this?

[2022-08-29 10:39] Pafaul opened #3097 "Overflow error in hardhat-chai-matchers -> changeTokenBalances"
Hi!
When using packange [hardhat-chai-matchers](https://www.npmjs.com/package/@nomicfoundation/hardhat-chai-matchers) I've discovered issue with [```changeTokenBalances```](https://github.com/NomicFoundation/hardhat/blob/f23d106048c2cd5d98bcb3e11596afbcb085afa8/packages/hardhat-chai-matchers/src/internal/changeTokenBalance.ts#L92) function:

[code]

This matcher cannot check big values which is co

[2022-08-29 10:42] Pafaul commented on #3097
Update:
Forgot to mention setup:
- ```hardhat-chai-matchers```: 1.0.3
- ```hardhat```: 2.10.2
- ```node```: v18.6.0
- ```environment```: WSL2 with Ubuntu 20.04.4 LTS

[2022-08-29 10:42] fvictorio commented on #3090
@ouoabcde reverted transactions are also mined, and therefore create new blocks.

The reason for the different behaviors here is that when you use `npx hardhat node`, ethers performs an `estimateGas` call and, when that fails, it doesn't send the transaction at all.

In the in-process network there's no `estimateGas` call done and so the transactions is sent and mined (and reverts).

I do agree th

[2022-08-29 11:07] Pafaul commented on #3097
Update #2:
For local tests it is sometimes possible to lower decimals to 6-12 to avoid this issue, but for real-world application it may not be possible (for example - when working with forked network)

[2022-08-29 14:49] fvictorio opened #3098 "Don't get true case path unless the file was not found."
In #3053, we are calling `getSourceNameTrueCase` for all the resolved files, which is slow. A better algorithm would be:

1. Use `fs.realpath.native` and compare the result with the path we have.
2. In case-sensitive file systems, this will always be true. But in case-insensitive systems it could be false. In that case, throw a "wrong casing" error.
3. If a file is not found, then use the `getSour

[2022-08-29 15:06] ouoabcde commented on #3090
@fvictorio Got it! Yeah, it seems that their behaviors should be unified.

[2022-08-29 15:37] feuGeneA commented on #2812
Closing for lack of reproduction steps. If they become available, feel free to re-open.

[2022-08-29 15:37] #2812 closed

[2022-08-29 15:39] feuGeneA commented on #2952
Closing for lack of response. Feel free to re-open if you'd like to continue to pursue this. Thanks again for using Hardhat.

[2022-08-29 15:50] feuGeneA commented on #3071
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions (such as "Is it possible to point paths.sources to a node_modules directory?") or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discuss

[2022-08-29 17:18] fvictorio commented on #2945
This is what we need to do:

1. Transpile-only by default. That's mainly about changing [this line](https://github.com/NomicFoundation/hardhat/blob/f23d106048c2cd5d98bcb3e11596afbcb085afa8/packages/hardhat-core/src/internal/core/typescript-support.ts#L71) and [this line](https://github.com/NomicFoundation/hardhat/blob/f23d106048c2cd5d98bcb3e11596afbcb085afa8/packages/hardhat-core/src/internal/util

[2022-08-29 17:21] fvictorio commented on #3084
Yes, the defaults have the optimizer disabled. Thank you!

[2022-08-29 18:25] alcuadrado commented on #2945
Also, using `--typecheck` should throw if the project does not support typescript.

[2022-08-29 20:43] gnarvaja commented on #3055
Not sure if it's the same problem, but I had a similar problem.

Some of my tests that previously were working fine with tests like `.to.be.revertedWith("foo bar")` started to fail after moving the code to Hardhat 2.10.

```AssertionError: Expected transaction to be reverted with reason 'foo bar', but it reverted without a reason```

It was weird because some of the revert tests with reason were w

[2022-08-30 07:05] WarTech9 commented on #3018
This

I can confirm I am not having this issue anymore. Thanks for your quick resolution

[2022-08-30 07:05] #3018 closed

[2022-08-30 09:34] fvictorio commented on #3096
As explained [here](https://github.com/NomicFoundation/hardhat/discussions/3093#discussioncomment-3500732), at the moment parallel tests don't work well with OZ Upgrades. We'll be working with the OZ team to fix this.

[2022-08-30 10:05] FloUz-ai commented on #3077
Update : So, I had a particular architecture in my repo, cause my hardhat repos was mixed with another one doing completely other staff.
I tried to make another one, cleaner, and deploy.

It worked without issue. I think  my probleme came from my config ... I have to respect fit more with what hardhat expect .

Thanks for your help guys

[2022-08-30 12:30] fvictorio commented on #3077
Glas do hear that @FloUz-ai. Does that mean we can close this issue?

[2022-08-30 14:38] GeraldHost opened #3102 "Add confirmations to deployed"
Currently to wait for a contract deployment in hardhat-ethers you do something like this:

[code]

Underneath I imagine this `deployed` function calls `wait` which accepts an argument of number of confirmations. It would be nice if we could pass nConfirmations into `deployed` to be passed into `wait` to end up with something like:

[code]

[2022-08-30 14:48] ethereumdegen opened #3103 "No proper error message when encoding/decoding struct(tuple) with invalid enum"
If you pass an enum uint in a struct into a method in solidity and the uint is larger than the enum could possibly be (invalid enum input) then when you encode/decode that struct execution will revert and hardhat+ethers will not tell you why!

HOW TO REPLICATE:

Create an enum
 MyEnum {
STATE_ZERO, STATE_ONE
}

Create a struct with that enum
MyStruct{
MyEnum enum;
}

Create a method that inputs th

[2022-08-30 17:02] alcuadrado commented on #3102
Hey, thanks for reporting this. Note that it is an ethers API, so you should open the issue [here](https://github.com/ethers-io/ethers.js) instead.

[2022-08-30 17:02] #3102 closed

[2022-08-30 17:47] lzalvin commented on #2516
same problem here. noticed it happening with specific rpcs but can't really reproduce it.

[2022-08-31 02:56] wangyangv1 opened #3106 "i had added hardhat-shorthand but it didn’t work"
<img width="872" alt="image" src="https://user-images.githubusercontent.com/49341812/187582565-07057a47-a6ec-4f55-8863-e0669d8c6c96.png">
please help

[2022-08-31 08:47] tmigone commented on #2265
Hey, we needed something like this so we ended up building it into a hardhat plugin: https://github.com/edgeandnode/hardhat-secure-accounts. It's still early stages and will keep improving it but we've been using it for a bit so thought about sharing here.

The plugin uses ethers wallet encryption to store menmonics using keystore files in your project folder; when unlocking you get a prompt that

[2022-08-31 11:31] cdgmachado0 opened #3108 "Hardhat crashes when bit left shifting"
Hardhat crashes with the error `Error: Transaction reverted and Hardhat couldn't infer the reason. Please report this to help us improve Hardhat.` 100% of the times when attempting a left bit shift operation in this code:
[code]

If I put a `console.log` before the operation, it crashes around 30% of the times but it still crashes when it shouldn't:
[code]

Full error:
[code]

All of `OZLFacet` me

[2022-08-31 11:58] fvictorio commented on #3108
@cdgmachado0 can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

I tried this:

[code]

with values for index of 0, 1, 2, 100 and 1000 and they all worked.

[2022-08-31 12:02] fvictorio commented on #3106
@wangyangv1 did you do a global install (`--global`)? Also, are you using some node version manager like nvm or volta?

[2022-08-31 12:30] MuskaanMunu opened #3109 "Unable to connect to Localhost 8545"
I am using Metamask with Hardhat network and I have not been able to connect to the network. I keep getting the following message:-
![error4](https://user-images.githubusercontent.com/109667951/187678672-0c57e0dc-9962-4c61-b7bb-6d7c34600a61.png)
Can somebody please help?

[2022-08-31 14:41] fvictorio commented on #3108
I see, but without a way to reproduce it there's not much I can do, sorry.

If your repo is public, sharing it and the _minimal_ steps to reproduce it (for example, removing/skipping tests that are not relevant) would be enough.

If you can't share your repo, then what you can do is to start removing code until you have something simple enough that reproduces the problem and can be turned into an

[2022-08-31 16:16] #2945 closed

[2022-08-31 19:10] JackBekket opened #3113 "[feature request] Add option: "Create new project with installing open-zeppeline""
I would like to see option to create a new js/ts project with installing open-zeppeline right away
` $ npm install @openzeppelin/contracts `

[2022-08-31 19:28] tom-s07 commented on #2995
This is absolutely needed, Arbitrum is starting to be one of the most active networks after Ethereum Mainnet. Thanks @gzeoneth for providing an interim solution, will give it a try!

[2022-08-31 20:45] xcellsior commented on #2995
Definitely a needed change.

[2022-08-31 21:51] ryandgoulding commented on #2995
Patch works for me.  Any update on this making it into an official release?

[2022-09-01 00:37] bricedenice59 commented on #776
More than one year later, is there any news about this?
I have multiple contracts scattered into multiple solution folders, each contract is a proper hardhat project. In my "main project", I have multiple tests and some depends on other contracts that are not in my main solution contract folder.
I want to deploy the other contracts by using the ethers.getContractFactory(), unfortunately it crashes

[2022-09-01 07:14] woojiq commented on #3109
Do you have a hardhat node running when you try to connect?
If yes, try this [stackoverflow](https://ethereum.stackexchange.com/questions/94231/how-can-i-connect-a-local-hardhat-network-to-metamask).

[2022-09-01 07:46] QEDK commented on #1585
It would be great to _atleast_ change the error message to something more verbose, it is slightly unrealistic to understanding anything of value from the current error message.

[2022-09-01 08:10] MuskaanMunu commented on #3109
So, when I do that I get a reference error saying hhprivKey is not defined.

[2022-09-01 08:11] MuskaanMunu commented on #3109
Also, I had cross-checked and changed the chainId accordingly but the issue persisted.

[2022-09-01 08:17] MuskaanMunu commented on #3109
I cannot thus see any of the accounts with their private keys and I am using another wallet on metamask so I haven't imported any of the accounts. When I previously had this issue I imported a new account and was somehow able to connect to the node again.

[2022-09-01 08:30] woojiq commented on #3109
Share your _hardhat.config_ and _package.json_.

[2022-09-01 08:40] velateem commented on #3089
I have a same issue, we were trying to use metamask connect to hardhat node, and we could do the first transaction between the test wallets. However, when we try to do the second transaction , it would say
"eth_estimateGas

  If you think this is a bug in Hardhat, please report it here: https://hardhat.org/reportbug"

and we need to restart the hardhat node and reset account on metamask.

[2022-09-01 08:48] MuskaanMunu commented on #3109
**Hardhat.config**

[code]

**Package.json**

[code]

[2022-09-01 09:24] woojiq commented on #3109
**First**, you can't have `url` property inside hardhat built-in network (inside others you can).
These are all property inside *hardhat built-in network*
[code]
So to add private key to your accounts you should have syntax like this:
[code]

**Second**, save and run next command inside your terminal: `yarn hardhat node`(for yarn) or `npx hardhat node`(for npm).

**Third**, add this [custom ](http

[2022-09-01 11:35] k06a opened #3115 "Can we have full raw revert reason?"
We have only selector now: https://github.com/NomicFoundation/hardhat/issues/2948

[2022-09-01 12:17] FloUz-ai commented on #3077
Yes I close it now thanks

[2022-09-01 12:17] #3077 closed

[2022-09-01 15:56] fvictorio commented on #3113
Do you mean a sample project that already has the OpenZeppelin contracts dependency? If that's what you mean, I don't think we'd do it. We are trying to keep the list of sample projects short, and adding one sample project just with an extra dependency wouldn't be very valuable.

[2022-09-02 06:17] JimLynchCodes opened #3117 "hardhat test doesn't run any tests?"
Hi, when I point directly to my file with tests in it I get the output `0 passing`

[code]

[code]

Why does it not see any of my tests???

![Screen Shot 2022-09-02 at 2 17 14 AM](https://user-images.githubusercontent.com/5354163/188071141-032bde56-a432-465f-933c-13efb3ba509f.png)

[2022-09-02 07:18] woojiq commented on #3117
Do you have any script (shortcut) for `yarn test`, because basically you need to write `yarn hardhat test`?

[2022-09-02 07:38] woojiq commented on #3117
Create new test file, paste this:
[code]
Run command: `yarn hardhat test`.
Does it work and pass 1 test?

[2022-09-02 08:45] dandamian83 opened #3118 "npx hardhat compile fails with self signed certificate in certificate chain"
I'm using a machine that sits inside the network of a big company. The company has implemented security measures which imply adding their own root CAs on top of my SSL/TLS cert. Because of this situation, for example git could not clone a repo. To allow git to clone, I've exported the certs added by my company to git's bundle-ca.crt file (according to this [article](https://mattferderer.com/fix-gi

[2022-09-02 10:42] alcuadrado commented on #3117
Hey @JimLynchCodes,

The problem here is that you are using an async function within a describe, and that's not supported by mocha. Your `describe` callbacks need to be synchronous.

Thanks @woojiq for helping :)

[2022-09-02 10:42] #3117 closed

[2022-09-02 10:44] alcuadrado commented on #3118
Hey,

Can you try with `hardhat@rc` and report back? It uses a new compiler downloader.

[2022-09-02 11:25] woojiq commented on #3117
I didn't think _async describe_ was an issue before, because if I changed to async everything worked for me as before. But now I realized that this word means nothing if we do not cause anything asynchronous in the body. So I added _const test = ethers.getSigner()_ and now I have _0 passing_. +1 point to understanding asynchrony.

[2022-09-02 11:52] alcuadrado commented on #3115
Out of curiosity: Do you see clashes of error signatures that you can't debug just with that data?

Do you think this would be best in the error message or in an error field?

[2022-09-02 13:21] k06a commented on #3115
@alcuadrado we get different reverts from main net fork. Sometimes revert selector is not enough to understand what exactly was wrong.

[2022-09-02 14:28] dandamian83 commented on #3118
Hey, thanks for the fast reply! So, I've used hardhat version 2.11.0-rc.0.
I've also added my company's  root certificates using an environment variable that node knows which is `NODE_EXTRA_CA_CERTS`.
Now, downloading the compiler works - it seems that the downloader correctly takes into account the newly added root CA certs.
But now I have another problem with this version of hh. On Windows `npx

[2022-09-02 23:05] alcuadrado commented on #2739
This should be fixed by v2.11.0

[2022-09-02 23:05] #2739 closed

[2022-09-02 23:06] alcuadrado commented on #2068
The sample project has been revamped so this is stale

[2022-09-02 23:06] #2068 closed

[2022-09-02 23:07] alcuadrado commented on #1511
This should be fixed in v2.11.0. Please reopen the issue if it's still present.

[2022-09-02 23:07] #1511 closed

[2022-09-03 09:18] jmendiola222 commented on #1430
I can't make it work on `hardhat coverage`, it's still throwing the error and the test, that otherwise work, fail when on coverage.
I tried both in the `hardhat.config` file:
[code]
and in the `solcover` file:
[code]
Any idea how to make it work on coverage? Thanks

[2022-09-03 09:49] jmendiola222 opened #3121 "coverage Error: Transaction reverted: trying to deploy a contract whose code is too large"
I have a project with a bunch of +10Kb sized contracts, and many tests that work fine. But when I run `hardhat coverage`, I first get the warning, which would be fine:
`Warning: Contract code size is 26746 bytes and exceeds 24576 bytes (a limit introduced in Spurious Dragon). This contract may not be deployable on Mainnet. Consider enabling the optimizer (with a low "runs" value!), turning off rev

[2022-09-03 13:43] fabianorodrigo commented on #3091
I was testing a scenario where I send Ether to a contract without receive or fallback functions, the test code expects a revert with reason 'function selector was not recognized and there's no fallback nor receive function' and it worked using Waffle. When I've upgraded to chai-matchers the test started to fail because it is reverted without a reason.

[2022-09-03 16:04] farwayer opened #3122 "`setStorageAt` helper makes slot index param wrong in some cases"
For example trying to change `0x0000bfcb6aad3f76fe8f641cee078635dc66e705d9289f78b52da608de318155` slot throws an error
[code]

[2022-09-03 16:06] farwayer commented on #3122
The problem is in this line https://github.com/NomicFoundation/hardhat/blob/4cce02506b662518d994a9992a52b7ff7bb1767f/packages/hardhat-network-helpers/src/utils.ts#L72

[2022-09-03 16:59] jmendiola222 commented on #3121
Ok, I found I way to make it work, but using a higher `gasLimit` on each deploy transaction of the deploy folder section. I do think there is a bug anyway, at least on the way this error is reported.

[2022-09-03 16:59] alcuadrado commented on #3122
Thanks, @farwayer! That sounds correct! How do you feel about sending a PR for it? :)

[2022-09-03 18:42] alcuadrado commented on #3118
Can you please share the steps to reproduce it?

[2022-09-03 20:49] sbaranov opened #3123 "Code coverage is broken out of the box"
To reproduce:
[code]

[2022-09-03 23:19] alcuadrado commented on #3123
Thanks for reporting this. Can you open it in https://github.com/sc-forks/solidity-coverage instead and tag me?

[2022-09-03 23:19] #3123 closed

[2022-09-04 00:12] #3122 closed

[2022-09-04 07:11] dandamian83 commented on #3118
Sure, so the error appears inside a Docker Container.
Docker files looks like this:
[code]
What's important is the `FROM node:16-alpine3.16` of course and the `RUN yarn install --non-interactive` the rest are just support instructions.
As for the `package.json`, here are my dependecies:

[code]

So, I'm building the image `docker build . -t ImageName`, then run the container `docker run -it -d -p

[2022-09-04 08:44] briannnyee opened #3126 "MBP M1 Pro hardhat@2.11.0 leads to Error: spawn Unknown system error -86"
I'm using MBP M1 Pro. I got following error after upgrading to hardhat@2.11.0
[code]

Reproduction steps,

1. `mkdir test && cd test`
2. `npm init`
3. `npm install hardhat`
4. `npx hardhat` , select `Create a JavaScript project`
5. `npx hardhat compile`
6. The error message will pop up

Fix for now,

1. type `npm install hardhat@2.10.1` instead of `npm install hardhat`

[2022-09-04 12:46] alcuadrado commented on #3126
Can you try running `npx hardhat clean --global` and try again?

[2022-09-04 16:10] bodrovis opened #3129 "Hardhat 2.11: Issues with Chai matchers"
After upgrading to Hardhat 2.11 I'm getting `Invalid Chai property: revertedWith` error when using `revertedWith` matcher in my tests (same thing happens when using the `reverted` matcher). Downgrading to 2.10 solves the issue.

Steps to reproduce:

* Create a new HH project (I've created a TS project)
* Install HH version 2.11 and hardhat-toolbox as usual
* Add a simple contract:

[code]

* Add a

[2022-09-04 16:19] 0xslipk opened #3130 "Hardhat 2.11: Issues with solidity-coverage"
After upgrading to Hardhat 2.11 I'm getting `TypeError: cur._node._vm.on is not a function` error when using. [solidity-coverage](https://www.npmjs.com/package/solidity-coverage) with `hardhat coverage`:

<img width="737" alt="image" src="https://user-images.githubusercontent.com/3802516/188323179-dfb1cf67-7e8c-4bfe-bf8c-ec041f3023fa.png">

I'm using Node v16.17.0.

sc-forks/solidity-coverage#737

[2022-09-04 17:47] Zalexios commented on #2995
My infura and quicknodes Arbitrum mainnet RPC's stopped forking on Friday with this issue. I'm going to try the patch now, just showing interest @0xyqrz. Thanks everyone.

[2022-09-04 18:20] alcuadrado commented on #3129
I'm having trouble reproducing this. Can you share the output of `npm list`?

[2022-09-04 18:20] alcuadrado commented on #3130
Thanks for reporting it. We'll investigate and fix this ASAP.

[2022-09-04 19:15] bodrovis commented on #3129
Sure:

[code]

[2022-09-04 19:20] bodrovis commented on #3129
Thing is, this setup used to work with 2.10.x for the past few weeks. I've tried adding chai-matchers directly to the package.json, importing it inside the HH config file, clearing everything, recreating a new project. The only thing that helped me so far is downgrading, unfortunately. I can try upgrading to the newest Node 16 (my current version is 16.13.1) but not sure if that'll solve anything

[2022-09-04 19:25] sbaranov commented on #3123
FYI somebody else already filed it https://github.com/sc-forks/solidity-coverage/issues/737

[2022-09-04 21:08] Christolight opened #3132 "H11 error on my Hardhat project"

[2022-09-05 04:32] Preston-Harrison commented on #2995
How can this be used with hardhat tests?

[2022-09-05 04:44] gzeoneth commented on #2995
see the first post you can use my patched hardhat or apply the patch file

[2022-09-05 04:49] jacques-martin10 commented on #2995
@feuGeneA :+1: interest. thanks!

[2022-09-05 12:16] egorFiNE opened #3133 "Bug: Polygon forking is broken with 2.11.0"
Hardhat fails to execute `eth_call` on forked Polygon network with hardhat 2.11.0 but works perfectly with 2.10.2 and earlier. Here's a test case:

1. Fork polygon with hardhat 2.11.0:

[code]

2. Edit `hardhat.config.js`:

[code]

3. Call basic contract in the console:

[code]

[2022-09-05 14:45] fvictorio commented on #3133
Thank you for the detailed report @egorFiNE, I'll take a look.

[2022-09-05 16:23] feuGeneA commented on #3080
This issue has been added to our internal backlog, meaning that we intend to work on it, but that it has not yet been scheduled.

[2022-09-05 16:30] feuGeneA commented on #3095
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

A quick googling turns this up: https://ethereum.stackexchange

[2022-09-05 16:30] #3095 closed

[2022-09-05 16:31] feuGeneA commented on #3097
This issue has been added to our internal backlog, meaning that we intend to work on it, but that it has not yet been scheduled.

[2022-09-05 16:35] feuGeneA commented on #2967
Hi again @EmreYavuzalp . Just checking whether you still intend to pursue this. Thanks again.

[2022-09-05 16:35] feuGeneA commented on #2983
Hi again @yl0681 . Just checking whether you still intend to pursue this? Thanks.

[2022-09-05 17:21] alcuadrado opened #3136 "Undici timeouts are not handled correctly"
When upgrading to undici we introduced two problems:

1. We are not passing the [`bodyTimeout`](https://github.com/nodejs/undici/blob/main/docs/api/Dispatcher.md#parameter-dispatchoptions) [here](https://github.com/NomicFoundation/hardhat/blob/master/packages/hardhat-core/src/internal/core/providers/http.ts#L172)
2. The way we are detecting if an error is a timeout is outdated [here](https://githu

[2022-09-05 17:22] alcuadrado commented on #2672
If anyone wants to tackle this, take a look at https://github.com/NomicFoundation/hardhat/issues/3136

[2022-09-05 17:38] feuGeneA commented on #3075
This is expected behavior, because by default the gas limit for a transaction is very high. You can either specify a lower gas limit for the transaction, or you can configure the network to have `gas: auto`.

[2022-09-05 17:38] #3075 closed

[2022-09-05 17:43] fvictorio commented on #2516
Hi, this seems important but without reproduction steps there isn't much we can do. Can someone try to create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-09-05 17:46] feuGeneA commented on #3006
We're giving this a lower priority because it doesn't seem to have a real world application/impact. If you disagree, please explain your use case and it may convince us to increase the priority. Thank you.

[2022-09-05 17:48] fvictorio commented on #3132
Hi @Christolight, can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-09-05 17:54] fvictorio commented on #3113
Closing this assuming that that's what you meant.

[2022-09-05 17:54] #3113 closed

[2022-09-05 18:17] bodrovis commented on #3129
Sure:

[code]

[2022-09-05 19:41] 0xchoripan commented on #2995
The patch is not working for me when using `hardhat_reset` like this
[code]
Before applying the patch
[code]
After applying the patch + adding `ignoreUnknownTxType: true` to `hardhat_reset`
[code]
Using hardhat `2.10.1`

[2022-09-05 20:17] fvictorio commented on #3091
Hi @fabianorodrigo. In Waffle, `.revertedWith` matches the whole error message as a trick to match the error reason string within it. An unintended effect of that is that you can do things like what you were doing, were you are using `.revertedWith` to match the error message.

In this case, you should match the error message as you would do with any function. Since this is an async function, you

[2022-09-05 21:06] #3126 closed

[2022-09-05 23:55] #2887 closed

[2022-09-06 00:55] rellfy opened #3138 "Forked network not compatible with Arbitrum Nitro upgrade"
If forking an Arbitrum Nitro network (like Arbitrum One, after block `23_000_000` as an overshoot approximate -- I don't know the exact upgrade block number) then hardhat throws the following error:

[code]

Steps to reproduce:
1. Fork Arbitrum One, RPC https://arb1.arbitrum.io/rpc @ block 23_000_000
2. Make an ETH call

[2022-09-06 00:59] rellfy commented on #3138
Duplicate of #2995

[2022-09-06 00:59] #3138 closed

[2022-09-06 02:32] briannnyee commented on #3126
Hi @alcuadrado,

After running the command, the error becomes
[code]
The document describes the error as below,

An internal invariant was violated. This is probably caused by a programming error in hardhat or in one of the used plugins.

For those who are having the same issue, downgrading to version 2.10.1 works just fine.

[2022-09-06 02:35] briannnyee commented on #3126
In case you guys need these to fix the thing, here are the stack traces
[code]

[2022-09-06 04:20] KhanaropThongplave opened #3139 "Error HH11: An internal invariant was violated: WASM build of solc 0.8.9 isn't working"
So, I just created hardhat project by using "npx hardhat" command and select create a TypeScript project then when I'm trying to run "npx hardhat compile" this error shows up. Currently, I have no clue how to solve this problem since there aren't any case open about this problem.

<img width="1206" alt="Screen Shot 2565-09-06 at 11 13 02" src="https://user-images.githubusercontent.com/47390151/188

[2022-09-06 05:26] gzeoneth commented on #2995
Working fine with me

working fine with me, do you have a sample script?

[2022-09-06 10:32] CJ42 opened #3141 "Issue verifying contracts with booleans in constructor via `@nomiclabs/hardhat-etherscan`"
# What is the current issue?

The `@nomiclabs/hardhat-etherscan` works great to verify contracts via the CLI.

There is an edge case with an issue when contracts deployed with constructor arguments that contain a `bool` parameter.

There was an issue open in the past, but it was closed: #2635. I have tried the different combinations suggested for the boolean parameter. But it only works only when

[2022-09-06 10:36] fvictorio commented on #3139
Thank you @KhanaropThongplave. Can you tell us more about your environment? Which OS and which node version?

Also, does this happen if you install `hardhat@2.10.1` and initialize a project in the same way?

[2022-09-06 10:38] fvictorio commented on #3139
Also, can you try running `npx hardhat clean --global` and then trying again (with the latest version)?

[2022-09-06 10:43] #3133 closed

[2022-09-06 10:49] fvictorio commented on #1585
@QEDK I think we did? Which error message are you getting? And which version of hardhat are you using?

[2022-09-06 11:49] fvictorio commented on #3062
Tentatively closing this. Please comment if you think it's still an issue.

[2022-09-06 11:49] #3062 closed

[2022-09-06 12:26] QEDK commented on #1585
Using `2.10.2`, still getting `InvalidArgumentsError: Errors encountered in param 1: Invalid value "0x0c7be71a38523ae80000" supplied to : QUANTITY` atm.

[2022-09-06 13:41] GeraldHost commented on #1618
Any plans to make it so we can pass in selectors?

I run into this problem with running in a fork:
- The contract I am calling has an artifact
- connect with typechain `Contract__factory.connect(addr, signer)`
- expect call to error with custom error:
   - Instead get this error message `reverted with an unrecognized custom error`
   - When I inspect the stack trace I can see that the selector is

[2022-09-06 13:48] rtomas opened #3142 "hardhat-chai-matchers: Test an emit event that is in a library"
file Library
[code]
file Contract calling the event
`emit Event.Mint()`

Can't get Chai to detect the event that is in the library

Throw this error in both cases: `AssertionError: Event "Events.Mint" doesn't exist in the contract`

try:
`await expect(contract.connect(minter).mint(data)).to.emit(contract, 'Events.Mint')`
or
`await expect(contract.connect(minter).mint(data)).to.emit(contract, 'Mint

[2022-09-06 15:01] gapon2401 commented on #1731
I have the same issue. Hardhat 2.11.0
I'm trying to test smartcontract locally.

My steps to reproduce:

1) Fork the mainnet:

A part of hardhat.config.ts
[code]

2) Auth in metamask, connect to network localhost:8545 with chainId 31337
3) Add hardhat account in metamask with PRIVATE_KEY1
4) Deploy smartcontract
5) Trying to send eth to smartcontract in metamask. Button, which starts the transacti

[2022-09-06 15:15] #3083 closed

[2022-09-06 15:38] fvictorio commented on #3129
Thank you @bodrovis (and sorry, I edited your comment to wrap the content of the command because it was huge)

That seems to be using the latest version of the chai matchers, and to not be using waffle. This is a silly question but, are you requiring the `@nomicfoundation/hardhat-chai-matchers` plugin (or the Hardhat toolbox) in your config?

If you are, then I don't have any theory of why this co

[2022-09-06 15:50] bodrovis commented on #3129
That's a valid point @fvictorio but yes I've included toolbox. Here's my config https://github.com/bodrovis/HH211_issue/blob/master/hardhat.config.ts I've tried including matchers as well but it did not help :( I'll

[2022-09-06 15:58] #3132 closed

[2022-09-06 15:58] #3139 closed

[2022-09-06 15:59] fvictorio commented on #3132
This will be fixed in v2.11.1.

[2022-09-06 16:14] UjjwalThakur065 opened #3144 "The "npx hardhat compile" is failing to compile solidity file"
Whenever I am trying to start a new project and trying to compile a new solidity file, it is showing the same error again and again.
what I tried to fix it:
-I re-install the node
--Many times I started a new project

Here is error which I am getting:

![Screenshot 2022-09-06 122446](https://user-images.githubusercontent.com/105385470/188684576-cf767cd6-ce67-42f5-9018-c6396ed0df96.png)

[2022-09-06 16:37] alcuadrado commented on #3144
Hey, thanks for opening the issue.

Can you give us more information about your system?
Which version of windows are you using?
Which terminal are you using?
Do you use WSL? WSL2?
Is your computer x86 (32 or 64bits?)? Is it ARM?
Does the file that ends with `.node` in the error message exist in your filesystem?

Thanks!

[2022-09-06 16:44] bodrovis commented on #3129
So, I'm not sure what's going on. I tried to completely remove everything related to Node, I cleaned all the caches and fully reinstalled Node 18. It did not help: new HH projects (both JS and TS) had exactly the same issue.

**The only thing that helped me** is manually adding the following dependencies:

[code]

So your `package.json` file should look like this:

[code]

Then everything should b

[2022-09-06 16:46] bodrovis commented on #3129
What's even more funny, after this issue was fixed I removed these extra dependencies, reinstalled all packages, and runned tests again. Guess what: the issue was gone. Crazy stuff.

[2022-09-06 16:51] bodrovis commented on #3129
The only thing that helped me so far is adding

[code]

Right inside my tests. I have no idea what's going on but I've already tried everything: reinstalling Node, using more recent version, clearing caches, installing deps manually etc.

[2022-09-06 17:34] fvictorio commented on #3139
This should work with `hardhat@2.11.1`. Please upgrade and let us know if the issue is still there.

[2022-09-06 17:34] fvictorio commented on #3133
This should work with `hardhat@2.11.1`. Please upgrade and let us know if the issue is still there.

[2022-09-06 17:35] fvictorio commented on #3126
This should work with `hardhat@2.11.1`. Please upgrade and let us know if the issue is still there.

[2022-09-06 17:53] egorFiNE commented on #3133
....aaaand it works. All my tests pass.

Thank you for such a quick response time! Much love from Ukraine!

[2022-09-06 18:04] briannnyee commented on #3126
With `hardhat@2.11.1` the issue is perfectly solved! Thank you!

[2022-09-07 02:02] UjjwalThakur065 commented on #3144
I am using windows 11 and I have v16.17.0 of node and my computer is 64bits.Other info about my system is given below:

Processor	Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz   1.80 GHz
Installed RAM	8.00 GB (7.88 GB usable)
Device ID	F5D09154-B2C1-47B7-B54B-6DB87AEF1DB7
Product ID	00327-35827-84369-AAOEM
System type	64-bit operating system, x64-based processor
Pen and touch	No pen or touch input is a

[2022-09-07 02:39] Hachikoi-the-creator commented on #1289
Left for a couple of weeks and now I'm copying two addresses lol

[2022-09-07 07:00] dandamian83 commented on #3118
(All that I'm relating happens inside the docker container.)
Yes, I can access[](https://binaries.soliditylang.org/linux-amd64/list.json) using curl and wget.
I've tried with both hardhat 2.8.4 and 2.11.0-rc.0 to compile so `npx hardhat compile`.
Now the compiler gets downloaded but no artifacts are generated.
[code]
When I issue a second `npx hardhat compile --show-stack-traces`, I get:

[code]
W

[2022-09-07 09:15] wighawag opened #3145 "hardhat gas behaviour differs from geth"
I was testing out a bug in solidity and found out that hardhat has a different gas behaviour that prevent me from testing the behaviour with hardhat

Reproduction repo has more details
https://github.com/bug-reproduction/solidity-assembly-variable-reset

but basically with that code

[code]

If I execute deployData with an input of 24000 bytes, hardhat always fails while geth works

[2022-09-07 11:13] 0xthk commented on #2109
Hey, looks like this issue comes back after upgrade hardhat to `v2.10.0`. If I print the big number from contract call, it won't apply the formatter.

<img width="381" alt="image" src="https://user-images.githubusercontent.com/1924968/188864735-e0914fc1-803c-41d9-ac83-a48991ae9a6f.png">

[2022-09-07 16:42] fvictorio commented on #3145
Thank you Ronan, I'll take a look asap.

[2022-09-07 16:45] fvictorio commented on #2109
@0xthk which exact versions of hardhat, @nomiclabs/hardhat-ethers and ethers are you using?

[2022-09-07 16:48] fvictorio commented on #3129
That repo doesn't exist anymore. If you can, could you publish it again? This definitely shouldn't happen, so I'm curious as to why it happens to you.

[2022-09-07 16:51] fvictorio commented on #3118
@dandamian83 any chance of creating a complete reproduction example? That would mean a repo with the `Dockerfile` (which I guess is just the one that you already shared) and the code you are copying into the image.

[2022-09-07 16:53] fvictorio commented on #1618
That's not a bad idea. The name of a custom error can't start with `0`, so there wouldn't be any ambiguity. Feel free to open a new issue with that feature request.

[2022-09-07 16:53] fvictorio commented on #1618
The syntax would be `.revertedWithCustomError("0x12345678")` though

[2022-09-07 17:31] codantes commented on #2569
I tried doing `npx hardhat clean` and specifying the paths still not working. has anyone else figured it out yet?

[2022-09-07 17:40] alcuadrado commented on #3144
I believe this is what's happening: https://github.com/parcel-bundler/parcel/issues/7104#issuecomment-967260755

Can you try the solution there and tell us if it worked?

You can learn more about this here: https://georgik.rocks/how-to-statically-link-rust-application-for-windows/

[2022-09-07 18:16] bodrovis commented on #3129
Oh, I'm sorry, I've just removed it. https://github.com/bodrovis/HH_Issue_matchers - here's a new version. It's a brand new HH project with default config. Once again, it gives me the same error unless I import matchers manually :(

[2022-09-07 21:16] alcuadrado commented on #2569
@codantes can you please open a new issue. This one is about an innocuous error that only happens very infrequently, and I suspect yours is a different one.

[2022-09-07 21:25] alcuadrado commented on #3126
@briannnyee also, I think you don't have Rosetta installed. Installing it will make hardhat compile much faster!

[2022-09-08 01:43] UjjwalThakur065 commented on #3144
Great! it worked for me.
Thank you so much for all your help.
Now you can close this issue.

[2022-09-08 02:55] st4rgut24 opened #3151 "`npx hardhat compile` fails with "Unexpected token ?""
System: MacOS Monterey
Hardhat version: 2.11.1

Steps to Reproduce:
1. Initialize an empty npm project
2. Run `npm install --save-dev hardhat`
3. Create a new typescript project
4. Run `npx hardhat compile`

`npx hardhat compile` and other hardhat commands work as expected in v2.10.2

[2022-09-08 03:34] st4rgut24 commented on #3151
I was using the wrong version of node

[2022-09-08 03:34] st4rgut24 commented on #3151
I was using the wrong version of node. `nvm use 18`

[2022-09-08 03:34] #3151 closed

[2022-09-08 07:26] wong2 opened #3152 "Use official ethereumjs packages"
Since EthereumJS VM v6 is published https://twitter.com/EFJavaScript/status/1567445968529784832 there is no need to use the forked version

[2022-09-08 08:01] 0xthk commented on #2109
Here is the version in our package.json

    "hardhat": "^2.11.1",
    "@nomiclabs/hardhat-ethers": "^2.1.1",

[2022-09-08 11:29] rejnowskimikolaj commented on #2248
hello, any updates on this issue?

[2022-09-08 14:05] alcuadrado commented on #2109
`npm ls -a` or `yarn list` would be better. Can you share that?

[2022-09-08 14:15] alcuadrado commented on #3144
Thanks for testing it! Now that we understand what's going on, [we are fixing it](https://github.com/NomicFoundation/solidity-analyzer/commit/fb44483a0edf5dcc3048390dfc29ada18d4c0c9d) so that a separate installation is not needed.

[2022-09-08 14:15] #3144 closed

[2022-09-08 17:32] 0xMoJo7 opened #3154 "Goerli Contract Verification Task Fails"
A friend of mine asked me to see if I could verify a contract on Goerli via Hardhat as it was failing for him. The task fails for both of us. But manual verification on Goerli etherscan works fine. The same deploy script works fine on Polygon and Rinkeby.

I am trying to deploy and verify [this contract (deployArrow.js)]( https://github.com/0xMoJo7/snowComputerHardhat)

Here is the stack:

[code]

[2022-09-08 17:56] briannnyee commented on #3126
Just gave it a try, it compiles faster than the speed of light ;)

[2022-09-08 19:45] alcuadrado commented on #3154
Hey @0xMoJo7,

We've seen a few issues related to this lately. We are talking with the Etherscan team, as we suspect it's an issue on their end. We'll keep you posted.

[2022-09-08 21:42] drortirosh opened #3157 "RPC errors formatting mismatch"
hardhat node formats its error output little different than geth.
specifically, the actual data bytes are at **.error.data.data**
instead of **.error.data**

**eth_call** error returned from geth:
[code]

eth_call  error returned from **hardhat node**
(for web3_clientVersion = HardhatNetwork/2.11.0/@nomicfoundation/ethereumjs-vm/6.0.0-rc.3")
[code]

[2022-09-09 01:40] 0xMoJo7 commented on #3154
Thanks!

[2022-09-09 07:49] AryanSai commented on #1246
Where should I add this?

[2022-09-09 09:35] fvictorio commented on #3145
Ok, I found what's going on here.

When you use the in-process hardhat network, we automatically use the block gas limit as the gas limit for all transactions. This makes execution faster, because no `estimateGas` is needed (which is slow).

To accomplish that behavior in ethers, we add a `gas` property to all the fragments in the `ContractFactory`. The problem is that ethers then [adds](https://g

[2022-09-09 10:16] wighawag commented on #3145
Thanks @fvictorio ! it works

[2022-09-09 12:36] krzysztof-cywinski commented on #2980
Hi. I'm having a similar issue despite using the proposed solution from https://github.com/NomicFoundation/hardhat/issues/2980#issuecomment-1208451537

Minimal steps to reproduce:
1. npm init
2. npm install hardhat
3. create sample project and install its dependencies
4. in test/Lock.ts add:

[code]

add two sets of test cases:

[code]

the second B fails with:
[code]

The pattern seems to be that

[2022-09-09 12:37] krzysztof-cywinski opened #3158 "Fixture composition is broken sometimes"
Hi.
I'm having a similar issue to #2980 despite using the proposed solution from https://github.com/NomicFoundation/hardhat/issues/2980#issuecomment-1208451537

Minimal steps to reproduce:
1. npm init
2. npm install hardhat
3. create sample project and install its dependencies
4. in test/Lock.ts add:

[code]

add two sets of test cases:

[code]

the second B fails with:
[code]

The pattern seems t

[2022-09-09 13:51] alcuadrado commented on #3154
Etherscan fixed this. Now your contract is verified!

[2022-09-09 13:51] #3154 closed

[2022-09-09 14:24] JimLynchCodes commented on #3117
@alcuadrado @woojiq  I need to call "ethers.getSigners()" in my code, which is an async function.

Why is mocha not supporting async describe? It doesn't make any sense to me... 👎

[2022-09-09 14:27] JimLynchCodes commented on #3117
@alcuadrado - I just removed the async from the describe. However, it is still not picked up by the test runner... 😭

WTF??

[2022-09-09 14:31] JimLynchCodes opened #3159 "Can't Run All Tests"
How tf do I run ALL my tests??

"hard test" runs nothing...

![Screen Shot 2022-09-09 at 10 30 05 AM](https://user-images.githubusercontent.com/5354163/189373862-b2ef0cdf-b207-481b-8182-ed1afa55ce54.png)

"hardhat test" pointed at the test folder runs nothing...

![Screen Shot 2022-09-09 at 10 29 27 AM](https://user-images.githubusercontent.com/5354163/189373747-39848494-bbf4-46b2-966c-6d9ec9550c6

[2022-09-09 14:39] JimLynchCodes commented on #3159
hardhat is absolute GARBAGE... I am very disappointed 😢

[2022-09-09 14:54] woojiq commented on #3117
What is the problem to do async code in beforeEach?
Instead of `const [owner, user1, user2] = await ethers.getSigners();`, do smth like this:
[code]
P.S. didn't test

[2022-09-09 15:15] alcuadrado commented on #3159
We don't give support here, especially to rude people. You are doing something wrong, double check your settings and project structure.

[2022-09-09 15:15] #3159 closed

[2022-09-09 15:22] alcuadrado commented on #3157
We are actually considering adding more data to the data field, which is the only json-rpc compliant field that we can control.

Maybe the confusion is that `error.data.data` could have been `error.data.returndata`

[2022-09-09 15:27] gitpusha commented on #1040
Would be really great to have documented support and compatibility between `hardhat-toolbox` and `hardhat-deploy-ethers`

I really wanna switch to using `hardhat-toolbox` by default but I dont wanna say good bye to `hardhat-deploy-ethers` `ethers.getContract("ContractName")" method, it's way too handy!

[2022-09-09 16:30] JimLynchCodes commented on #3159
@alcuadrado thank you for being a human fart

[2022-09-09 17:50] AbigailTCameron commented on #2995
where exactly are we supposed to add this aforementioned file if trying to run hardhat tests?

Since the Arbitrum nitro upgrade I have installed the patch, as well as followed the steps laid out above but keep getting an ` InternalError: Unknown transaction type 106, set --fork-ignore-unknown-tx-type true to ignore` error.

[2022-09-09 18:29] gzeoneth commented on #2995
I have no idea why it is not working, you can try [this alternative patch](https://gist.github.com/gzeoneth/54e9eaee0a3f1e0f7a60deb2db90220b) where it always ignore unknown tx type.

[2022-09-09 19:16] AbigailTCameron commented on #2995
but which file are we adding the above stipulation to?

[2022-09-09 20:46] gzeoneth commented on #2995
Fixed a few bug with 2.10.2-gzeon-e972f1dda, you can use this patch file
https://gist.github.com/gzeoneth/99ac30932bf07f91661d7bc621ba1f50

In hardhat.confg.ts you need something like
[code]

Then it should work when using the hardhat network.

[2022-09-09 21:50] adichess commented on #2995
Thank you so much this latest patch finally works.

[2022-09-09 22:56] kjmagill commented on #2995
Could you share your Hardhat config file? I've installed this alternative patch in your latest reply, which helped me bypass the same `InternalError: Unknown transaction type 106` as Abbie is experiencing above. This patch has successfully ignored the unknown type 106 error, but now we're getting `Error HH604: Error running JSON-RPC server: Invalid URL` and I'm assuming it's a configuration issue.

[2022-09-10 04:09] gzeoneth commented on #2995
See my previous reply.

[2022-09-10 10:43] 0xthk commented on #2109
Sure, here https://gist.github.com/0xthk/8c8b91cfebe2b97e729b8d86187262a4

[2022-09-10 11:03] iwashu0 commented on #1222
I hit this problem as well, not on Kovan but on Goerli and Rinkeby as well. And yes it turned out the bytecode size of my contract was larger than 24576 bytes, found it only via `truffle run contract-size` as below. Wish hardhat can also print the error message more intiitively.

[code]

[2022-09-10 12:50] alcuadrado commented on #2109
🤯 do you have a link to the repo? Or can you post the package.json? I'm blown away by the number of versions of `ethers`  that you have.

[2022-09-11 01:22] gzliudan opened #3163 "How to support XinFin blockchain"
The address prefix of XinFin blockchain is `xdc`, not `0x`. So the hardhat report below error when deploy contract:

[code]

JSSONRPC request:
[code]

JSSONRPC response:
[code]

The miner is `xdc0000000000000000000000000000000000000000`, not `0x0000000000000000000000000000000000000000`.

[2022-09-11 01:56] 0xthk commented on #2109
Yeah, we are a one-year project. There are some legacies 😂 https://gist.github.com/0xthk/51e7ccb81d42918820aa28061a1bd360

[2022-09-11 05:24] chubidursel commented on #2327
Type '{ apiKey: string; }' is not assignable to type 'NetworkUserConfig | undefined'.
  Object literal may only specify known properties, and 'apiKey' does not exist in type 'NetworkUserConfig'

I updated the last version of this lab, and still have problem, does anyone know how to solve it? Thanks

[2022-09-11 10:18] m1s5 commented on #3089
same issue:
• Bare node. No extra config
• Trying to connect with metamask

[2022-09-11 10:22] vaxann commented on #3089
Problem the same as @m1s5, see screen
<img width="757" alt="Screenshot 2022-09-11 at 13 20 31" src="https://user-images.githubusercontent.com/582511/189522532-94f26cb6-6773-4b3c-b22b-e3a54169a0c1.png">

[2022-09-11 10:27] Mmmintaka commented on #2555
G!

[2022-09-11 12:28] alcuadrado commented on #3163
Hey! Thanks for opening this issue.

I'm afraid that'd be a huge change. It's not even us who are rejecting that address, but ethers.js instead. I'm sure that if ethers accepted it, other parts of the stack would also reject it.

If a new network wants to reuse the Ethereum tooling and/or be EVM-compatible they are welcome to do it, of course, but it's their job to make sure that they stay truly c

[2022-09-11 12:28] #3163 closed

[2022-09-11 12:47] alcuadrado commented on #2555
Can you please open a new issue about using this extension behind a proxy? Thanks!

[2022-09-11 23:49] aathan opened #3164 "eth_getStorageAt uint256 handling and QUANTITY handling in general"
The merge of #2581 is causing problems when using the Foundry project's scripting features (see for example: https://github.com/gakonst/ethers-rs/pull/1687). Meanwhile, the workaround of using an earlier hardhat version (e.g. 2.9.4) also doesn't work due to possibly related problems:

[code]
I say "possibly related" because the discussion in #2581  and #2230 seem to reference how hardhat handles q

[2022-09-12 00:52] aathan commented on #3164
If the hardhat project feels it's important to maintain strict format checks, I might suggest adding a flag or configuration parameter that changes how strictly hardhat enforces parameter formatting issues. Whenever there is a mismatch, users end up in a potentially difficult scenario that involves finding some set of versions of all the tools they want to use, that work properly together, and hav

[2022-09-12 00:59] Chidubemcodes commented on #2242
I think maybe you should try reinstalling hardhat

[2022-09-12 01:28] alcuadrado commented on #3164
As commented [here](https://github.com/NomicFoundation/hardhat/pull/2581#issuecomment-1243106520), you are right. Thanks for investigating this and pointing us in the right direction. We'll fix it asap.

Also, I like this idea!

[2022-09-12 01:44] alcuadrado commented on #3164
Now, about the fix: should we do `^(0x)?[0-9a-f]{0,64}$`? It's more restrictive than Geth, but get's behavior is somewhat crazy in this case.

I'll also investigate what's going on with those `eth_feeHistory` calls. As far as I remember that's also a weird method.

[2022-09-12 06:37] jason0x0y commented on #3121
I also encountered the same problem when running hardhat coverage. how did you solve it?

[2022-09-12 12:35] ololade97 opened #3168 "Grammar error on hardhat.org/tutorial"
Hi,

I noticed a grammar error on hardhat.org/tutorial in the second paragraph - "to easily introducing more functionality".

It should be "to easily introduce more functionality".

Could you look into this?

Thanks.

[2022-09-12 12:47] alcuadrado commented on #3168
Hey! Thanks for pointing this out! You can send a pr and win a gitpoap. You can correct this error from github. The website is in /docs/src/content/tutorial

[2022-09-12 13:36] ernestosperanza commented on #3136
Is this issue open to work?

[2022-09-12 16:20] fvictorio commented on #3152
Hi @wong2, we are still using our forked versions because there is a performance regression that makes Hardhat run two times slower for some payloads (e.g., OpenZeppelin's test suite takes exactly 2x the time). Until we figure out what to do about that, we'll have to continue using our fork.

[2022-09-12 16:39] aathan commented on #3164
Thanks. I'm currently blocked by the combination of behaviors between foundry and hardhat, in both the latest version of hardhat, and older versions of hardhat (e.g., hardhat 2.9.4). Is there a relatively straight forward way to disable the formatting checks in hardhat? I'd like to patch my copy so I can make progress. I'm guessing it's just reversing https://github.com/NomicFoundation/hardhat/pul

[2022-09-12 16:55] KirchZ commented on #1040
First of all thanks for your hard work and commitment.

Any progress on this topic? Its pretty annoying not being able to use hardhat-deploy without hardhat-deploy-ethers due to that functionality.

[2022-09-13 01:26] nataouze commented on #3074
Agreed with having a `hardhat_setChainId`. EIP-712 is pretty common and it would be useful to have tests for network-fork-proofing.

[2022-09-13 03:44] wong2 commented on #3152
Got it!

[2022-09-13 04:03] penandlim commented on #2995
https://gist.github.com/penandlim/790cebc4ddf204410654624aacb2efb4

Same patch as the one posted in the OP but for hardhat 2.11.1 code

[2022-09-13 05:05] gzeoneth commented on #2995
Nice, ya there was a breaking change in 2.11.1

[2022-09-13 06:58] leduythuccs opened #3170 "In correct block hash when forking other EVM chains"
When forking other EVM chains (like Avax, Avax testnet, Aurora, Polygon, ...), the blockhash getting from `eth_getBlockByNumber` is not match with the RPC, the reason is:
- In this: [ForkBlockchain.ts#L272](https://github.com/NomicFoundation/hardhat/blob/main/packages/hardhat-core/src/internal/hardhat-network/provider/fork/ForkBlockchain.ts#L272), hardhat use the blockdata to create a new `Block`

[2022-09-13 07:04] leduythuccs commented on #3170
This issue is not a problem for most of the users tho. I only realized this when trying to run a subgraph with a local hardhat fork. Subgraph verifies the block hash in order to detect re-org.

[2022-09-13 07:52] CJ42 opened #3171 "hardhat-etherscan: unknown UID"
I often encounter a problem with hardhat-etherscan when trying to verify deployed contracts.

Sometimes, the verification works without any problem, other times I get back the following error:

[code]

![image](https://user-images.githubusercontent.com/31145285/189842607-317360bb-fd67-437f-989f-85b26b99f6fe.png)

**My hardhat config** https://github.com/lukso-network/lsp-smart-contracts/blob/6b237

[2022-09-13 12:00] leekt opened #3172 "Request for supporting optimism goerli instead of optimism kovan for etherscan verification"
Since optimism's official testnet is now optimism goerli instead of optimism kovan, i think it is rational that hardhat etherscan should support optimism goerli instead of optimism kovan.

I am aware that hardhat team is not going to support any additional network but i think we need optimism goerli instead of optimism kovan

[2022-09-13 12:35] nkuba opened #3173 "`verify:verify` task usage causes duplicated runs of `compile` task"
Currently when the `verify:verify` subtask is executed programmatically to verify contracts (e.g. in a deployment script) it runs the `compile` task as well. The compilation is rerun multiple times during the deployment process, which is not necessary as it's assumed the compilation was already called before running the deployment.

In the example below I want to deploy three contracts (with `hard

[2022-09-13 21:06] BarneyChambers commented on #2247
This is still an issue for me on Ropsten, no update from Etherscan team yet.

[2022-09-13 22:34] feuGeneA commented on #3109
Thank you for using Hardhat. GitHub Issues are intended to be used only for known or suspected problems with Hardhat, or for feature requests.  For questions or other help, please use either [our Discord server](https://hardhat.org/discord) or [the GitHub Discussions feature](https://github.com/nomiclabs/hardhat/discussions/) instead.

[2022-09-13 22:34] #3109 closed

[2022-09-13 22:59] feuGeneA commented on #3158
Thank you for using Hardhat.

Fixture composition is not currently supported. It seems that perhaps you misunderstood https://github.com/NomicFoundation/hardhat/issues/2980#issuecomment-1208451537 . The code snippet shown there is a sketch of a hypothetical usage, but support for it is not currently implemented.

[2022-09-13 23:30] Whynot63 commented on #3002
Does this bug is resolved?

[2022-09-14 01:20] eiyen commented on #2348
I also encountered this ECONNRESET problem, it seemed like we need to access etherscan api through `http` protocal.

See [this anser](https://github.com/smartcontractkit/full-blockchain-solidity-course-js/discussions/2247#discussioncomment-3590929) for details.

[2022-09-14 03:57] Track7Dev opened #3176 "v2.11.1-MODULE_NOT_FOUND"
## v2.11.1 - Solidity-Analyzer (Module Not Found)

#### Win 10 - Node v18.9.0
***Issue: '@nomicfoundation\solidity-analyzer-win32-x64-msvc' Module_Not_Found error present upon a clean install of the hardhat v2.11.1 even though the module is present within node_modules (seems to be a compiling issue)***

***Workaround: Install hardhat v2.10.2 and compile using the previous version first, then proce

[2022-09-14 06:02] apecollector commented on #3130
@alcuadrado the new version of solidity-coverage that fixed this is `v0.8.0` so it's still broken with hardhat toolbox.

Related PR: #3147

[2022-09-14 09:18] fvictorio commented on #3130
For the record, you shouldn't need to use an override here. Just `npm i --save-dev solidity-coverage@latest` should work. But please let us know if that's not the case.

[2022-09-14 11:12] fvictorio commented on #3164
I opened #3177 to fix this. The only difference with what was discussed here is that empty strings are rejected (but `0x` is valid). Sending an empty string seems to me to be an unintentional mistake, so I think is better to reject the argument in that case.

@aathan we are aiming for releasing this today, I'll let you know here when the release is out.

[2022-09-14 13:20] alcuadrado commented on #3176
Hey, can you please try reinstalling all your packages (deleting your `package-lock.json` and re-running `npm i`), and then sharing the output of `npm ls -a`?

I believe this bug has been fixed and that you have an older version of `@nomicfoundation/solidity-analyzer`.

[2022-09-14 17:00] #3164 closed

[2022-09-14 17:01] #2736 closed

[2022-09-14 17:02] alcuadrado commented on #3168
Thanks for fixing this 🙌

[2022-09-14 17:02] #3168 closed

[2022-09-14 18:58] alcuadrado commented on #1725
Hey @flux627! Thanks for opening this issue.

I think your proposal is about `hardhat-waffle`, now, right? We are moving it to [this repository](https://github.com/NomicFoundation/hardhat-waffle), so I'm also moving the issue.

[2022-09-14 19:17] aathan commented on #3164
Ok. Please be aware of https://github.com/ethereum/execution-apis/issues/303 and associated PR https://github.com/ethereum/execution-apis/pull/305

[2022-09-14 21:43] alcuadrado commented on #3164
Thanks @aathan :)

I'll follow those and we may update Hardhat once again after it gets resolved, but we'll release this smaller change now to unblock you, as you were very helpful.

[2022-09-14 22:52] fvictorio commented on #3164
Released in [`hardhat@2.11.2`](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.11.2).

[2022-09-14 22:52] fvictorio commented on #2736
Released in [`hardhat@2.11.2`](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.11.2)

[2022-09-15 02:55] innocentguy opened #3181 "Should fix the example code of `.changeEtherBalance`"
As the [example](https://hardhat.org/hardhat-chai-matchers/docs/reference#.changeetherbalance) shows, we use this format to check if the balance changed as expected.
[code]
However, it'll get an error message `TypeError: txResponse.wait is not a function`

After I traced the code, I found the root cause in the waffle matchers ():
[code]
It seems that the input in `expect()` should be a function or

[2022-09-15 04:17] alcuadrado commented on #3181
I think you are conflicting two projects: `hardhat-chai-matchers` and `hardhat-waffle`. The example you linked is from `hardhat-chai-matcher`. Maker sure you don't have `hardhat-waffle` installed.

[2022-09-15 05:22] innocentguy commented on #3181
Got it. I think you're right, the hardhat version I'm using is not the newest one.
Once I use the newest version, it actually link to the new implementation under `hardhat-chai-matchers`.

Thanks a lot!

[2022-09-15 05:22] #3181 closed

[2022-09-15 12:49] krzysztof-cywinski commented on #3158
I may have indeed misunderstood. My understanding was that using `loadFixture` inside a fixture broke stuff, but directly calling another fixture function should be ok.

I re-read that thread and still think that @fvictorio suggested to use that pattern instead of using `loadFixture` inside a fixture function and that it should work.

It's also reiterated here: https://github.com/NomicFoundation/h

[2022-09-15 15:18] feuGeneA commented on #2540
throw, don't just warn. let there be false positives and we'll deal with that when it actually happens.

[2022-09-15 17:27] aathan commented on #3164
Thanks everyone!

[2022-09-15 17:51] Arashi-H commented on #3176
Hi. @alcuadrado.
This is fairly a great repo. I appreciate your effort and impressed by your skill.
And I've got the same error with @Track7Dev.
![image](https://user-images.githubusercontent.com/112880817/190474376-0d2de8b2-5beb-4753-aa67-da7a46282c1b.png)
And here is output of `npm ls -a` about `@nomicfoundation/solidity-analyzer`.
![image](https://user-images.githubusercontent.com/112880817/190

[2022-09-15 21:55] alcuadrado commented on #3176
I identified the root of the issue, and I'm working on a workaround. You can read more details about it [here](https://github.com/napi-rs/napi-rs/issues/1316).

I'm working on a workaround, which will hopefully be shipped tomorrow. I'll keep you posted.

[2022-09-15 21:58] alcuadrado commented on #3176
PS: I think I may have confused your issue for another one. Our publish of version 0.0.4 of the library failed. I'm running it again now. You should be able to reinstall it in a few minutes, which should work.

@Arashi-H @Track7Dev

[2022-09-15 22:14] alcuadrado commented on #3176
Can you delete your `package-lock.json`/`yarn.lock`, reinstall, and try again?

[2022-09-16 00:56] Arashi-H commented on #3176
Thanks for your response.
I've started a new project with hardhat from scratch.
I initialized npm, installed hardhat, initialized hardhat framework and still have solidity-analyzer 0.0.3 not 0.0.4.
![image](https://user-images.githubusercontent.com/112880817/190533764-4c5f31da-24b2-4f38-aef0-1c0c08f09351.png)
This is killing my time. Please help me.

[2022-09-16 08:41] BayKeremm commented on #2248
I have solved the problem I was working on. An unpredictable gas limit message can be really misleading sometimes.
So here are a couple of things I have noticed in my project, that maybe could be of use to someone else:
    - Make sure to check allowance if you are calling a function with any transfer involved between accounts or contracts. So this might involve asking users to give allowance to c

[2022-09-16 08:50] bill-noto commented on #2351
Lolll, me too! Took two hours to finally find this answer pointing this easy to miss mistake out, thanks a lot!!

[2022-09-16 10:30] RomarQ opened #3187 "hardhat-vyper plugin does not follow symbolic links"
When compiling a vyper contract which is a symbolic link, it fails with the following message: [Error in plugin hardhat-vyper: File should always be found](https://github.com/NomicFoundation/hardhat/blob/dbf7c0b33001ebca01ac3737e8599ef251cf0de7/packages/hardhat-vyper/src/index.ts#L314).

It works fine for hard links.

[2022-09-16 11:45] piersy commented on #1966
@mbare0 This looks like the problem is caused by a different block header structure in celo compared with ethereum, the celo block header does not have the uncles, gasLimit or difficulty fields.

This is something we are looking at addressing starting with ethers.js
* https://github.com/celo-org/celo-blockchain/issues/1945

We are still investigating how to handle this best and it may be that we n

[2022-09-16 11:52] jmendiola222 commented on #3121
As I said, for me, he issue was not as the error stated "code is too large" but a gasLimit problem that gets shadowed by it. I solve it increasing the gasLimit wherever required. ;)

[2022-09-16 12:47] alcuadrado commented on #3176
Can you please try installing `hardhat@2.11.3-dev.0`? This one should fix it. If you confirm that it works I'll release it as final ASAP. @Arashi-H

[2022-09-16 13:52] alcuadrado commented on #3171
Hey,

Thanks for submitting this issue. Can you please report it to those explorers and keep us updated?

[2022-09-16 14:58] tushargargght commented on #1904
Any resolution on this yet? I am having the same problem.

[2022-09-16 16:44] akhanubis opened #3188 "npx hardhat compile fails for solidity version 0.8.15 and hardhat 2.11.x on a linux ec2 instance"
Steps to reproduce:

1. npm init
2. npm install --save-dev hardhat
3. use the following hardhat.config.js:
[code]
4. create contracts/Token.sol with sample contract from docs: https://hardhat.org/tutorial/writing-and-compiling-contracts#writing-smart-contracts
5. npx hardhat compile
[code]

System is a default ec2 linux image (Amazon Linux 2 LTS Arm64 AMI 2.0.20210326.0 arm64 HVM gp2):

[code]

Do

[2022-09-16 16:54] alcuadrado commented on #3188
Thanks for opening the issue! Can you run with --verbose using both versions and post the output here?

[2022-09-16 16:55] alcuadrado commented on #3188
Also, are you using an ephemeral vm? Or do you reuse it?

[2022-09-16 17:08] alcuadrado commented on #3176
Thanks! I'll release it as stable today.

[2022-09-16 17:36] akhanubis commented on #3188
2.10.2
[code]
2.11.2
[code]

So 2.10.2 doesnt use native compiler, uses solcjs.

VM is reused. It's a long living instance that periodically runs jobs.

[2022-09-16 18:45] ivanvolov commented on #2672
+1 same here

[2022-09-16 21:28] goums commented on #2305
would love to have this as well

[2022-09-16 23:26] tarik0 opened #3191 "Mempool Automatically Drops The Second Transaction On Manual Mine Mode."
Hey, I was trying to simulate an `openTrading` and `transfer` transaction series that happens in the same block but when I try to send two transactions in the same block the second one (`transfer`) never gets mined after `hardhat_mine` (I've also tried `eth_mine`) even though I can see the second transaction with `eth_pendingTransactions` in the mempool.

Here is the config with my `npx hardhat no

[2022-09-17 00:19] alcuadrado commented on #3188
Thanks for the info. The problem is that we are incorrectly assuming that every Linux box is x86_64.

`npx hardhat clean --global` should help you workaround this issue.

[2022-09-17 01:12] akhanubis commented on #3188
Ty, compile worked with 2.11.2 after running `npx hardhat clean --global`.

[2022-09-17 09:34] Arashi-H commented on #3176
@alcuadrado.
Sorry for late answer.
Now it's fixed and thank you for your effort.
I will keep in touch with you.

[2022-09-17 13:33] jankulma commented on #3118
@dandamian83 did you fix it? I'm running into the same/similar issue

[2022-09-17 14:08] dandamian83 commented on #3118
Hi,

Unfortunately, not yet...
Sorry.
*Dan Damian*

Bucharest, Romania

On Sat, Sep 17, 2022 at 4:33 PM jankulma ***@***.***> wrote:

[2022-09-17 19:23] jyotisujeeth opened #3193 "hardhat is not creating a config.js file"

[2022-09-17 19:26] jyotisujeeth commented on #3193
![image](https://user-images.githubusercontent.com/105577483/190873347-cb3ce83c-e1a7-4aee-877c-57069c8c287c.png)
when we run a command npx hardhat, here it is not creating a config.js file

[2022-09-17 19:27] #3193 closed

[2022-09-17 20:30] AbigailTCameron opened #3194 "Error when I try to run test forked from Arbitrum network"
I've been trying to run tests, `npx hardhat test` on the arbitrum network with the basic testing framework that hardhat establishes upon creating a new project and I am continuously met with this error:
[code]

The only changes I have made were done to the hardhat.config.ts file so that we're forking from the arbitrum network
[code]

I've already tried running hardhat patch but that doesn't seem t

[2022-09-18 17:13] nedgar commented on #2248
Sorry for the delay in verifying the fix. I can confirm that as of ethers.js 5.6.2, [my scenario above](https://github.com/NomicFoundation/hardhat/issues/2248#issuecomment-1062220632) of issuing a **call** to a view function (which shouldn't have to estimate gas to begin with) now fails with a `CALL_EXCEPTION` instead of `UNPREDICTABLE_GAS_LIMIT`.

Using the standalone example of calling an ERC-72

[2022-09-18 17:18] nedgar commented on #2248
Since the original problem report was so ambiguous, I suggest treating this issue as "UNPREDICTABLE_GAS_LIMIT when calling a view function" and closing it as fixed.

[2022-09-18 21:38] jrynkiew commented on #2927
What is the status of this issue? It is critical to fix.

[2022-09-19 04:08] leekt commented on #3172
resolved by #3192

[2022-09-19 04:08] #3172 closed

[2022-09-19 06:01] sisco0 commented on #3108
I tried to reproduce the issue in the following repository without success. Even when using forked networks, the test fails.
Could you kindly help with a minimal reproducible example @cdgmachado0 ?
https://github.com/sisco0/hardhat-test-3108

[2022-09-19 07:11] DefiCake opened #3195 "Hardhat 2.11 fails in dockerized environments"
Reproduction: https://github.com/DefiCake/hardhat-211-docker-bug-report

I am finding troubles when running hardhat inside CI pipelines. I am not sure where this was introduced, suspecting the latest 2.11 where compile time optimizations happened, but not really sure. Got a personal project at v.2.9.9 where it does work well.

It boils down to it failing when running in dockerized envs with either

[2022-09-19 07:16] LI-YONG-QI opened #3196 "Failed to send contract verification request. the HTTP server response is not ok. Status code: 403 Response text"
Hello, all
I got an error message when I verify contract on mumbai testnet, but other contracts in scripts are successful

The error message :

[code]

This is my verify scripts :
[code]

The contract :
[code]

Compiler version : 0.8.11
@nomiclabs/hardhat-etherscan : ^3.0.1

[2022-09-19 12:39] Pafaul commented on #3097
Hi @feuGeneA !
Any updates on issue?

[2022-09-20 11:31] DefiCake commented on #3195
Update: using an x86_64 docker image seems to do the trick. I was using node-alpine. Switching to a non-alpine version made it work.

[2022-09-20 12:03] ubudragon commented on #3195
the problem is in the alpine image, it missing ld-linux-x86-64.so.2 library, so solc compilers won't run

[2022-09-20 12:53] TrejGun commented on #1499
the link is broken

[2022-09-20 13:59] hickscorp commented on #3195
We are also experiencing a similar problem. We recently updated some dependencies (including `hardhat`) and everything works fine locally - until we hit our CI / CD pipeline which uses docker containers under the hood.

[2022-09-20 14:42] ubudragon commented on #3195
yes, before all worked well somehow.. strange, because solc compilers isn't part of hardhat.

[2022-09-20 15:18] ExtremeSwat commented on #3196
This is a huge blocker, I am encountering the very same issue here
[code]

[2022-09-20 15:30] fullkomnun commented on #3176
@alcuadrado Thanks! when will this be released as stable?

[2022-09-20 16:50] #3152 closed

[2022-09-20 18:20] cdgmachado0 commented on #3108
If the test fails, you're reproducing the issue @sisco0 . The test is designed to pass (`test/arb-tests/ozel-index.js`) without the `console.log()`.

I'm not really sure -without any ts knowledge- how to build a minimal reproducible example since it's only one test that does 18 txs, and the bug can come in tx #4 or #11 or #14 or not come at all.

It's an on/off behavior that doesn't happen all the

[2022-09-20 18:33] fvictorio commented on #3158
Agree, the reproduction shown seems like something that should work.

[2022-09-20 18:48] fvictorio commented on #2109
@0xthk can you comment the `hardhat-tenderly` plugin require/import and see if that fixes the issue?

[2022-09-20 18:50] fvictorio commented on #3136
@ernestosperanza sure, but make sure that you can reproduce the issue (check #2672) and that your fix indeed fixes it (see https://github.com/NomicFoundation/hardhat/blob/main/CONTRIBUTING.md#developing-locally to learn how to test a fix locally).

[2022-09-20 19:03] fvictorio commented on #1246
@AryanSai those are commands to add environment variables to your current session (read [this](https://unix.stackexchange.com/questions/3507/difference-between-shell-variables-which-are-exported-and-those-which-are-not-in) for an explanation).

[2022-09-20 19:09] anajuliabit commented on #2451
Any update on this? Same issue here

[2022-09-20 19:20] fvictorio commented on #3129
@bodrovis sorry, I still can't reproduce it :slightly_frowning_face:

Just in case, can you try this?

1) Remove your lockfile and node modules (`rm -r package-lock.json node_modules`)
2) Make sure you have npm 7 or later installed (check with `npm --version`) and upgrade it if not (`npm i -g npm@latest`)
3) Re-install the dependencies (`npm install`) and run the tests again.

[2022-09-20 19:21] fvictorio commented on #3157
IIRC, this was necessary to make it work with ethers.js, but agree that is very confusing.

[2022-09-20 19:52] bodrovis commented on #3129
@fvictorio I suspect it has something to do with OS specifics or the PC itself. I've already tried *completely* removing everything related to Node.js, cleaning all caches etc. I've reinstalled Node 18 (with NPM 8) and tried recreating the project two times so far. It does not help unfortunately, I keep getting the same issue.

https://user-images.githubusercontent.com/646942/191351721-54edcdaf-86

[2022-09-20 21:06] fvictorio commented on #1222
Note for ourselves.

The problem is here:

https://github.com/NomicFoundation/hardhat/blob/a4987a46adfd88e85e654cd0b635c768e055c56a/packages/hardhat-core/src/internal/core/providers/http.ts#L76-L92

When you modify the `message` of an error, the `stack` property is not re-computed. Since we then use that property for the inspect function of `CustomError`, the printed error doesn't include the remo

[2022-09-20 21:20] fvictorio commented on #3170
Hi @leduythuccs, thanks for reporting this.

This is a hard one because ethereumjs doesn't provide any way to set the hash. Monkey-patching is always an option, of course, but I don't think the risk is justified in this case. In any case, we really don't want to have that unnecessary hash computation (we should just use whatever the remote node returned).

[2022-09-20 21:21] azerpas commented on #1904
Same issue here while trying to deploy a `Governor` after deploying my `TimelockController` and `ERC20Votes` token.

[2022-09-21 03:12] AryanSai commented on #1246
OK thank you!!

[2022-09-21 08:58] fvictorio commented on #3121
Hey @jmendiola222, sorry for not responding before. Any chance you can create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this? I would like to be able to reproduce it and understand the problem better.

[2022-09-21 09:05] fvictorio commented on #3191
Hey @tarik0, can you create a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this? I would love to investigate this but without an easy way to reproduce it it would take me a lot of time.

A repo that I can clone, `npm install` and `hardhat test` to reproduce the problem would be ideal. If that's too much to ask, at least something that I can clone

[2022-09-21 09:29] fvictorio commented on #3118
@hickscorp was your CI caching the downloaded compilers by any chance?

[2022-09-21 09:32] fvictorio commented on #3196
It seems like Cloudflare blocked you:

[code]

Not much we can do about this. You can try verifying through a VPN maybe.

[2022-09-21 09:36] fvictorio commented on #2451
@anajuliabit Not yet, but I'll try to bump this issue's priority. That doesn't mean we'll be able to get it fixed super soon, but it should move it a bit forward in our (huge) backlog.

I should mention that, while this is definitely a bug and something we want to fix, I don't think it's a good idea to assert this kind of error messages in the tests. The inferred errors are mainly about helping yo

[2022-09-21 09:50] fvictorio commented on #3129
@bodrovis thanks for the video and for helping us understand what's going on, I really apprecaite it.

Can you please try this inside WSL and see if it still happens? If it doesn't, then there's probably something weird going on with the chai matchers on windows.

[2022-09-21 09:53] #3196 closed

[2022-09-21 09:56] #3106 closed

[2022-09-21 10:08] fvictorio commented on #3157
I'm not sure if there's much we can do here. The object we are returning is [JSON-RPC compliant](https://www.jsonrpc.org/specification#error_object):

(emphasis mine) And even if we wanted to match geth's behavior it would be a big breaking change, and some things in ethers would stop working.

@drortirosh if you are curious, I can try digging in my notes and explain better why exactly we need to

[2022-09-21 10:15] jankulma commented on #3118
I had a similar issue, and in my case it was cache. I was using docker image (built in CI), and I just had to rebuild it with no cache

[2022-09-21 11:02] bodrovis commented on #3129
I'll try but all in all I'm pretty sure the problem is with Windows. Thing is, I've tried running tests on Github using Windows machine and everything run smoothly. So perhaps this ticket can be closed. In any case, thank you for assistance, I understand you have many other issues to take care of.

[2022-09-21 11:27] ExtremeSwat commented on #3196
Hello, this isn't about cloudflare blocking me.... the problem is with the verification statement, or something the CLI tools is creating...
Why ? because I can deploy my contract as many times as I want without issues, the verification step fails because the way you guys compose the URI is conflicting with whatever rules reside in cloudflare...

[2022-09-21 12:34] BerkKaanVAN opened #3200 "We couldn't initialize the sample project because this file already exists ERROR"
hi, i am having this error in hardhat v2.11.2 version. I get this warning after npx hardhat -> create a javascript project " We couldn't initialize the sample project because this file already exists: README.md" "Please delete or move them and try again."

[2022-09-21 13:02] emretepedev commented on #2724
Same issue here. Is there any suggestion?

[2022-09-21 13:35] ottodevs opened #3201 "Hardhat-core `internal/cli/cli.js` is not executable anymore"
Recent versions of hardhat changed the way `cli.js` is built, so it has not executable permission anymore, that causes new installations to fail while trying to call any `hardhat` command with `Permission denied`. It is specially disturbing in CI environments.

To reproduce, just install an older version of hardhat in an empty node project (ensure you are not caching dependencies) and run `ls -ll

[2022-09-21 13:49] gabririgo opened #3202 "bug: cannot run hardhat coverage after upgrade to Hardhat 2.11.2"
After upgrading project from hardhat v2.2.1 to v 2.11.2 and solidity-coverage from v.0.7.17 to 0.8.2 I receive the following error when running hardhat coverage:

`Unknown key "inliner"`

option `inliner` is not recognized as a valid `solcOptimizerDetails` param.
The project needs code optimization otherwise won't compile with hardhat.
in fact, while contracts compile with hardhat compile (uses op

[2022-09-21 13:51] ottodevs commented on #3201
To add more context, I am testing several versions, and this issue does not happen with `2.11.0` so the regression was probably introduced in the version `2.11.1`

[2022-09-21 14:12] gabririgo commented on #3202
running command `hardhat test --verbose` returns an error:
`hardhat:core:hardhat-network:node Could not generate stack trace. Please report this to help us improve Hardhat.
  hardhat:core:hardhat-network:node  TypeError: Cannot use 'in' operator to search for 'pc' in undefined
    at isEvmStep (/home/gabriele/v3-contracts/node_modules/hardhat/src/internal/hardhat-network/stack-traces/message-trace

[2022-09-21 14:21] ottodevs commented on #3201
It does seem related with our code environment, because I tried several versions and all fail with the same issue, also with github actions:
![image](https://user-images.githubusercontent.com/5030059/191529845-993bcea9-1817-4c6b-a443-893d2d98cb3d.png)

Maybe it is related to pnpm or because I am using hardhat as a regular dependency instead of devDependency, I will keep trying and updating

[2022-09-21 15:06] arcpinus commented on #2995
[code]
i've set to true always, but fails with `Error HH604: Error running JSON-RPC server: Unknown transaction type 106, set --fork-ignore-unknown-tx-type true to ignore`

[2022-09-21 16:48] fvictorio opened #3203 "[Chai Matchers] Reverted matchers don't work with interval mining"
It seems like all our `.reverted*` matchers assume that auto-mining is enabled and dont `tx.wait()` the transaction.

For `.reverted` this is an easy fix, we should just wait the transaction before getting the receipt and inspect the status.

For the other matchers, things are harder because we need to obtain the return data, and that's not available when the transaction is interval-mined. In thes

[2022-09-21 17:33] phated commented on #3203
Subscribing because I really want/need this for DF and afterimage (new game)! Thanks for opening @fvictorio 🎉

[2022-09-22 04:36] JoshDAO commented on #3062
I am having this same error when verifying on Arbitrum One, using an almost identical deploy/verify script and the same Arbiscan API key as I have been using for Arbitrum Rinkeby that works fine.

[code]

 Not sure what could be causing the difference in behaviour between Arb Rinkeby and Arbitrum One

[2022-09-22 07:44] tom-s07 opened #3204 "Verify doesn't work for ArbitrumOne"
[code]

Discord is full of people having the same issue.

API key is correct and configured properly.
No changes were made to the contracts, this was run immediately after deploying.

`"devDependencies": {
    "@nomicfoundation/hardhat-toolbox": "^1.0.2",
    "@nomiclabs/hardhat-etherscan": "^3.1.0",
    "hardhat": "^2.10.2",
   ...
  },`

Solidity `pragma solidity ^0.8.17;`

Error message really

[2022-09-22 12:29] fvictorio commented on #3129
I see, thanks for letting us know.

I'm gonna close this issue then, but if you (or anyone) keeps running into this and has a clue about what's going on, please let me know and I'll re-open it.

[2022-09-22 12:29] #3129 closed

[2022-09-22 12:37] fvictorio commented on #3204
Summoning @Enigmatic331

[2022-09-22 12:51] gzeoneth commented on #2995
@arcpinus can you try my 2.10.2 patch?

[2022-09-22 13:00] fvictorio commented on #3202
@gabririgo can you give me precise reproduction steps? I tried the repo you shared, but the config file seems to assume there are some environment variables set.

[2022-09-22 13:04] arcpinus commented on #2995
@gzeoneth , it's not working :(
[code]

[2022-09-22 13:05] gabririgo commented on #3202
@fvictorio to run the repo, a file .env must be created and contain
`SOLIDITY_VERSION=""
SOLIDITY_SETTINGS="{"optimizer":{"enabled":true,"runs":1000}}"`
second line is requred, first line not required if solidity version specified in hardhat config file.

I will look into providing a working example, however, the way I see you can reproduce is by adding a config spec in any project that uses hardh

[2022-09-22 14:02] Enigmatic331 commented on #3204
Hi @tom-s07 - Could you give it another try please? We were having some issues with verification earlier but have taken remedial action, and should work out now.

Thanks and sorry for the inconvenience. 🙇

[2022-09-22 14:45] tom-s07 commented on #3204
`Error in plugin @nomiclabs/hardhat-etherscan: Contract source code already verified`
😂

Seems like the error was the error and it worked after all? 🤷‍♂️

[2022-09-22 22:47] Benen66 opened #3208 "allowUnlimitedContractSize flag not working"
I've been trying to run a fork of Set Protocol on localhost using hardhat and I'm getting a ProviderError: Error: Transaction reverted: trying to deploy a contract whose code is too large even when the file in question (SetTokenCreator.sol) is only a 100 lines long and I've enabled allowUnlimitedContractSize: true.

My hardhat.config looks like this:
[code]
the ignoreUnknownTxType is because I'm a

[2022-09-23 01:05] kabaluyot commented on #3204
@tom-s07 you can try this workaround in your contract. Basically just need some difference in bytecode.

[code]

[2022-09-23 03:02] Gizmolala opened #3209 "HttpProviderError problem"
[code]

So I am having a problem deploying the contract on the avalanche test net, whenever I try to--> ` npx hardhat run scripts/deploy.js --network avaxchain`
it shows an error of ---> `error: ProviderError: HttpProviderError`
Any suggestion?

[2022-09-23 05:03] tom-s07 commented on #3204
No, it seems it worked despite throwing that error initially. I didn't manually verify the contracts or anything, it must have been the `verify` call that threw the error.

[2022-09-23 09:23] layinka commented on #1040
+1 on this

[2022-09-23 11:27] fvictorio commented on #957
Hi everyone. We just released a version of Hardaht under the `esm` npm tag which includes basic support for ESM.

The way this works is that your Hardhat config still needs to be CommonJS, and so it has to be named `hardhat.config.cjs` (or `.cts`, if your project is in typescript). But your scripts and tests can be ESM now, or you can mix CJS and ESM for both tests and scripts.

Please give it a t

[2022-09-23 11:30] fvictorio commented on #2882
Hi folks, please check my comment [here](https://github.com/NomicFoundation/hardhat/issues/957#issuecomment-1256094430). The tl;dr is that we published a version of Hardhat with basic support for ESM. You can try it with `npm i hardhat@esm`.

[2022-09-23 12:30] fvictorio commented on #3204
Thanks for chiming in @Enigmatic331!

I'm gonna assume that this is fixed then and close this issue, but @tom-s07 please let us know if that's not the case.

[2022-09-23 12:30] #3204 closed

[2022-09-23 15:54] AbigailTCameron commented on #3194
That doesn't work for me, I still get the same `OnlyHardhatNetworkError: This helper can only be used with Hardhat Network. You are connected to 'hardhat'.` error

[2022-09-23 20:40] msmyers commented on #2301
How would one do what he is asking? How would one detect which network is active (or will be active) when `hardhat.config.ts` is imported?

Example use-case: I want to print debug information about the current network config while I'm assembling it.

[2022-09-24 06:20] 0xthk commented on #2109
Thanks! I tried, but still no luck. I cleaned up some dependencies and this is the new version of package.json https://gist.github.com/0xthk/51e7ccb81d42918820aa28061a1bd360

[2022-09-24 08:55] HashHaran commented on #1226
I faced the same issue when forking and trying to take funds form a holder of USDC. Earlier in the thread I saw then this error occurs when specifying the list of accounts in the network. I have to specify a list of accounts in the network config because public accounts from hardhat may have some activities on the main net which could interrupt my testing. I got around this issue by specifying my

[2022-09-24 19:08] sisco0 commented on #3209
After researching the topic, I found out that `dotenv` does not allow you to use _destructuring_ for the `process.env` object.

A solution was provided by parceljs developers for their environment reader (see the PR linked in https://github.com/parcel-bundler/parcel/issues/2191 for reference). However, no solution for `dotenv` seems to be active yet.
In that sense, the following URL could be check

[2022-09-25 00:38] TheRook commented on #3085
@fvictorio  The lack of line numbers is 1/2 of this, the other 1/2 is that you aren't reporting what event was emitted.  The final event in the log will be a success event, if you are expecting a failure then the engineer should know what the mistmatch is - it should say "XXX Event was emitted instead" or "No event emitted".

Also Jesus Christ, words cannot express how much time we have wasted try

[2022-09-25 01:11] TheRook commented on #3085
How am I supposed to fix this? Or even figure out whats wrong?  Ok, but there is likely an event being triggered, its very likely Reverting on something, but there is no way to know and investigating this one issue will take hours because the error message baffling, it doesn't even tell me what is happening in Solidity OR in hardhat.

[code]

[2022-09-25 05:27] Gizmolala commented on #3209
`error: ProviderError: HttpProviderError`  same problem

Do I have to add `process.env` on the `.env` file as well?

but that also gives error

[code]

[2022-09-25 05:50] sisco0 commented on #3209
Could you kindly share us an `.env` file sample content?
Modify the fields in the regions you see convenient for privacy purposes.

[2022-09-25 05:58] Gizmolala commented on #3209
sure

[code]

[2022-09-25 06:01] sisco0 commented on #3209
Could you kindly remove the `process.env.` portion in your `.env` lines and retry?
The file content should be something like as follows:

[code]

[2022-09-25 06:58] Gizmolala commented on #3209
[code]

this error occurs

[2022-09-25 07:21] LI-YONG-QI commented on #3196
I tried to verify contract was still failed when I switch networks

[2022-09-25 22:33] LuisUrrutia commented on #3209
I think that u didn't understand what @sisco0 is talking about.

That means that you can't do this:
`const { API_URL, PRIVATE_KEY } = process.env;`

You have to access the value directly.
`process.env.PRIVATE_KEY`

So your example should look something like this:

[code]

[2022-09-26 02:50] Sceat commented on #1808
for anyone finding this issue, know that it has been partly fixed in https://github.com/NomicFoundation/hardhat/issues/957#issuecomment-1256094430

[2022-09-26 03:03] Lasang3012 commented on #1439
I have error like you! and i check import file of SMC
![image](https://user-images.githubusercontent.com/96694773/192185687-1e3958fe-ea9d-454d-9305-4d9c038c101a.png)

resolve:
![image](https://user-images.githubusercontent.com/96694773/192185756-bccad09a-a9e2-4d2c-8345-5350a3e0092f.png)

[2022-09-26 07:32] Jerrywang959 commented on #1040
Hope that all things go well. For anything stuck, we can discuss it publicly and work together.

[2022-09-26 07:55] brozorec commented on #957
hey this is awesome :+1:  I'm about to try it out and changed `hardhat.config.ts` to `hardhat.config.cts` but it doesn't seem to detect the config. It promts this when I run `hardhat test`:
![image](https://user-images.githubusercontent.com/9572072/192223098-07614be9-6fc2-408b-9d28-a370acc0d190.png)

[2022-09-26 09:42] vladikopl01 commented on #2227
I had the same issue as shown above.

[code]

Hardhat v2.10.0
Hardhat-network-helpers v1.0.3
Node >=v16.0.0

[2022-09-26 11:38] solchef commented on #1430
The following configuration on hardhat.config.ts works

`settings: {
      optimizer: {
        enabled: true,
        runs: 200,
        details: { yul: false },
      },
    },
`
**NB**

yul: true and stackAllocation: true are just defaults when the optimizer is enabled

[2022-09-26 11:45] rube-de opened #3212 "etherscan verify doesn't support goerli-optimism (chainid:420)"
I can't verify contracts on optimism testnet goerli.

running etherscan-verify
``yarn hardhat etherscan-verify --network goerliOptimsm``
results in
"Network with chainId: 420 not supported"

my hardhat config:
[code]

[2022-09-26 16:42] Sceat commented on #957
with `hardhat.config.cjs` i can confirm that it works nicely

[2022-09-26 16:52] brozorec commented on #957
Yes, it works with `.cjs` but not with `.cts`

[2022-09-26 19:16] iraklid opened #3213 "Documentation not works even for simplest project on typescript"
https://hardhat.org/hardhat-runner/docs/guides/typescript#installing-dependencies

Following documentation here and can't even run the simplest project.

installing `hardhat-toolbox` not gives anything and there is no resource to what should be done in this case.

<img width="745" alt="CleanShot 2022-09-26 at 23 15 39@2x" src="https://user-images.githubusercontent.com/91540149/192361068-1b609711-6

[2022-09-26 19:17] iraklid commented on #3213
Seems like very simple issue, yet cant find any doc to tell what to do in this case. `hardhat-toolbox` is magical box without any proper documentation...

[2022-09-27 02:17] developerjakesung commented on #2043
such a big help!

[2022-09-27 03:43] Gizmolala commented on #3209
Thank you for the info @LuisUrrutia , used your code but  the same  error occurs `error: ProviderError: HttpProviderError`

[2022-09-27 04:09] mingxin-yang commented on #381
Hello, I am a newbie in blockchain, I need to deploy contracts to different networks, and when I switch networks in the project, I can automatically switch to use different abi and json files. Can I use `hardhat-deploy`? Does the plugin do my job?

@fvictorio  @wighawag

[2022-09-27 08:57] fvictorio commented on #3202
Thanks @gabririgo, I was able to reproduce it now. I believe this is something that belongs to the solidity-coverage repo, and I see that you've already opened [an issue](https://github.com/sc-forks/solidity-coverage/issues/752) there. I'm going to close this for the time being, but please let me know if there's something we can do on our side.

[2022-09-27 08:57] #3202 closed

[2022-09-27 09:23] gfijrb opened #3214 "Deploy script doesn't work with goerli testnet"
I get nothing error in console. The transaction is not broadcasting while a long time, no pending transaction in blockexplorer.

scripts/deploy.ts
[code]
hardhat.config.ts
[code]

[2022-09-27 09:28] fvictorio commented on #957
@brozorec sorrry about that! I published a new version that should fix that issue. `npm i hardhat@esm` should upgrade it to that version.

[2022-09-27 10:00] fvictorio commented on #957
Well, to be honest, typescript+esm support is not quite there yet. I can't get scripts to run properly, and tests have to be `.cts` to work (which kind of defeats the purpose?) I'll let you know folks here when that's working reasonably well.

[2022-09-27 10:01] fvictorio commented on #2167
@ccostel that seems off-topic for this issue, can you [open a discussion](https://github.com/NomicFoundation/hardhat/discussions/new) about that? Please explain what exactly you are trying to do, because changing the name of the network on runtime seems super weird to me.

[2022-09-27 10:02] gfijrb commented on #3214
Should add fee parameters to deploy function like

[code]

[2022-09-27 10:02] #3214 closed

[2022-09-27 10:03] gabririgo commented on #3202
sure, I reverted to hardhat upgrade only, and it still fails with same error. I guess you are using a new version of solidity-coverage that has this issue. Please note also hardhat-deploy suffers from same bug, as in [this PR](https://github.com/RigoBlock/v3-contracts/pull/112) generated by dependabot version upgrades.

[2022-09-27 10:08] fvictorio commented on #3194
I think the underlying cause here is the same as in https://github.com/NomicFoundation/hardhat/issues/2995

The reason is that when forking starts, the latest block is fetched and processed. If that block has txs with "unknown" types, then the fork initialization fails. In this case, since the initialization is triggered by a network helper, then we are (incorrectly) assuming that it failed becaus

[2022-09-27 10:17] fvictorio commented on #2301
@msmyers sadly that is a limitation of Hardhat's architecture right now. The arguments are not available in the config because we need to resolve the config before knowing all the kinds of arguments that will exist.

We've discussed exposing only the "global" arguments in the config (`--network` being the most useful one) as a possible solution for this, but we haven't done that yet.

[2022-09-27 10:39] fvictorio commented on #2109
Hey @0xthk, sorry but I'm having a hard time trying to reproduce this. I created a project with all the dependencies in that package.json and imported all those hardhat plugins, but the prettified BigNumber still works for me. If you can share the repo where this is happening or, even better, create a minimal reproduction example, I'll take another look.

Another thing you can try is to require th

[2022-09-27 10:46] fvictorio commented on #3085
Well, I was willing to help you a bit more but you lost me there. Please learn to act like a decent human being and then open a new issue.

[2022-09-27 11:00] fvictorio commented on #3212
Your `etherscan` config is within the `networks` object, but it should be at the top of the config:

[code]

[2022-09-27 11:01] fvictorio commented on #3213
@iraklid which version of `npm` are you using? Please share the output of `npm --version`

[2022-09-27 11:09] fvictorio commented on #3209
For the record, this is only true if you are using certain bundle tools. That's not the case for Hardhat; destructuring `process.env` should work just fine.

@Gizmolala your problem is likely an error in the node, but we have a bug were we are swallowing the proper error message returned by it, which will make it hard for you to debug this.

A super hackish thing you can try is this:

- Open the `

[2022-09-27 12:43] iraklid commented on #3213
<img width="830" alt="CleanShot 2022-09-27 at 16 38 38@2x" src="https://user-images.githubusercontent.com/91540149/192528428-6e160bd5-63f4-4d53-9d61-b1ce6168cf2c.png">

Hey @fvictorio thanks for quick reply. Here is the `npm` version I am using, documentation says version 7 and higher, so it should be fine

[2022-09-27 13:34] fvictorio commented on #3213
And `npm install` doesn't fix the problem? That's weird. Any chance you can share your repo?

[2022-09-27 16:02] alcuadrado opened #3215 "Starting a Hardhat Network fork is slow"
Currently, we do load all the local accounts' states from the remote network, which takes time (>1s).

We should do this lazily in the state manager the first time each of those is accessed.

[2022-09-27 16:34] amanusk opened #3216 "No revert trace when using factory from `typechain`"
This might be related to #2848 and #2248 (what is this, EIPs?! ;) )

Running failed tests when importing a contract via `getContractFactory` works as intended.
However, when importing via `Contract__factory` from typechain, and using `attach`, there is no trace if there is a failed transaction.

Importing from `typechain` is useful since it enables autocomplete for functions (using coc-typescript)

[2022-09-27 17:55] TheRook opened #3217 "Display the contract's state when using --verbose on all failures."
When there is a test failure the engineer might need more information about the internal state of the contract, such as printing out the entire `rawLog` member so that all log events can be seen.  One step better would be to iterate over the contract's object and to print out all members to the user, which would include rawLog and other side-effects.

Maybe this could be included in --verbose, or

[2022-09-27 18:51] iraklid commented on #3213
Sure, https://github.com/idarbuashvili/hardhat-simple.

But the thing is that, it contains nothing extra, its boilerplate generated by `npx hardhat`. So what I did is:

`mkdir hardhat-tut`

`cd hardhat-tut`

`npm init -y`

`npx hardhat` - Here choose typescript project and install `hardhat-toolbox` as well.

Running `npx hardhat compile` throws above error.

I am on MacOS Monterey, m1 macbook pro.

[2022-09-28 01:56] jiaochangyang commented on #3059
I believe you are right that this functionality does what is requested. Would it be possible to expose this as a public functionality?

[2022-09-28 06:43] Gizmolala commented on #3209
Same error `Error: cannot estimate gas; transaction may fail or may require manual gas limit [ See: https://links.ethers.org/v5-errors-UNPREDICTABLE_GAS_LIMIT ] (reason="execution reverted", method="estimateGas",`
`error: ProviderError: HttpProviderError`

[2022-09-28 06:44] jdspugh opened #3219 "Support testing for anonymous events"
Contract:
[code]
Text code:
[code]
The test code will work if Update is not anonymous. If it is anonymous this error will be output:
[code]
Support for anonymous events would be great.

[2022-09-28 07:46] zbirenbaum commented on #2995
None of the linked patches work when trying to set                    `ignoreUnknownTxType: true,` from within hardhat.config, and most of them don't seem to work for me even when passing the cli parameters as was the case for others here.

This issue has caused me no shortage of headaches and has been really frustrating for my team. I hope this gets resolved soon, but in the meantime, for anyone

[2022-09-28 07:57] gzeoneth commented on #2995
@zbirenbaum mind to share your setup / repo that's not working with the above patches? Myself and a few others have been able to use it with hardhat.config but since I am not that familiar with hardhat I probably have missed something. It seems that hardhat will initialize the fork with the config but then do another hardhat_reset to change the blocknumber, but it won't have the ignore flag set, s

[2022-09-28 07:58] zbirenbaum commented on #2995
I'll make a proper patch file tomorrow, it's late here rn

[2022-09-28 08:40] fvictorio commented on #3219
Makes sense, thanks for reporting this!

If I remember correctly, anonymous events cannot be filtered, so they can't really be distinguished from other anonymous events. This means that this would need a different API that just means "an anonymous event was emitted" and, in your example, `'Update'` wouldn't be used in the assertion. Something like:

[code]

Do you think that would be acceptable?

[2022-09-28 08:45] fvictorio commented on #2995
We'll definitely prioritize this. Sorry everyone for not responding sooner!

Since a lot of you are struggling with this, maybe we can publish a `dev` version with _some_ fix to be used in the meantime, until we can be confident we have a proper solution to release as a stable version. I'll let you all know when/if we do that.

[2022-09-28 10:48] Nathan-SL opened #3221 "How to make user defined network config url property optional"
We're building a [hardhat plugin](https://github.com/Shard-Labs/starknet-hardhat-plugin). How should the plugin be written so that custom networks can omit the url property? Currently, user-defined network configs don't allow omitting the `url` property and for some special cases, it seems reasonable to have a way to support it as an optional property.  Here's the error we get from the validator.

[2022-09-28 14:59] w3nda opened #3222 "Warning: Calling an account which is not a contract"
Hey hardhat team!
I am seeing the following warning:
[code]

To give a little context, I am using the localhost network with hardhat node.
I have two contracts that I wrote to try to reproduce a re-entrancy attack.

This is a flow example of what I trigger.
[code]
and that withdraw loop ends when contractB runs out of balance.

In simple terms, from a js script I trigger contractA.attack -> that t

[2022-09-28 15:26] Sceat commented on #957
actually what is the point of using esm if you use typescript, you already have access to the syntax

[2022-09-28 15:30] winor30 opened #3223 "Private keys can be derived even if the mnemonic has line breaks"
Even if a newline character is added to the correct mnemonic, `deriveKeyFromMnemonicAndPath` can still derive private keys.

Following the test (`Should not derive the wrong keys that are added '\\n’`) should be successful. but `deriveKeyFromMnemonicAndPath` returns private key and the test is failed.

https://github.com/NomicFoundation/hardhat/compare/main...winor30:hardhat:fix/add-newline-char-m

[2022-09-28 17:28] fvictorio commented on #3209
@Gizmolala sorry, I wasn't clear, I meant that you should see something that starts with `error --->` in the output, and that that should explain what's going on. That change is just a hack to get more information, not an actual fix.

[2022-09-28 17:36] fvictorio commented on #957
@Sceat it's necessary if you want to use a package that is published as ESM. And since Sindre did that for most of his bazillion npm packages, some people are migrating to be able to use them.

[2022-09-28 22:17] Olyno commented on #957
I agree with @Sceat. A typescript library has the opportunity to be compiled in both CJS and ESM. Many developers have already done this, and it's clearly not the most complicated thing.

The big problem is the Hardhat base code, which is not favorable to this conversion. Many syntaxes are exclusive to CJS, especially the ``require`` used in functions to import modules dynamically.

I have already

[2022-09-28 22:33] karmacoma-eth commented on #2453
I am getting hit by this, I have a hardhat test on [this branch](https://github.com/showtime-xyz/nft-editions/tree/hardhat-incorrect-parameters-repro) that passes with `viaIR: false` but fails with `viaIR: true`

[2022-09-29 03:57] Gizmolala commented on #3209
You mean add this line `console.log("error --->", jsonRpcResponse)`  below  this line `if (isErrorResponse(jsonRpcResponse)) {`
and then in terminal  `npx hardhat run scripts/deploy.js --network avaxchain` to show the output right?

[2022-09-29 05:56] janaka45 commented on #2142
The major issue with that you haven't created a ***contracts*** directory in your code.Then you can implement sol file in it and run npx hardhat compile..It was worked for me...Thanks.

[2022-09-29 08:47] fvictorio opened #3224 "Make console.sol functionality configurable"
At the moment, all our `console.sol` calls are simply logged with `console.log`. This functionality cannot be disabled nor configured.

My proposal is to allow this in the config:

[code]

Where `true` is the default, `false` means disabled, and `ConsoleLogHandler` is something like:

[code]

I also considered doing `(...args: any[])`, but that's less future proof. For example, maybe later we want

[2022-09-29 08:51] fvictorio commented on #3224
Alternative functionality: some way to enable/disable the console.log functionality in runtime through the HRE. I don't think we have something analogue to this, so I'm not sure what would be the right API, but the essence of the idea would be:

[code]

[2022-09-29 11:24] akuter-bc commented on #1040
+1

[2022-09-29 12:29] zemse commented on #3224
[code]

Including `hre` would be more helpful, also how can one get access to the original console log handler? or is it simply `console.log(...args)`

[2022-09-29 12:34] w3nda commented on #3222
Closing this, was unrelated to hardhat.

[2022-09-29 12:34] #3222 closed

[2022-09-29 14:31] sashaaldrick commented on #2453
This happened to me on the most recent hardhat version, `2.11.2` with solidity `0.8.17` and I have a test with fails with `viaIR: true` but passes with `viaIR: true`.

[2022-09-29 16:03] arijoon opened #3226 "Hardhat dependency on local installation"
**Issue**

Hardhat requires the real path of the module to be under the current project. This limitation could be in contradiction with some usecases. For example if building each dependency with `nix` as a derivation, hardhat module will be an absolute path defined in `pnp.js` to its derivation (or it'll be a simlink in `node_modules` if not using yarn berry)

I have found and removed [this check

[2022-09-29 16:32] peetzweg commented on #2892
@alcuadrado setting it in the `hardhat.config.ts` works flawlessly. However, I would like to start a fork local node using the `hardhat node --fork` cli flag. It will pick up the chainId from the config, but I would rather pass in the also the `chainId` dynamically on the cli, with an argument like `--chain-id`.

Can we get a feature like that?

[2022-09-29 16:40] bolisteward commented on #2247
Hi, I got the same issue.
`Error in plugin @nomiclabs/hardhat-etherscan: Invalid API Key`
How I can solve this issue??.
I want to validate my smart contract on etherscan.

[2022-09-29 18:09] 0xV4L3NT1N3 commented on #2247
@bolisteward would you be able to try if your key works with other [API endpoints](https://docs.etherscan.io/api-endpoints/accounts) on web ?

[2022-09-29 18:38] bolisteward commented on #2247
@0xV4L3NT1N3 yes, but I get the same error.

[2022-09-29 19:31] 0xV4L3NT1N3 commented on #2247
Thanks, that likely indicates authentication is working fine on Etherscan's end, and may have something to do with your Hardhat config file

[2022-09-30 09:10] fvictorio commented on #3216
Wait, this confuses me. Typechain does return a properly typed contract when you do `getContractFactory("Foo")`. I just tested that, and I use `coc-typescript` too. The only reason that I can think of for it not working is that the types haven't been generated yet, but they should be available after compiling your contracts.

[2022-09-30 09:14] fvictorio commented on #3216
Oh, I know why it's not working for you. Can you remove the `include` and `files` entries of your `tsconfig.json` and try again?

[2022-09-30 09:36] fvictorio commented on #3213
If I clone that project, use `npm@8.19.2` (the one you have), and install the dependencies. I indeed get an error, but not the one about typescript not being installed. I get an ESM error, because your `package.json` has `"type": "module"`. I guess you added it manually, because `npm init -y` doesn't include that. We don't support ESM yet, but we are [working on it](https://github.com/NomicFoundat

[2022-09-30 09:58] fvictorio commented on #3221
I don't think this is doable right now. Maybe we could move that validation after the config is resolved, and that way you could put some dummy urls with `extendConfig`. But I would like to understand the problem better:

Can you expand on this?

[2022-09-30 10:03] fvictorio commented on #3223
To clarify, you are expecting that adding a newline at the end of the mnemonic should throw an error?

I think this is just us (or the library we are using) trimming the string before deriving the private keys. This doesn't seem super problematic to me, but I could be wrong, can you ellaborate on why this is an issue?

[2022-09-30 10:20] hugoroussel commented on #2995
Any news on this? The patches do not work for me :(

[2022-09-30 10:31] fvictorio commented on #3209
Yes

[2022-09-30 11:52] fvictorio commented on #3226
IIRC, it's meant to prevent people from using a globally installed version of Hardhat, since that can cause issues if you then install the plugins locally.

Your use case seems reasonable to me though. I think we could have an escape hatch for this, but it should be a somewhat advanced (and not documented) mechanism. Maybe an environment variable like `__HARDHAT_ALLOW_NON_LOCAL_INSTALLATION=true`?

[2022-09-30 11:53] fvictorio commented on #2892
@peetzweg that feature request is being tracked [here](https://github.com/NomicFoundation/hardhat/issues/2305).

[2022-09-30 12:51] Gizmolala commented on #3209
did that ```
Error: cannot estimate gas; transaction may fail or may require manual gas limit [ See: https://links.ethers.org/v5-errors-UNPREDICTABLE_GAS_LIMIT ] (reason="execution reverted", method="estimateGas",
error: ProviderError: HttpProviderError
[code]

[2022-09-30 13:38] mok0230 commented on #381
@fvictorio would love to try out Ignition!

[2022-09-30 13:40] rube-de commented on #3212
I wish that this would be the issue, but sadly I just copied it in my post just wrongly together.
I have etherscan on the top level , same as networks.

[2022-09-30 13:46] alcuadrado commented on #3226
The first few versions of Buidler tried to allow global installations, which lead to users doing things like:

* install hardhat globally
* install plugins locally
* plugins `require`ing `hardhat`
* error

I agree that this check is too strict. Any idea on how to remove it and still rule out global installations?

[2022-09-30 14:01] arijoon commented on #3226
Can do something similar to yarn v3's checks. It no longer allows a package to be required if its not defined in `package.json`. So you can read the project's package.json and ensure there is a hardhat dependency or devDependency set.

If this is only for plugins, I would still recomment this check to be a warning or have an env var that sets the path of `package.json` in case in some edge cases i

[2022-09-30 16:47] alectrico-pro commented on #1280
Hi, I solved the problem by letting hardhat to cache locally.
Just in case you are using compose pluging and Docker.

Dockerfile.
[code]
compose.yml
[code]

[2022-09-30 18:19] fvictorio commented on #3226
What about doing: `require.resolve("hardhat", { paths: [process.cwd()] })` to check if Hardhat is available?

[2022-09-30 18:23] fvictorio commented on #3226
Oh, that's exactly what we are doing now :man_facepalming: But in that case I don't understand why it works for you after removing the check @arijoon. If you can't `require("hardhat")` then tests/scripts won't work?

[2022-09-30 21:12] thedavidmeister commented on #2453
i have a similar experience, failures that only appear with viaIR enabled

[2022-10-01 10:22] winor30 commented on #3223
thank you for your reply.
I found this problematic because when I used hardhat, I was able to deploy at an address I did not expect when I did a deploy using mnemonic with \n in it.

I felt that if the error occurred when mnemonic with the \n was used, then I would not have to use an unwanted address.

However, if it is not HARDHAT's responsibility to remove the \n, then this may not be a problem.

[2022-10-01 12:43] itinance opened #3230 "Executing functions on cloned contracts always fails with CALL_EXCEPTION"
### The Issue

I came across an issue which makes testing of Factories and Proxies impossible at the moment:

calling a function of a contract address, which was created via `Clones.clone` from OpenZeppelins Minimal-Proxy-implementation reverts with CALL_EXECUTION when we attach the address onto a contract variable via `attach` or `getContractAt`.

Lets say we have a test, which
1. creates a Sampl

[2022-10-01 13:20] itinance commented on #2894
Maybe my issue is very similar. I provided also a reproducable github repository: https://github.com/NomicFoundation/hardhat/issues/3230

[2022-10-01 15:25] iraklid commented on #3213
Created clean dir on desktop, and got same error (https://cln.sh/VCQBQG), after running clean hardhat setup with typescript. Must be some edge case on my system. Here the list of global packages I have installed and npm version, maybe something is messing with hardhat internals.

<img width="373" alt="CleanShot 2022-10-01 at 19 22 52@2x" src="https://user-images.githubusercontent.com/91540149/1934

[2022-10-01 15:30] iraklid commented on #3213
I am generally updating node using nvm and moving the global packages from previous node install, nvm does global package move automatically. Maybe that is causing an issue, bit later will install clean node version and try above setup again. Do I need any global packages preinstall,  or clean node/npm should be enough, for `hardhat-toolbox` to work out of the box?

[2022-10-02 03:09] sclongyang commented on #2684
Thanks a lot, it works!

[2022-10-02 11:10] thedavidmeister commented on #2306
yeah looking for this

[2022-10-02 21:58] zbirenbaum commented on #2995
With the 2.11.2 patch, and most of the others I believe, if you have
[code]
defined in your hardhat config, `npx hardhat node --fork-ignore-unknown-tx-type true` will fail, but if it is not defined, the command will work. Regardless, any attempt to set the flag from your hardhat config will fail.

[2022-10-03 07:02] kennysliding opened #3231 "proposal to support import remapping using remappings.txt"
Proposal: when compiling the contracts, hardhat should look for the path alias defined in remappings.txt, and replace the path as defined in the solidity [docs](https://docs.soliditylang.org/en/v0.8.17/path-resolution.html#import-remapping)

a simple example,

`remappings.txt`:
[code]
and in the contracts:
[code]

[2022-10-03 07:58] gfijrb opened #3232 "[PROPOSAL] Add isContract check on contract attach, contract instance create"
If pass to contract instance EOA address, transactions executing without throw, but I expect that it will be contract. It usually happened as mistake but spend many time for recheck deploy scripts.

[2022-10-03 08:12] fvictorio commented on #3212
Oh damn. Can you share the updated version of the hardhat config then?

[2022-10-03 08:21] arijoon commented on #3226
I can `require('hardhat')`, since it is installed for the project, just not in a sub-directory of the project. The current check asserts location of the hardhat package.json, but we can simply assert whether the current project, has a `hardhat` dependency in its package.json and ignore its real path

[2022-10-03 08:21] Nathan-SL commented on #3221
Yes, If validation happens after config is resolved, providing an empty string inside 'extendConfig' will help us.

On our custom network, `integrated-devnet`, we intend to enable users to run their programs (by spawning as child processes in different random free ports).

[2022-10-03 08:25] fvictorio commented on #2453
Hi folks, we are [working](https://github.com/NomicFoundation/hardhat/pull/3205) on some having basic support for this, but please keep in mind that we won't be able to have a really good support until [this issue](https://github.com/ethereum/solidity/issues/12533) is fixed. The reason is that Hardhat relies on non-optimized code for a lot of its heuristics, and `viaIR` doesn't really work right n

[2022-10-03 08:49] fvictorio commented on #3223
Oh wait, I see what you mean now. This:

[code]

produces a different set of keys than this (that ends on a newline):

[code]

I do agree this is problematic. At the very least we should be trimming the mnemonic (which I thought we were doing, but we aren't).

Thanks for reporting it!

[2022-10-03 08:53] fvictorio commented on #3223
Btw, if you are interested in sending a PR that fixes this, I think it should include:

1. Trimming the mnemonic (probably in `src/internal/util/keys-derivation.ts`, although you could argue that it should be done in the config resolution... maybe both places should do it)
2. Adding a couple of tests that check that the same keys are generated for `mnemonic`, `\n${mnemonic}`, `    ${mnemonic}`, `$

[2022-10-03 08:57] fvictorio commented on #3232
Hi @gfijrb, I think this should be a feature request for [ethers.js](https://github.com/ethers-io/ethers.js/issues)?

[2022-10-03 09:03] fvictorio commented on #3213
Clean node should be enough.

I wonder if the problem is that you have `typescript` globally installed. If that's the case, it would a bug on our side.

[2022-10-03 09:05] fvictorio commented on #3221
That's very interesting.

@alcuadrado what do you think about moving the `url` validation after resolution?

[2022-10-03 09:51] vladikopl01 opened #3234 "hardhat-chai-matchers: Add possibility to check called functions as in ethereum-waffle with and without arguments"
Please, could you add the possibility to check called methods as in `ethereum-waffle` package with and without arguments?

I suppose it will be handy to test some logic that should be executed right after contract deployment or to have more variety when users will test contract functions.

Example from `ethereum-waffle` docs:
[code]

[2022-10-03 10:44] fvictorio commented on #1695
We have dark mode now :partying_face:

[2022-10-03 10:44] #1695 closed

[2022-10-03 10:45] fvictorio commented on #1696
Thank you for the reminder @frontier159!

[2022-10-03 10:45] #1696 closed

[2022-10-03 10:48] lightrao commented on #3089
same problem

[2022-10-03 11:15] winor30 commented on #3223
Thanks for the suggestion!
Please let me fix this!

[2022-10-03 11:34] fvictorio commented on #3223
Be my guest :smile:

[2022-10-03 11:46] KavyaBhalodia commented on #2242
use npx hardhat node instead of npx hardhat account

[2022-10-03 13:11] fvictorio commented on #2642
Hi, I'm sorry for the super late response, this issue kind of slipped through the cracks.

We don't (and won't, for security reasons) automatically use the same chain id as the remote network. Otherwise you could be signing a replayable transaction. In most cases this will be safe, but we are erring on the side of being paranoid here.

So, that being said, I think we should close this in favor of

[2022-10-03 13:11] #2642 closed

[2022-10-03 13:19] fvictorio commented on #2755
Hmm, with this contract:

[code]

I get a stack trace like this:

[code]

Where line 8 corresponds to `require(msg.sender == _owner, "You are not the owner");` and line 12 to `function f() external ownerOnly {`, which seems correct?

I'm using solc 0.8.9 and the optimizer is disabled.

@lukehutch @vulntor maybe you have the optimizer enabled? In that case, the line numbers can be off.

[2022-10-03 13:25] fvictorio commented on #2815
I believe these are fixed, but please let us know if that's not the case.

[2022-10-03 13:25] #2815 closed

[2022-10-03 13:26] fvictorio commented on #2849
Closing for lack of MRE.

[2022-10-03 13:26] #2849 closed

[2022-10-03 13:34] #2906 closed

[2022-10-03 13:37] fvictorio commented on #2965
Closing for lack of reproduction steps.

[2022-10-03 13:37] #2965 closed

[2022-10-03 13:42] fvictorio commented on #3063
Wow, such lack of details, much closing

[2022-10-03 13:42] #3063 closed

[2022-10-03 14:28] fvictorio commented on #3103
Hi @apexmfer, thanks for reporting this and sorry for not responding before.

For the record, I get this message:

Which is not ideal, but it points to the line number of the signature. Were you getting something worse than that?

Note for ourselves:

I wonder why this doesn't cause the correct panic code (`0x21 (Tried to convert a value into an enum, but the value was too big or negative)`). Mayb

[2022-10-03 14:51] #2048 closed

[2022-10-03 14:52] fvictorio commented on #2019
I'm not sure if this is something we fixed when we added support for node v18 or not. In any case, I'm going to tentatively close it. Please comment or open a new issue if you are running into a similar problem.

[2022-10-03 14:52] #2019 closed

[2022-10-03 15:19] QuiNoah00 commented on #2995
`**ERROR** Failed to apply patch for package hardhat at path

    node_modules/hardhat

  This error was caused because hardhat has changed since you
  made the patch file for it. This introduced conflicts with your patch,
  just like a merge conflict in Git when separate incompatible changes are
  made to the same piece of code.

  Maybe this means your patch file is no longer necessary, in which

[2022-10-03 15:38] fvictorio commented on #3234
Hi @vladikopl01, thanks for opening this.

This is something we want to do at some point, although I can't say when we'll be able to do it. In any case, we'll use this issue to track the feature request.

[2022-10-03 16:34] gzeoneth commented on #2995
@QuiNoah00 you don't need the patch if you are installing my npm package

[2022-10-03 16:48] TheRook commented on #3217
Everyone using this software could benefit from being able to see the event log when there is an error.  A little bit of information goes a long way in debugging a complex issue.

[2022-10-03 19:13] lukehutch commented on #2755
@fvictorio I should have specified, the test `msg.sender == _owner` should succeed (since in the original report, the error was "Can't call this method" not "You are not the owner"). To simplify the code:

[code]

The error will be shown with the location `_;` ("line 100" as labeled).

Additionally, the calling context (one stack frame deeper) does not always show in the stack trace when there is

[2022-10-03 19:19] adatta02 commented on #3000
FYI something similar is happening with me on Truffle with Alchemy when I try to deploy a contract. This only started happening in the last 2 weeks.

The contract TX is successful but the "eth_getTransactionReceipt" call returns a -3200 from Alchemy. Truffle seems to never retry the eth_getTransactionReceipt call after receiving the -3200 response so I assume its not expected. If I re-run that req

[2022-10-03 20:53] kevincheng96 opened #3237 "Unrecognized custom error message not returning custom error selector"
Hi Hardhat team, I'm not seeing the custom error selector returned in the `unrecognized custom error` error message that Hardhat produces. I [originally responded](https://github.com/NomicFoundation/hardhat/pull/2973#issuecomment-1253972559) on the PR that implemented this feature as part of [version 2.10.2](https://github.com/NomicFoundation/hardhat/releases/tag/hardhat%402.10.2). I was asked to

[2022-10-03 22:17] henry-wrightman commented on #3212
why was this closed? i'm facing the same issue - has this been resolved?

[2022-10-04 15:01] mihaic195 commented on #957
I'm getting the same thing on a nextjs project. Hardhat config is written in typescript, tests as well.

I'm trying to import the hardhat runtime environment to perform programmatic verification of the smart contracts, but once imported into a nextjs api endpoint, it fails with the above error.

Changing the hardhat config to js fixes the error and everything works fine, but then my tests will not

[2022-10-04 16:12] ZahraaHawie opened #3240 ""We couldn't initialize the sample project because this file already exists: README.md""
I'm working on a react app and I want to connect it to a smart contract. Upon hardhat initialization I got this error:

"We couldn't initialize the sample project because this file already exists: README.md"

[2022-10-04 17:11] karmacoma-eth commented on #2453
@fvictorio can you give us some insight into why heuristics are needed at all? The data returned by REVERT is deterministic

[2022-10-04 17:19] penandlim commented on #1688
Note that this is currently blocking estimating costs on forked network for Arbitrum Bridge as some of their inner working contracts reference basefee to calculate the cost for bridging.

Looks like it returns zero on view / callstatic but uses expected value on write calls.

[2022-10-04 17:20] penandlim commented on #1688
Relevant issue: https://github.com/NomicFoundation/hardhat/issues/3028

[2022-10-04 20:44] Dkdaniz opened #3241 "[PROPOSAL] Add support RegExp in the revertedWith function"
I would like to suggest supporting regular expression (regex) in the hardhat-chai-matchers plugin.

In the test below with the current version my test will fail:

[code]
This is because string only is supported, so I would like to suggest changing the current following lines from:

https://github.com/NomicFoundation/hardhat/blob/6d497ab6fae57a018407bab0c3dda57024d74935/packages/hardhat-chai-matche

[2022-10-04 23:50] zbirenbaum commented on #2995
For anyone still struggling with this, I found a way to set up your project with the 2.11.2 patch here so that every time you run `npx hardhat node` it will automatically set up the network correctly for you, without having to worry about cli args or anything. You will need to create a .env file that contains the line
`export `INFURA_API_KEY='<you-api-key>'` in the root of your project, or just ch

[2022-10-05 01:45] ygit1 commented on #3109
How do I connect hardhat to my own private geth chain?

[2022-10-05 02:53] ygit1 opened #3242 "hardhat.config.js with private geth chain?"
I could not connect to private geth chain

[code]

[2022-10-05 06:53] JussaMouse opened #3244 "Small typo on website"
There is a small typo in the code presented in the [Full Coverage section of the Testing Contracts page of the tutorial](https://hardhat.org/tutorial/testing-contracts#full-coverage)

(line 31):
`    // its deployed() method, which happens onces its transaction has been`

As you can see, the word "once" has a trailing "s".

[2022-10-05 08:55] xpanvictor commented on #1289
Actually, check the type and the data you're trying to sign very well. Just resolved mine :)

[2022-10-05 13:26] aliveli186 opened #3245 "CALL_EXCEPTION stops running node"
A call to a contract results in running node to stop.
hardhat v2.11.2:

Last message from node:
[code]

Script error:
[code]

[2022-10-05 14:03] art-bohdan commented on #2248
Hi, I had the same problem mentioned that does not return correct error and always: `Error: cannot estimate gas; transaction may fail or may require manual gas limit. `
I see that this is seemingly fixed in the case of view function, but in the case of transaction using gas it is not.

**My solution is that, we have the returned error:**
`Error: cannot estimate gas; transaction may fail or may req

[2022-10-05 15:32] 15239506175 commented on #2348
![QQ截图20221005232532](https://user-images.githubusercontent.com/76809473/194100320-47667119-d700-4864-9935-bf1f373bd82b.png)
use this can help window user

[2022-10-05 17:21] fvictorio commented on #3244
Thanks a lot @JussaMouse. This is especially important, I'm glad that you reported it:

[2022-10-05 17:31] #3244 closed

[2022-10-05 18:43] skosito opened #3249 "Load fixture issues"
Sometimes using same fixture in lot of tests throws this error:

[code]

There is no nested loadFixture, tests are working properly until some amount of loadFixture calls for same fixture across multiple files (therefore multiple describe blocks), but after, for example 10-15 usages it starts failing. If I take same fixture and just rename it and start using it, it works. Is there some limit or be

[2022-10-06 10:52] mattjaf opened #3251 "Stuck verifying my contract"
I upgraded my packages and deployed to sepolia and it it says it submitted the source code successfully and
for verification on the block explorer. Waiting for verification result...

for like the past 20 minutes

[code]

it verified after like an hour...

something else i noticed, why is it recompiling after every deployment? normally its like `nothing to compile`
or at least how I recall it at t

[2022-10-06 15:03] fvictorio commented on #3237
Oh, and in that case, I think this is a duplicate of https://github.com/NomicFoundation/hardhat/issues/3091. Can you confirm if that's the case?

[2022-10-06 15:19] fvictorio commented on #957
@mihaic195 yes, adding support for typescript + ESM will be hard, because there's not good support for that in `ts-node` yet :disappointed:

[2022-10-06 15:26] fvictorio commented on #2453
@karmacoma-eth you are right that for revert reasons, things should just work. I was referring more to general support for viaIR compiled code.

In this particular case, what's happening is that we still run some heuristics when an error has revert data, which is probably a mistake (at least if the revert data is an `Error(string)`). And some of those heuristics make assumptions that are broken by

[2022-10-06 15:29] fvictorio commented on #1688
Thanks for the extra data @penandlim, I will update the priority of this issue.

[2022-10-06 15:30] fvictorio commented on #3241
Hi @Dkdaniz, I like this idea, thanks for suggesting it!

[2022-10-06 15:36] fvictorio commented on #3242
Hi, I can't really help you with geth related stuff, but I'd suggest making sure that the proper http config is used in the geth command. At the very least you should be doing something like `--http --http.api personal,eth,net,web3`. Check [their docs](https://geth.ethereum.org/docs/rpc/server).

[2022-10-06 15:49] fvictorio opened #3252 "Allow enabling EIP-3074"
See https://github.com/ethereumjs/ethereumjs-monorepo/issues/2332.

This should be something fairly easy to do, my main concern is how to offer this functionality.

Maybe we can start with an experimental environment variable, something like `_HARDHAT_ENABLE_EIP_3074`. If there's enough demand, we could actually add an option in the Hardhat config.

@alcuadrado thoughts?

[2022-10-06 16:40] Dkdaniz commented on #3241
if you want I can implement it @fvictorio 🫡

[2022-10-06 19:38] cameel commented on #2453
@fvictorio It's now possible to disable all Yul Optimizer steps and have only the stack-related optimizations enabled (see https://github.com/ethereum/solidity/issues/12533#issuecomment-1270574447). Would that be good enough to keep heuristics working?

[2022-10-06 20:39] aliveli186 commented on #3245
Yes it is enabled.
`viaIR: true`

[2022-10-07 02:49] alifarooq0 commented on #3195
Ran into this exact same issue. Took me a few hours to figure out my docker image was missing the `ld-linux-x86-64.so.2` lib.
For me just adding `RUN apk --no-cache add libc6-compat` did the trick.

[2022-10-07 07:54] fastchain commented on #1585
Checking gnosisSafe deployed on hardhat  virtualnode RPC

[code]

also see this in  virtualnode RPC logs

[code]

my hardhat version is

[code]

It all looks like the same issue is mentioned above :(

[2022-10-07 09:39] pokrovskyy commented on #2443
Now in post-Merge world - is this still even a thing? (I mean reorgs)

[2022-10-07 09:41] fastchain opened #3254 "Hardhat RPC eth_getStorageAt Invalid value supplied"
Hello,

[code]

How to reproduce:

Deploy gnosis-safe  with hardhat  (from this repo https://github.com/5afe/safe-tasks ) . Please setup your private key and  hardhat rpc in .env file.

[code]

on ` npx hardhat info` I get this :

[code]

also see this in  virtualnode RPC logs

[code]

I've  also  checked this behavior on public testnets, and it worked fine, as intended. So it seems to be hardhat

[2022-10-07 10:44] ygit1 commented on #3242
thank you for reply,  I think hardhat may not be supported geth private chain. I've scoured the web and can't find it.

[2022-10-07 11:00] jdspugh commented on #3219
Yes, that makes sense also. Thank you for considering this request.